Repository openshift/ovn-kubernetes, pull requests merged in 2019-09, with the labels that each got.

#19 Bug 1749131: Block access to MCS and metadata
  go-controller/pkg/cni/helper_linux.go
Labels: approved, bugzilla/valid-bug, lgtm, size/M

#22 ovnkube.sh: add OVNKUBE_SH_VERBOSE for 'set -x' debugging
  dist/images/ovnkube.sh
Labels: approved, lgtm, size/XS

#23 Bug 1749403: add iptables rules for Azure, etc, loadbalancers
  go-controller/pkg/cluster/gateway_init.go
  go-controller/pkg/cluster/gateway_init_linux_test.go
  go-controller/pkg/cluster/gateway_localnet.go
  go-controller/pkg/ovn/management-port.go
  go-controller/pkg/ovn/management-port_linux.go
  go-controller/pkg/ovn/management-port_linux_test.go
  go-controller/pkg/ovn/management-port_windows.go
  go-controller/pkg/ovn/management-port_windows_test.go
  go-controller/pkg/util/iptables.go
  go-controller/pkg/util/net.go
  go-controller/pkg/util/util.go
Labels: approved, bugzilla/valid-bug, lgtm, size/XL

#24 bug 1752023: images: disable cgo
  Dockerfile
Labels: approved, bugzilla/valid-bug, lgtm, size/XS

#25 bug 1748162 : OVN: make db ports configurable
  dist/images/ovnkube.sh
Labels: approved, lgtm, size/S
