Repository openshift/ovn-kubernetes, pull requests merged in 2019-10, with the labels that each got.

#29 update OWNERS
  OWNERS
Labels: approved, lgtm, size/S

#30 rebase to upstream 2019-10-08
  README_MANUAL.md
  dist/images/ovnkube.sh
  docs/ovn_k8s.conf.5
  docs/ovnkube.1
  go-controller/cmd/ovnkube/ovnkube.go
  go-controller/pkg/cluster/gateway_init.go
  go-controller/pkg/cluster/gateway_init_linux_test.go
  go-controller/pkg/cluster/gateway_spare_intf.go
  go-controller/pkg/cluster/master_test.go
  go-controller/pkg/config/config.go
  go-controller/pkg/config/config_test.go
  go-controller/pkg/ovn/endpoints.go
  go-controller/pkg/ovn/loadbalancer.go
  go-controller/pkg/ovn/management-port_linux.go
  go-controller/pkg/ovn/management-port_linux_test.go
  go-controller/pkg/ovn/management-port_windows.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_old.go
  go-controller/pkg/util/gateway-cleanup.go
  go-controller/pkg/util/iptables.go
Labels: approved, lgtm, size/XL

#34 update the vendor for the go-iptables vendor code
  go-controller/vendor/github.com/coreos/go-iptables/iptables/iptables.go
  go-controller/vendor/vendor.json
Labels: approved, lgtm, size/M

#41 gateway/localnet: work around disappearing br-nexthop IP address
  go-controller/pkg/cluster/gateway_localnet.go
Labels: approved, lgtm, size/S

#43 Rebase to latest ovn-kube
  dist/images/Dockerfile
  dist/templates/ovn-setup.yaml.j2
  docs/ovs_offload.md
  go-controller/cmd/ovnkube/ovnkube.go
  go-controller/pkg/cluster/gateway_init.go
  go-controller/pkg/cluster/gateway_init_linux_test.go
  go-controller/pkg/cluster/gateway_localnet.go
  go-controller/pkg/cluster/gateway_shared_intf.go
  go-controller/pkg/cluster/helper_linux.go
  go-controller/pkg/cluster/management-port.go
  go-controller/pkg/cluster/management-port_linux.go
  go-controller/pkg/cluster/management-port_linux_test.go
  go-controller/pkg/cluster/management-port_windows.go
  go-controller/pkg/cluster/management-port_windows_test.go
  go-controller/pkg/cluster/node.go
  go-controller/pkg/cni/bandwidth.go
  go-controller/pkg/cni/cni.go
  go-controller/pkg/cni/helper_linux.go
  go-controller/pkg/cni/helper_windows.go
  go-controller/pkg/config/config.go
  go-controller/pkg/config/config_test.go
  go-controller/pkg/kube/kube.go
  go-controller/pkg/ovn/common.go
  go-controller/pkg/ovn/ha_master.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/pods_test.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_common.go
  go-controller/pkg/ovn/policy_old.go
  go-controller/pkg/util/net.go
  go-controller/pkg/util/nicstobridge.go
  go-controller/pkg/util/util.go
  go-controller/vendor/k8s.io/client-go/tools/leaderelection/OWNERS
  go-controller/vendor/k8s.io/client-go/tools/leaderelection/healthzadaptor.go
  go-controller/vendor/k8s.io/client-go/tools/leaderelection/leaderelection.go
  go-controller/vendor/k8s.io/client-go/tools/leaderelection/metrics.go
  go-controller/vendor/k8s.io/client-go/tools/leaderelection/resourcelock/configmaplock.go
  go-controller/vendor/k8s.io/client-go/tools/leaderelection/resourcelock/endpointslock.go
  go-controller/vendor/k8s.io/client-go/tools/leaderelection/resourcelock/interface.go
  go-controller/vendor/k8s.io/client-go/tools/leaderelection/resourcelock/leaselock.go
  go-controller/vendor/vendor.json
Labels: approved, lgtm, size/XXL
