Repository openshift/ovn-kubernetes, pull requests merged in 2019-11, with the labels that each got.

#44 CARRY: gateway: fix unit tests for br-nexthop IP enforcement
  go-controller/pkg/cluster/gateway_init_linux_test.go
  go-controller/pkg/cluster/gateway_localnet.go
Labels: approved, lgtm, size/M

#45 Rebase
  dist/templates/ovn-setup.yaml.j2
  go-controller/cmd/ovnkube/ovnkube.go
  go-controller/pkg/cluster/node.go
  go-controller/pkg/config/config.go
  go-controller/pkg/kube/kube.go
  go-controller/pkg/ovn/common.go
  go-controller/pkg/ovn/endpoints.go
  go-controller/pkg/ovn/ha_master.go
  go-controller/pkg/ovn/metrics.go
  go-controller/pkg/ovn/namespace_test.go
  go-controller/pkg/ovn/ovn.go
Labels: approved, lgtm, size/L

#50 Don't clear node switch exclude IPs
  go-controller/pkg/cluster/management-port_windows_test.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
Labels: approved, lgtm, size/S

#51 cni: actually return error messages on pod ADD failures
  go-controller/pkg/cni/cni.go
  go-controller/pkg/cni/cniserver.go
  go-controller/pkg/cni/types.go
Labels: approved, size/M

#48 OVN: bump to ovs-2.12
  Dockerfile
Labels: approved, lgtm, size/S

#59 Upstream merge 2019 11 10
  dist/templates/ovnkube-db-vip.yaml.j2
  dist/templates/ovnkube-db.yaml.j2
  dist/templates/ovnkube-master.yaml.j2
  dist/templates/ovnkube-node.yaml.j2
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/pods_test.go
Labels: approved, lgtm, size/L

#60 Dockerfile: remove unecessary --enablerepo
  Dockerfile
Labels: approved, lgtm, size/XS

#54 Bug 1755190: ovn: fix a deadlock in the NetworkPolicy code
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_old.go
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, lgtm, size/S
