Repository openshift/ovn-kubernetes, pull requests merged in 2020-06, with the labels that each got.

#178 Bug 1845202: Fix deadlock, fix service lag.
  go-controller/cmd/ovnkube/ovnkube.go
  go-controller/hybrid-overlay/cmd/hybrid-overlay-node/hybrid-overlay-node.go
  go-controller/hybrid-overlay/pkg/controller/master_test.go
  go-controller/hybrid-overlay/pkg/controller/node_linux_test.go
  go-controller/pkg/factory/factory.go
  go-controller/pkg/factory/factory_test.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/ovn/loadbalancer.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/ovn_test.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, group-lead-approved, lgtm

#173 Bug 1838259: scale: Enable parallel pod creation
  go-controller/pkg/factory/factory.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, lgtm

#182 Bug 1845702: build: require openvswitch2.13 >= 2.13.0-29 or later
  Dockerfile
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, lgtm

#188 Fix order of pods, namespaces, services and endpoints
  go-controller/pkg/ovn/ovn.go
Labels: approved, lgtm

#189 OWNERS: sync to CNO
  OWNERS
Labels: approved, lgtm

#183 Bug 1845705: build: require openvswitch2.13 >= 2.13.0-29 or later
  Dockerfile
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, group-lead-approved, lgtm

#184 Bug 1845706: build: require openvswitch2.13 >= 2.13.0-29 or later
  Dockerfile
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, cherry-pick-approved, lgtm

#144 cni: update MCS-blocking code to do both IPv4 and IPv6
  go-controller/pkg/cni/helper_linux.go
  go-controller/pkg/cni/iptables_blocking.go
Labels: approved, lgtm

#199 Bug 1849728: UPSTREAM 1465: Correct the way that externalGateway and VTEP IP are copied
  go-controller/hybrid-overlay/pkg/controller/node_linux.go
  go-controller/hybrid-overlay/pkg/util/util.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, lgtm
