Repository openshift/ovn-kubernetes, pull requests merged in 2020-12, with the labels that each got.

#347 Bug 1898269: Fix broken make check on 4.6
  go-controller/pkg/ovn/gateway_test.go
  go-controller/pkg/ovn/master_test.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#358 Bug 1897480: Bump OVS to >= 2.13.0-72.fdp8 for lldpd CVE fix
  Dockerfile
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#323 Add missing python3-pyOpenSSL library
  Dockerfile
Labels: approved, lgtm

#365 Bump OVN to 20.09.0-20
  Dockerfile
Labels: approved, lgtm

#344 Dockerfile: Add required packages to enable IPsec
  Dockerfile
Labels: approved, lgtm

#371 2020-12-05 upstream merge (ovnkube trace, gateway ingress CI, misc fixes)
  docs/ovnkube-trace.md
  go-controller/Makefile
  go-controller/cmd/ovnkube-trace/ovnkube-trace.go
  go-controller/go.sum
  go-controller/pkg/cni/cnishim.go
  go-controller/pkg/node/gateway.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/node.go
  go-controller/vendor/github.com/docker/spdystream/CONTRIBUTING.md
  go-controller/vendor/github.com/docker/spdystream/LICENSE
  go-controller/vendor/github.com/docker/spdystream/LICENSE.docs
  go-controller/vendor/github.com/docker/spdystream/MAINTAINERS
  go-controller/vendor/github.com/docker/spdystream/README.md
  go-controller/vendor/github.com/docker/spdystream/connection.go
  go-controller/vendor/github.com/docker/spdystream/handlers.go
  go-controller/vendor/github.com/docker/spdystream/priority.go
  go-controller/vendor/github.com/docker/spdystream/spdy/dictionary.go
  go-controller/vendor/github.com/docker/spdystream/spdy/read.go
  go-controller/vendor/github.com/docker/spdystream/spdy/types.go
  go-controller/vendor/github.com/docker/spdystream/spdy/write.go
  go-controller/vendor/github.com/docker/spdystream/stream.go
  go-controller/vendor/github.com/docker/spdystream/utils.go
  go-controller/vendor/k8s.io/apimachinery/pkg/util/httpstream/doc.go
  go-controller/vendor/k8s.io/apimachinery/pkg/util/httpstream/httpstream.go
  go-controller/vendor/k8s.io/apimachinery/pkg/util/httpstream/spdy/connection.go
  go-controller/vendor/k8s.io/apimachinery/pkg/util/httpstream/spdy/roundtripper.go
  go-controller/vendor/k8s.io/apimachinery/pkg/util/httpstream/spdy/upgrade.go
  go-controller/vendor/k8s.io/apimachinery/pkg/util/remotecommand/constants.go
  go-controller/vendor/k8s.io/apimachinery/third_party/forked/golang/netutil/addr.go
  go-controller/vendor/k8s.io/client-go/tools/remotecommand/doc.go
  go-controller/vendor/k8s.io/client-go/tools/remotecommand/errorstream.go
  go-controller/vendor/k8s.io/client-go/tools/remotecommand/reader.go
  go-controller/vendor/k8s.io/client-go/tools/remotecommand/remotecommand.go
  go-controller/vendor/k8s.io/client-go/tools/remotecommand/resize.go
  go-controller/vendor/k8s.io/client-go/tools/remotecommand/v1.go
  go-controller/vendor/k8s.io/client-go/tools/remotecommand/v2.go
  go-controller/vendor/k8s.io/client-go/tools/remotecommand/v3.go
  go-controller/vendor/k8s.io/client-go/tools/remotecommand/v4.go
  go-controller/vendor/k8s.io/client-go/transport/spdy/spdy.go
  go-controller/vendor/k8s.io/client-go/util/exec/exec.go
  go-controller/vendor/modules.txt
  test/e2e/e2e_test.go
Labels: approved, lgtm

#375 Dockerfile: bump OVN to 20.09.0-21
  Dockerfile
Labels: approved, lgtm

#383 Bug 1907328: add iproute-tc package
  Dockerfile
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#386 Bug 1885761: Adds OFPort to CNI OVS check
  go-controller/pkg/cni/cni.go
  go-controller/pkg/cni/helper_linux.go
  go-controller/pkg/cni/ovs.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#374 Bug 1899266: Fixes ICMPv6 flooding behavior
  go-controller/pkg/node/gateway_localnet.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm

#356 Bug 1883917: backport reject acl fixes
  go-controller/pkg/ovn/egressgw_test.go
  go-controller/pkg/ovn/endpoints.go
  go-controller/pkg/ovn/loadbalancer.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/ovn_test.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/pods_test.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_test.go
  go-controller/pkg/ovn/service.go
  go-controller/pkg/ovn/service_test.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, cherry-pick-approved, lgtm

#388 Bug 1908472: [4.6] Increase QPS and Burst setting
  go-controller/pkg/util/kube.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, cherry-pick-approved, lgtm

#389 Bug 1908803: [4.6] fix network policy when the namespace label changes
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_test.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm

#349 Bug 1898178: [release-4.6] Handle egress IP assignment for node IPs
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/ovn.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm

#390 Bug 1908921: ovn/node: use node name as chassis hostname
  go-controller/pkg/node/node.go
  go-controller/pkg/node/node_test.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/util/kube.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm
