Repository openshift/ovn-kubernetes, pull requests merged in 2020-05, with the labels that each got.

#152 Bug 1830370: build: require OVN >= 2.13.0-21 for rhbz#1819785 and rhbz#1827403
  Dockerfile
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, lgtm

#156 Bug 1828988: Remove errors based on passing nil elements to MarshalPodAnnotations()
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/util/pod_annotation.go
  go-controller/pkg/util/pod_annotation_test.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#163 Bug 1828752: regression: logical_router_port mac address is case sensitive
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/util/gateway-init.go
  go-controller/pkg/util/gateway-init_test.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, cherry-pick-approved, lgtm

#159 Bug 1834430: build: require OVN >= 2.13.0-30 for rhbz#1828637 and rhbz#1823755
  Dockerfile
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, lgtm

#153 Bug 1830416: build: require OVN >= 2.13.0-30 for rhbz#1819785, rhbz#1827403, rhbz#1828637, rhbz#1823755
  Dockerfile
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, cherry-pick-approved, lgtm

#164 Bug 1830370: lock OVS version to 2.13.0-10 to ensure signed RPMs
  Dockerfile
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, lgtm

#157 [release 4.4] bug 1829442: Remove errors based on passing nil elements to MarshalPodAnnotations()
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/util/pod_annotation.go
  go-controller/pkg/util/pod_annotation_test.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm

#165 Bug 1835983: 5-15-2020 merge - Includes hybrid overlay external gateway
  contrib/.gitignore
  contrib/kind.sh
  contrib/kind.yaml
  contrib/kind.yaml.j2
  dist/images/ovnkube.sh
  docs/kind-ipv6-dualstack.md
  go-controller/hybrid-overlay/cmd/hybrid-overlay-node/hybrid-overlay-node.go
  go-controller/hybrid-overlay/pkg/controller/master.go
  go-controller/hybrid-overlay/pkg/controller/master_test.go
  go-controller/hybrid-overlay/pkg/controller/node.go
  go-controller/hybrid-overlay/pkg/controller/node_linux.go
  go-controller/hybrid-overlay/pkg/controller/node_linux_test.go
  go-controller/hybrid-overlay/pkg/controller/node_windows.go
  go-controller/hybrid-overlay/pkg/types/types.go
  go-controller/hybrid-overlay/pkg/util/util.go
  go-controller/pkg/cni/cni.go
  go-controller/pkg/factory/factory.go
  go-controller/pkg/node/node.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/util/ovs.go
  go-controller/pkg/util/util.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, lgtm

#167 Bug 1835985: [4.4] hybrid external gw
  go-controller/cmd/ovnkube/ovnkube.go
  go-controller/hack/test-go.sh
  go-controller/hybrid-overlay/cmd/hybrid-overlay-node/hybrid-overlay-node.go
  go-controller/hybrid-overlay/pkg/controller/controller.go
  go-controller/hybrid-overlay/pkg/controller/master.go
  go-controller/hybrid-overlay/pkg/controller/master_test.go
  go-controller/hybrid-overlay/pkg/controller/node.go
  go-controller/hybrid-overlay/pkg/controller/node_linux.go
  go-controller/hybrid-overlay/pkg/controller/node_linux_test.go
  go-controller/hybrid-overlay/pkg/controller/node_windows.go
  go-controller/hybrid-overlay/pkg/types/types.go
  go-controller/hybrid-overlay/pkg/util/util.go
  go-controller/pkg/cni/cni.go
  go-controller/pkg/factory/factory.go
  go-controller/pkg/node/node.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/util/ovs.go
  go-controller/pkg/util/util.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, cherry-pick-approved, lgtm

#170 Bug 1759338: hostnetwork pod can access MCS port 22623 or 22624 on master
  go-controller/pkg/node/block_mcs.go
  go-controller/pkg/node/gateway_localnet.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#172 Bug 1820737: scale: Enable parallel pod creation
  go-controller/pkg/factory/factory.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, lgtm
