Repository openshift/ovn-kubernetes, pull requests merged in 2020-08, with the labels that each got.

#228 Fix segfault in exgw route deletion
  go-controller/pkg/ovn/pods.go
Labels: approved, lgtm

#226 Bug 1859883: Fix ovnkube-node aggressive memory allocation to prevent …
  go-controller/pkg/cni/OCP_HACKS.go
  go-controller/pkg/cni/helper_linux.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#231 Revert "Adding arping to OCP ovn-kube image for egress IP"
  Dockerfile
Labels: approved, lgtm

#207 Bug 1858304: Set MTU for br-ext hybrid overlay bridge
  go-controller/hybrid-overlay/pkg/controller/node_linux.go
  go-controller/hybrid-overlay/pkg/controller/node_linux_test.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, cherry-pick-approved, lgtm

#243 Bug 1873311: 8 27 2020 merge
  contrib/kind.sh
  go-controller/hack/build-go.sh
  go-controller/hybrid-overlay/cmd/hybrid-overlay-node/hybrid-overlay-node.go
  go-controller/hybrid-overlay/cmd/hybrid-overlay-node/init_others.go
  go-controller/hybrid-overlay/cmd/hybrid-overlay-node/init_windows.go
  go-controller/hybrid-overlay/pkg/windows/service/service.go
  go-controller/pkg/config/config.go
  go-controller/pkg/metrics/master.go
  go-controller/pkg/metrics/metrics.go
  go-controller/pkg/metrics/node.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_local.go
  go-controller/pkg/ovn/egressip_local_test.go
  go-controller/pkg/ovn/egressip_shared.go
  go-controller/pkg/ovn/egressip_shared_test.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods_test.go
  go-controller/pkg/ovn/policy.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm
