Repository openshift/ovn-kubernetes, pull requests merged in 2020-11, with the labels that each got.

#327 [master] Bump OVN to 20.09.0-7
  Dockerfile
Labels: approved, lgtm

#330 Bug 1885675: Consider changed configuration when kicking out raft members
  dist/templates/ovnkube-db-raft.yaml.j2
  dist/templates/ovnkube-db.yaml.j2
  go-controller/cmd/ovndbchecker/ovndbchecker.go
  go-controller/pkg/ovndbmanager/ovndbmanager.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm

#357 Bug 1887456: 11-20-2020 merge
  .github/workflows/test.yml
  go-controller/pkg/cni/cni.go
  go-controller/pkg/cni/cniserver.go
  go-controller/pkg/cni/ovs.go
  go-controller/pkg/cni/ovs_test.go
  go-controller/pkg/factory/factory_test.go
  go-controller/pkg/node/gateway_localnet.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_test.go
  go-controller/pkg/types/const.go
  go-controller/pkg/util/ovs_unit_test.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm
