Repository openshift/ovn-kubernetes, pull requests merged in 2020-04, with the labels that each got.

#122 Bug 1819876: build: use OVS and OVN 2.13
  Dockerfile
Labels: approved, bugzilla/valid-bug, lgtm

#126 cluster.go: Disable Southbound DB conditional monitoring.
  go-controller/pkg/cluster/cluster.go
  go-controller/pkg/cluster/node_test.go
Labels: approved, lgtm

#130 OWNERS: add bugzilla info
  OWNERS
Labels: approved, lgtm

#132 Bug 1814712: Removing node bring up debug log level
  go-controller/pkg/ovn/ovn.go
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, lgtm

#129 Bug 1819881: [4.4] bump OVS/OVN to 2.13
  Dockerfile
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_test.go
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, lgtm

#127 Bug 1819888: [4.3] bump OVS/OVN to 2.13
  Dockerfile
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_test.go
Labels: approved, bugzilla/invalid-bug, lgtm

#141 Bug 1823460: 4-20-2020 merge
  .github/workflows/test.yml
  README.md
  contrib/kind.sh
  dist/images/.gitignore
  dist/templates/ovn-setup.yaml.j2
  docs/ci.md
  go-controller/hybrid-overlay/pkg/controller/master.go
  go-controller/pkg/config/config.go
  go-controller/pkg/config/utils.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/management-port_linux.go
  go-controller/pkg/node/management-port_windows.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/util/gateway-cleanup.go
  go-controller/pkg/util/net.go
  go-controller/pkg/util/util.go
  test/e2e/e2e_test.go
Labels: approved, bugzilla/high, bugzilla/valid-bug, lgtm

#145 Bug 1827391: hybrid-overlay: fix podChanged() return values
  go-controller/hybrid-overlay/pkg/controller/node_linux.go
Labels: approved, bugzilla/valid-bug, lgtm

#147 [release-4.4] Bug 1827392: hybrid-overlay: fix podChanged() return values
  go-controller/hybrid-overlay/pkg/controller/node_linux.go
Labels: approved, bugzilla/urgent, bugzilla/valid-bug, cherry-pick-approved, lgtm
