Repository openshift/ovn-kubernetes, pull requests merged in 2020-01, with the labels that each got.

#73 correct the directory placement of windows binary
  Dockerfile
Labels: approved, lgtm, size/XS

#74 Fixes missing oc client during openshift image build
  Dockerfile
Labels: approved, lgtm, ok-to-test, size/XS

#76 Fix Windows cross-compilation
  Dockerfile
  go-controller/hack/build-go.sh
Labels: approved, lgtm, ok-to-test, size/XS

#77 Upstream rebase 2020-01-17
  dist/images/ovnkube.sh
  go-controller/hybrid-overlay/pkg/controller/master.go
  go-controller/hybrid-overlay/pkg/controller/master_test.go
  go-controller/hybrid-overlay/pkg/controller/node_linux_test.go
  go-controller/pkg/cluster/gateway_init_linux_test.go
  go-controller/pkg/cluster/gateway_localnet.go
  go-controller/pkg/cluster/gateway_shared_intf.go
  go-controller/pkg/cluster/management-port.go
  go-controller/pkg/cluster/management-port_linux.go
  go-controller/pkg/cluster/management-port_linux_test.go
  go-controller/pkg/cluster/management-port_windows_test.go
  go-controller/pkg/cluster/node.go
  go-controller/pkg/cluster/node_test.go
  go-controller/pkg/cni/helper_linux.go
  go-controller/pkg/cni/ovs.go
  go-controller/pkg/config/config.go
  go-controller/pkg/config/config_test.go
  go-controller/pkg/factory/factory.go
  go-controller/pkg/factory/factory_test.go
  go-controller/pkg/ovn/common.go
  go-controller/pkg/ovn/endpoints_test.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/namespace_test.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/ovn_test.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/pods_test.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_common.go
  go-controller/pkg/ovn/policy_old.go
  go-controller/pkg/ovn/policy_old_test.go
  go-controller/pkg/ovn/policy_test.go
  go-controller/pkg/ovn/service_test.go
  go-controller/pkg/testing/testing.go
  go-controller/pkg/util/gateway-init.go
  go-controller/pkg/util/kube.go
  go-controller/pkg/util/net.go
  go-controller/pkg/util/util.go
Labels: approved, lgtm, size/XXL

#83 Bug 1796531: CARRY: fix race updating exclude IPs on node switch
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
Labels: approved, bugzilla/valid-bug, lgtm, size/M
