Repository openshift/ovn-kubernetes, pull requests merged in 2020-09, with the labels that each got.

#248 Bug 1874928: Pinning the OVN version for 4.5.8 release
  Dockerfile
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, cherry-pick-approved, lgtm

#238 Bug 1870867: Fix br-local duplicate MAC
  go-controller/pkg/node/gateway_localnet.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm

#244 Bug 1874579: Bump OVN and OVS rpms
  Dockerfile
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#208 Bug 1858309: Set MTU for br-ext hybrid overlay bridge
  go-controller/hybrid-overlay/pkg/controller/node_linux.go
  go-controller/hybrid-overlay/pkg/controller/node_linux_test.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, cherry-pick-approved, lgtm

#261 Bug 1878295: Dockerfile: fix ART image builds by making RPM pinning agnostic
  Dockerfile
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#270 Add myself to owners list
  OWNERS
Labels: approved, lgtm

#268 Bug 1868501: Do not default HO cluster subnets
  go-controller/hybrid-overlay/pkg/controller/node_linux_test.go
  go-controller/pkg/config/config.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm

#279 Bug 1880974: 9-21-2020 merge
  .github/workflows/test.yml
  contrib/kind.sh
  dist/images/Dockerfile.ubuntu
  go-controller/pkg/factory/factory.go
  go-controller/pkg/informer/const.go
  go-controller/pkg/node/gateway_init.go
  go-controller/pkg/node/gateway_shared_intf_linux.go
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/ovn/egressfirewall_test.go
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/gateway.go
  go-controller/pkg/ovn/gateway_init.go
  go-controller/pkg/ovn/gress_policy.go
  go-controller/pkg/ovn/gress_policy_test.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/util/net_linux.go
  test/scripts/e2e-kind.sh
  test/scripts/install-kind.sh
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, lgtm

#283 Bug 1882066: Pin 4.4 OVN to 20.06.2-4.el7fdp
  Dockerfile
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, cherry-pick-approved, lgtm

#285 Bug 1882085: Pin 4.6 OVN to 20.06.2-11.el8fdp
  Dockerfile
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, lgtm

#286 Bug 1882037: 9-23-2020 merge
  go-controller/pkg/factory/factory.go
  go-controller/pkg/factory/factory_test.go
  go-controller/pkg/node/egressip.go
  go-controller/pkg/node/egressip_test.go
  go-controller/pkg/node/gateway_iptables.go
  go-controller/pkg/node/gateway_localnet.go
  go-controller/pkg/node/helper_linux.go
  go-controller/pkg/node/management-port.go
  go-controller/pkg/node/ovn_test.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_local.go
  go-controller/pkg/ovn/egressip_local_test.go
  go-controller/pkg/ovn/egressip_shared.go
  go-controller/pkg/ovn/egressip_shared_test.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/gateway_init.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/ovn_test.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/util/net.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#284 Bug 1882092: Pin 4.5 OVN to 4.4.24
  Dockerfile
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, cherry-pick-approved, lgtm

#281 Bug 1880591: Allow local no bridge
  go-controller/pkg/node/OCP_HACKS.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/ovn/OCP_HACKS.go
  go-controller/pkg/ovn/endpoints.go
  go-controller/pkg/ovn/master.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#288 Bug 1837953: 9-24-2020 merge
  README.md
  contrib/kind.sh
  dist/images/.gitignore
  dist/images/Dockerfile
  dist/images/Dockerfile.fedora
  dist/images/Dockerfile.fedora.dev
  dist/images/Dockerfile.ubuntu
  dist/images/Dockerfile.ubuntu.arm64
  dist/images/daemonset.sh
  dist/images/ovndb-raft-functions.sh
  dist/images/ovnkube.sh
  dist/templates/ovnkube-db-raft.yaml.j2
  go-controller/Makefile
  go-controller/cmd/ovndbchecker/ovndbchecker.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovndbmanager/ovndbmanager.go
  go-controller/pkg/util/ovs.go
  test/e2e/e2e_test.go
  test/e2e/go.mod
  test/e2e/utils_test.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#289 Bug 1882707: [release-4.6] Pin OVS to latest 4.6 RPM version
  Dockerfile
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#294 Bug 1882569: Update downstream Dockerfile for adding the ovndbchecker binary
  Dockerfile
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm
