Repository openshift/ovn-kubernetes, pull requests merged in 2020-10, with the labels that each got.

#297 Bug 1880591: 9-30-2020 merge
  .github/actions/cleanup-action/package-lock.json
  .github/workflows/test_periodic.yml
  go-controller/hack/test-go.sh
  go-controller/hybrid-overlay/cmd/hybrid-overlay-node/hybrid-overlay-node.go
  go-controller/hybrid-overlay/pkg/controller/master.go
  go-controller/hybrid-overlay/pkg/controller/master_test.go
  go-controller/hybrid-overlay/pkg/controller/node.go
  go-controller/hybrid-overlay/pkg/controller/node_linux_test.go
  go-controller/pkg/config/config.go
  go-controller/pkg/informer/informer.go
  go-controller/pkg/node/node.go
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/ovn/endpoints.go
  go-controller/pkg/ovn/endpoints_test.go
  go-controller/pkg/ovn/gateway.go
  go-controller/pkg/ovn/gateway_cleanup.go
  go-controller/pkg/ovn/loadbalancer.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/service.go
  go-controller/pkg/ovn/service_test.go
  go-controller/pkg/util/net.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, lgtm

#304 Bug 1885517: Clean up old local gw mode external ports
  go-controller/pkg/ovn/OCP_HACKS.go
  go-controller/pkg/ovn/gateway_init.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, group-lead-approved, lgtm

#305 Bug 1880591: Fix service sync reject ACL name matching
  go-controller/pkg/ovn/loadbalancer.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, group-lead-approved, lgtm

#227 Bug 1862700: Fix ovnkube-node aggressive memory allocation to prevent memory bloating
  go-controller/pkg/cni/helper_linux.go
  go-controller/pkg/cni/ovs.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm

#306 10-8-2020 merge
  .github/actions/cleanup-action/package-lock.json
  .github/actions/cleanup-action/package.json
  .github/workflows/test.yml
  dist/templates/ovnkube-db-raft.yaml.j2
  dist/templates/ovnkube-db.yaml.j2
  go-controller/cmd/ovndbchecker/ovndbchecker.go
  go-controller/hybrid-overlay/pkg/controller/node_linux.go
  go-controller/pkg/ovn/loadbalancer.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovndbmanager/ovndbmanager.go
  go-controller/pkg/util/kube.go
  test/Makefile
  test/scripts/install-kind.sh
Labels: approved, lgtm

#311 10 14 2020 merge
  go-controller/pkg/ovndbmanager/ovndbmanager.go
Labels: approved, lgtm

#303 Updating ose-ovn-kubernetes builder & base images to be consistent with ART
  Dockerfile
Labels: approved, lgtm

#313 Bug 1888352: Fix IPv6 neighbor discovery hack
  go-controller/pkg/node/gateway_localnet.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, cherry-pick-approved, lgtm

#316 Add missing python3-openvswitch library
  Dockerfile
Labels: approved, lgtm

#287 Bug 1877561: [release-4.5]Fix orphaned ACLs backport to 4.5
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/policy.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, lgtm

#322 Owners: Remove Phil from reviewers
  OWNERS
Labels: approved, lgtm

#307 Bug 1880591: Fixes race during 4.5->4.6 upgrade with ovn node and master
  go-controller/pkg/node/OCP_HACKS.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, cherry-pick-approved, lgtm
