Repository openshift/ovn-kubernetes, pull requests merged in 2021-12, with the labels that each got.

#850 Bug 2027468: 4.7 backport
  go-controller/pkg/cni/cni.go
  go-controller/pkg/cni/cniserver.go
  go-controller/pkg/cni/cniserver_test.go
  go-controller/pkg/cni/cnishim.go
  go-controller/pkg/cni/helper_linux.go
  go-controller/pkg/cni/ovs.go
  go-controller/pkg/cni/types.go
  go-controller/pkg/cni/utils.go
  go-controller/pkg/cni/utils_test.go
  go-controller/pkg/config/config.go
  go-controller/pkg/config/config_test.go
  go-controller/pkg/node/node.go
  go-controller/pkg/util/kube.go
  go-controller/pkg/util/kube_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, qe-approved, backport-risk-assessed

#853 Bug 2027487: [4.8z] addressManager should not call sync() from ErrorCallback
  go-controller/pkg/node/node_ip_handler_linux.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, qe-approved, backport-risk-assessed

#860 Bug 2027983: [4.9.z] Make config parsing more resilient for unknown fields
  go-controller/pkg/config/config.go
  go-controller/pkg/config/config_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, backport-risk-assessed

#857 Bug 2027864: [4.9z] Fixes race between node handler and pod sync
  go-controller/pkg/ovn/logical_switch_manager/logical_switch_manager.go
  go-controller/pkg/ovn/pods.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-urgent, qe-approved, backport-risk-assessed

#818 ovn: bump to ovn21.12-21.12.0-24.el8fdp
  Dockerfile
Labels: approved, lgtm

#858 Bug 2027873: [4.8z] Fixes race between node handler and pod sync
  go-controller/pkg/ovn/logical_switch_manager/logical_switch_manager.go
  go-controller/pkg/ovn/pods.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-urgent, qe-approved, backport-risk-assessed

#820 Bug 2019093: Not exit when ovnkube runs with '--gateway-interface none'
  go-controller/pkg/node/gateway_init.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-medium, backport-risk-assessed

#859 Bug 2027874: [4.7z] Fixes race between node handler and pod sync
  go-controller/pkg/ovn/logical_switch_manager/logical_switch_manager.go
  go-controller/pkg/ovn/pods.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-urgent, qe-approved, backport-risk-assessed

#867 [DownstreamMerge] Merge 21-12-7
  dist/images/ovnkube.sh
  dist/templates/ovnkube-node.yaml.j2
  go-controller/Makefile
  go-controller/pkg/cni/helper_linux.go
  go-controller/pkg/cni/mocks/CNIPluginLibOps.go
  go-controller/pkg/cni/types.go
  go-controller/pkg/cni/utils.go
  go-controller/pkg/config/config.go
  go-controller/pkg/nbdb/acl.go
  go-controller/pkg/nbdb/copp.go
  go-controller/pkg/nbdb/load_balancer_group.go
  go-controller/pkg/nbdb/logical_router.go
  go-controller/pkg/nbdb/logical_switch.go
  go-controller/pkg/nbdb/model.go
  go-controller/pkg/node/gateway_init.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/management-port_linux.go
  go-controller/pkg/node/node.go
  go-controller/pkg/ovn/controller/services/load_balancer.go
  go-controller/pkg/ovn/controller/services/load_balancer_test.go
  go-controller/pkg/ovn/controller/services/services_controller.go
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/ovn/egressfirewall_test.go
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/ovn/gateway_init.go
  go-controller/pkg/ovn/gateway_test.go
  go-controller/pkg/ovn/libovsdbops/lbgroup.go
  go-controller/pkg/ovn/libovsdbops/model.go
  go-controller/pkg/ovn/libovsdbops/switch.go
  go-controller/pkg/ovn/loadbalancer/lb_cache.go
  go-controller/pkg/ovn/loadbalancer/lb_cache_test.go
  go-controller/pkg/ovn/loadbalancer/loadbalancer.go
  go-controller/pkg/ovn/loadbalancer/types.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/namespace_test.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/ovn_test.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovndbmanager/ovndbmanager.go
  go-controller/pkg/sbdb/logical_flow.go
  go-controller/pkg/sbdb/model.go
  go-controller/pkg/types/const.go
  go-controller/pkg/util/net_linux.go
  go-controller/pkg/util/net_linux_unit_test.go
  test/e2e/unidling.go
  test/scripts/e2e-cp.sh
Labels: approved, lgtm

#869 [DownstreamMerge] 21-12-9
  docs/design/external_traffic_policy.md
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_iptables.go
  go-controller/pkg/node/gateway_localnet_linux_test.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/gateway_shared_intf_linux.go
  go-controller/pkg/node/healthcheck.go
  go-controller/pkg/node/management-port_linux.go
  go-controller/pkg/node/port_claim_test.go
  go-controller/pkg/ovn/controller/services/load_balancer.go
  go-controller/pkg/ovn/controller/services/load_balancer_test.go
  go-controller/pkg/types/const.go
  go-controller/pkg/util/net.go
  go-controller/pkg/util/net_unit_test.go
  test/scripts/e2e-cp.sh
Labels: approved, lgtm

#873 Block access to metadata service based on platform type
  go-controller/pkg/cni/OCP_HACKS.go
Labels: approved, lgtm

#833 Bug 2033728: Dockerfile: bump OVS to 2.16.0-33.el8fdp
  Dockerfile
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high
