Repository openshift/ovn-kubernetes, pull requests merged in 2021-05, with the labels that each got.

#515 Bug 1953169: endpoint slice controller doesn't handle services target port correctly
  go-controller/pkg/util/kube.go
  go-controller/pkg/util/kube_test.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, lgtm

#511 Bug 1952262: Revert "removing the hybrid overlay externalGW code"
  go-controller/hybrid-overlay/pkg/controller/master.go
  go-controller/hybrid-overlay/pkg/controller/master_test.go
  go-controller/hybrid-overlay/pkg/controller/node.go
  go-controller/hybrid-overlay/pkg/controller/node_linux.go
  go-controller/hybrid-overlay/pkg/types/types.go
  go-controller/hybrid-overlay/pkg/util/util.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/pods_test.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, lgtm

#516 Bug 1950471: Purge only the lprs with nexthops of the same family of new nexthop
  go-controller/pkg/ovn/gateway_init.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, lgtm

#521 Bug 1956318: Revert "removing the hybrid overlay externalGW code"
  go-controller/hybrid-overlay/pkg/controller/master.go
  go-controller/hybrid-overlay/pkg/controller/master_test.go
  go-controller/hybrid-overlay/pkg/controller/node.go
  go-controller/hybrid-overlay/pkg/controller/node_linux.go
  go-controller/hybrid-overlay/pkg/types/types.go
  go-controller/hybrid-overlay/pkg/util/util.go
  go-controller/pkg/node/OCP_HACKS.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/ovn/egressfirewall_dns.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/pods_test.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, cherry-pick-approved, lgtm

#467 Bug 1939488: Backport Handle Multus network-status annotations on pod update
  go-controller/pkg/ovn/ovn.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, lgtm

#522 Bug 1949582: CNI cmdCheck: treat ingress_policing_rate=0 as not found
  go-controller/pkg/cni/bandwidth.go
  go-controller/pkg/cni/bandwidth_test.go
  go-controller/pkg/cni/cni.go
  go-controller/pkg/cni/utils.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#529 Bug 1959058: policy: release LSP lock before adding pods to default-deny portgroups.
  go-controller/pkg/ovn/policy.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#531 Bug 1957039: Fix pod -> svc -> host LGW flow
  go-controller/pkg/ovn/controller/services/utils.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#530 Bug 1953680: policy: handle NetworkPolicies single "from" multiple "ipBlock"
  go-controller/pkg/ovn/gress_policy.go
  go-controller/pkg/ovn/policy_test.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#504 Bug 1950434: [4.6] pods: bind pod logical switch ports to the node's chassis with requested-chassis
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/testing/mock_lsp.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, cherry-pick-approved, lgtm

#533 Bug 1947097: [4.7z] Ensure no SNAT on GR for DisableSNATMultipleGws
  go-controller/pkg/ovn/gateway_init.go
  go-controller/pkg/ovn/gateway_test.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm

#519 Bug 1956270: service controller should not use the target-port
  go-controller/pkg/ovn/controller/services/utils.go
  go-controller/pkg/ovn/controller/services/utils_test.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, cherry-pick-approved, lgtm

#537 Bug 1952819: Bump the go-ovn version to f0122836cc35fcadf72de8698b26157c5a42a9f8
  go-controller/go.mod
  go-controller/go.sum
  go-controller/vendor/github.com/ebay/go-ovn/acl.go
  go-controller/vendor/github.com/ebay/go-ovn/client.go
  go-controller/vendor/github.com/ebay/go-ovn/common.go
  go-controller/vendor/github.com/ebay/go-ovn/load_balancer.go
  go-controller/vendor/github.com/ebay/go-ovn/logical_router.go
  go-controller/vendor/github.com/ebay/go-ovn/logical_router_policy.go
  go-controller/vendor/github.com/ebay/go-ovn/logical_switch_port.go
  go-controller/vendor/github.com/ebay/go-ovn/ovnimp.go
  go-controller/vendor/github.com/ebay/go-ovn/ovnnotify.go
  go-controller/vendor/github.com/ebay/go-ovn/test_common.go
  go-controller/vendor/modules.txt
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#540 Bug 1958958: NewAddressSet: return nil in case of error
  go-controller/pkg/ovn/address_set/address_set.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#545 Bug 1956955: Reduces number of OVN operations in services #2201
  go-controller/pkg/ovn/controller/services/repair.go
  go-controller/pkg/ovn/controller/services/repair_test.go
  go-controller/pkg/ovn/controller/services/service_tracker.go
  go-controller/pkg/ovn/controller/services/service_tracker_test.go
  go-controller/pkg/ovn/controller/services/services_controller.go
  go-controller/pkg/ovn/controller/services/services_controller_test.go
  go-controller/pkg/ovn/controller/services/utils.go
  go-controller/pkg/ovn/controller/services/utils_test.go
  go-controller/pkg/ovn/loadbalancer/loadbalancer.go
  go-controller/pkg/util/ovs.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#551 Bug 1962392: CARRY: fix missed learn for hybrid exgw
  go-controller/hybrid-overlay/pkg/controller/node_linux.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#541 Bug 1954773: adding cli flag for egressfirewall and removing CRD watcher
  contrib/kind.sh
  dist/images/daemonset.sh
  dist/images/ovnkube.sh
  dist/templates/ovnkube-master.yaml.j2
  go-controller/pkg/config/config.go
  go-controller/pkg/factory/factory.go
  go-controller/pkg/factory/factory_test.go
  go-controller/pkg/factory/handler.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/ovn_test.go
  go-controller/pkg/ovn/egressfirewall_test.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/namespace_test.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/ovn_test.go
  go-controller/pkg/util/kube.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#538 [release-4.7] Bug 1959737: Fix: egress IP route health check detection state on restart
  go-controller/pkg/ovn/ovn.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, lgtm

#525 Bug 1949240: Bump OVN version in 4.6 to 20.12.0-24
  Dockerfile
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, cherry-pick-approved, lgtm

#523 Bug 1956980: [release-4.7] fix ForEachAddressSet() as it is not calling the callback functions
  go-controller/pkg/ovn/address_set/address_set.go
  go-controller/pkg/ovn/address_set/address_set_test.go
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, cherry-pick-approved, lgtm

#526 Bug 1942603: [release-4.7] Allow from router network policy support
  contrib/kind.sh
  dist/images/daemonset.sh
  dist/images/ovnkube.sh
  dist/templates/ovn-setup.yaml.j2
  dist/templates/ovnkube-master.yaml.j2
  dist/templates/ovnkube-node.yaml.j2
  go-controller/pkg/config/config.go
  go-controller/pkg/ovn/logical_switch_manager.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/namespace_test.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, lgtm

#487 Bug 1946682: egress firewall as ACLs
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/ovn/egressfirewall_test.go
  go-controller/pkg/ovn/ovn.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, lgtm

#542 Bug 1960757: CARRY: block MCS for shared-gateway mode.
  go-controller/pkg/node/gateway_shared_intf.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, lgtm
