Repository openshift/ovn-kubernetes, pull requests merged in 2021-10, with the labels that each got.

#764 [release-4.7] Bug 2006159: Fix duplicate incrementing of subnet allocation metric
  go-controller/pkg/ovn/master.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high

#774 Bug 1986708: Add routes for pod: fail only after checking all the gw addresses / ips
  go-controller/pkg/ovn/egressgw.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-medium

#759 Bug 2005468: [4.7z] Fixes skipping pods accidentally in retry
  go-controller/pkg/ovn/ovn.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-medium

#781 pods: remove unnecessary LSPGet() calls
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/util/net.go
  go-controller/vendor/github.com/ebay/go-ovn/client.go
  go-controller/vendor/github.com/ebay/go-ovn/logical_switch_port.go
  go-controller/vendor/github.com/ebay/go-ovn/ovnimp.go
  go-controller/vendor/github.com/ebay/go-ovn/port_group.go
Labels: approved, lgtm

#783 Bug 2011391: [4.8] bump OVN to 20.12.0-183.el8fdp
  Dockerfile
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-urgent, qe-approved, backport-risk-assessed

#807 fixup: reduce delta from upstream
  go-controller/cmd/ovnkube/ovnkube.go
  go-controller/go.mod
  go-controller/go.sum
  go-controller/pkg/node/gateway_iptables.go
  go-controller/pkg/ovn/controller/unidling/unidle.go
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/ovn/egressgw_test.go
  go-controller/pkg/ovn/gateway_test.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/namespace_test.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/util/net.go
  go-controller/vendor/github.com/imdario/mergo/.deepsource.toml
  go-controller/vendor/github.com/imdario/mergo/.travis.yml
  go-controller/vendor/github.com/imdario/mergo/README.md
  go-controller/vendor/github.com/imdario/mergo/doc.go
  go-controller/vendor/github.com/imdario/mergo/go.mod
  go-controller/vendor/github.com/imdario/mergo/go.sum
  go-controller/vendor/github.com/imdario/mergo/map.go
  go-controller/vendor/github.com/imdario/mergo/merge.go
  go-controller/vendor/github.com/imdario/mergo/mergo.go
  go-controller/vendor/github.com/ovn-org/libovsdb/cache/cache.go
  go-controller/vendor/github.com/ovn-org/libovsdb/client/api.go
  go-controller/vendor/github.com/ovn-org/libovsdb/client/client.go
  go-controller/vendor/github.com/ovn-org/libovsdb/client/options.go
  go-controller/vendor/github.com/ovn-org/libovsdb/ovsdb/condition.go
  go-controller/vendor/github.com/ovn-org/libovsdb/ovsdb/map.go
  go-controller/vendor/github.com/ovn-org/libovsdb/ovsdb/mutation.go
  go-controller/vendor/github.com/ovn-org/libovsdb/ovsdb/notation.go
  go-controller/vendor/github.com/ovn-org/libovsdb/ovsdb/schema.go
  go-controller/vendor/github.com/ovn-org/libovsdb/ovsdb/set.go
  go-controller/vendor/github.com/ovn-org/libovsdb/server/database.go
  go-controller/vendor/github.com/ovn-org/libovsdb/server/monitor.go
  go-controller/vendor/github.com/ovn-org/libovsdb/server/mutate.go
  go-controller/vendor/github.com/ovn-org/libovsdb/server/server.go
  go-controller/vendor/modules.txt
  test/e2e/e2e.go
Labels: approved, lgtm
