Repository openshift/ovn-kubernetes, pull requests merged in 2021-06, with the labels that each got.

#560 Bug 1961852: policy: reduce lock contention on policy object
  go-controller/pkg/ovn/policy.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#532 Bug 1955783: Add Namespace and rule Number to ACL name
  go-controller/pkg/ovn/gress_policy.go
  go-controller/pkg/ovn/policy_test.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#559 Bug 1927047: Handling packet sizes greater than pod MTU
  contrib/kind.sh
  dist/images/daemonset.sh
  dist/images/ovnkube.sh
  dist/templates/ovnkube-node.yaml.j2
  go-controller/pkg/config/config.go
  go-controller/pkg/node/gateway.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_iptables.go
  go-controller/pkg/node/gateway_localnet.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/management-port_linux.go
  go-controller/pkg/node/node.go
  go-controller/pkg/util/net_linux.go
  go-controller/pkg/util/net_linux_unit_test.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, lgtm

#554 Bug 1958972: Fixes adding nodes to use new Services controller
  go-controller/pkg/ovn/OCP_HACKS.go
  go-controller/pkg/ovn/common.go
  go-controller/pkg/ovn/controller/services/services_controller.go
  go-controller/pkg/ovn/endpoints.go
  go-controller/pkg/ovn/endpoints_test.go
  go-controller/pkg/ovn/gateway.go
  go-controller/pkg/ovn/gress_policy.go
  go-controller/pkg/ovn/loadbalancer.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/namespace_test.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/ovn_test.go
  go-controller/pkg/ovn/service.go
  go-controller/pkg/ovn/service_test.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#534 [release-4.6] Bug 1953088: master: Delay deleting Namespace's address set for 20 seconds
  go-controller/go.mod
  go-controller/go.sum
  go-controller/pkg/ovn/address_set.go
  go-controller/pkg/ovn/address_set_test.go
  go-controller/pkg/ovn/fake_address_set_test.go
  go-controller/pkg/ovn/namespace.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, cherry-pick-approved, lgtm

#561 [release-4.6] Bug 1966280: Adds reconciliation for hanging pod adds
  go-controller/pkg/ovn/ovn.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, lgtm

#548 Bug 1962819: CNI cmdCheck: treat ingress_policing_rate=0 as not found
  go-controller/pkg/cni/bandwidth.go
  go-controller/pkg/cni/bandwidth_test.go
  go-controller/pkg/cni/cni.go
  go-controller/pkg/cni/utils.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, lgtm

#568 Bug 1970068: Fixes getNodeIPs assuming dualstack
  go-controller/pkg/ovn/controller/services/services_controller_test.go
  go-controller/pkg/ovn/controller/services/utils.go
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, lgtm

#570 Bug 1970322: revert 487
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/ovn/egressfirewall_test.go
  go-controller/pkg/ovn/ovn.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm

#567 Bug 1956955: Batching: Fixes finding maximum bash arguments
  go-controller/pkg/util/ovs.go
  go-controller/pkg/util/ovs_unit_test.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#571 [release-4.7] Bug 1970779: Remove getDefaultIfAddr and use getNetworkInterfaceIPAddresses
  go-controller/pkg/node/gateway_init.go
  go-controller/pkg/node/helper_linux.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, lgtm

#580 Bug 1958375: Bump OVN to 20.12.0-140.el8fdp
  Dockerfile
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#544 add JacobTanenbaum to the list of approvers
  OWNERS
Labels: approved, lgtm

#582 Bug 1973813: 6-21-2021 merge
  docs/kind.md
  go-controller/pkg/config/config.go
  go-controller/pkg/config/config_test.go
  go-controller/pkg/node/gateway.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/node.go
  go-controller/pkg/node/node_test.go
  go-controller/pkg/util/ovs.go
  test/scripts/e2e-kind.sh
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#581 Bug 1973672: Fix compatibility of multiple ipBlock NetworkPolicies
  go-controller/pkg/ovn/gress_policy.go
  go-controller/pkg/ovn/policy_test.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, group-lead-approved, lgtm

#573 Bug 1966833: BACKPORT Add a cluster-wide group with node ls-to-cluster-router ports.
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/util/util.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, cherry-pick-approved, lgtm

#584 Bug 1961506: Detect if OVS supports check pkt length
  go-controller/pkg/node/gateway.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/util/ovs.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, group-lead-approved, lgtm
