Repository openshift/ovn-kubernetes, pull requests merged in 2021-04, with the labels that each got.

#485 Bug 1945725: Revert the ovn change to avoid a crash
  Dockerfile
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, cherry-pick-approved, lgtm

#484 Bug 1942702: backport lr-nat-del/add fixes
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/ovn/gateway_init.go
  go-controller/pkg/ovn/gateway_test.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/util/ovn.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, cherry-pick-approved, lgtm

#480 Bug 1944180: 3-30-21 merge
  .github/workflows/test.yml
  contrib/kind.sh
  dist/images/Dockerfile.fedora
  dist/images/daemonset.sh
  dist/templates/ovnkube-master.yaml.j2
  dist/templates/ovnkube-node.yaml.j2
  go-controller/Makefile
  go-controller/cmd/ovn-kube-util/app/readiness-probe.go
  go-controller/cmd/ovnkube/ovnkube.go
  go-controller/hack/test-go.sh
  go-controller/pkg/ovn/acl/acl.go
  go-controller/pkg/ovn/common.go
  go-controller/pkg/ovn/controller/services/repair.go
  go-controller/pkg/ovn/controller/services/repair_test.go
  go-controller/pkg/ovn/controller/services/service_tracker.go
  go-controller/pkg/ovn/controller/services/services_controller.go
  go-controller/pkg/ovn/controller/services/services_controller_test.go
  go-controller/pkg/ovn/controller/services/utils.go
  go-controller/pkg/ovn/controller/services/utils_test.go
  go-controller/pkg/ovn/endpoints.go
  go-controller/pkg/ovn/endpoints_test.go
  go-controller/pkg/ovn/gateway.go
  go-controller/pkg/ovn/gateway_init.go
  go-controller/pkg/ovn/gateway_test.go
  go-controller/pkg/ovn/ipallocator/allocator.go
  go-controller/pkg/ovn/ipallocator/allocator_test.go
  go-controller/pkg/ovn/loadbalancer.go
  go-controller/pkg/ovn/loadbalancer/loadbalancer.go
  go-controller/pkg/ovn/loadbalancer/loadbalancer_test.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/ovn_test.go
  go-controller/pkg/ovn/pods_test.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_test.go
  go-controller/pkg/ovn/port_group_unit_test.go
  go-controller/pkg/ovn/service.go
  go-controller/pkg/ovn/service_test.go
  go-controller/pkg/testing/exec.go
  go-controller/pkg/testing/mock_ovn.go
  go-controller/pkg/testing/mock_portgroup.go
  go-controller/pkg/testing/mock_stubs.go
  go-controller/pkg/types/const.go
  go-controller/pkg/util/kube.go
  go-controller/pkg/util/kube_test.go
  go-controller/pkg/util/ovn.go
  go-controller/pkg/util/ovs.go
  test/Makefile
  test/e2e/e2e.go
  test/e2e/unidling.go
  test/scripts/e2e-cp.sh
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#492 Dockerfile: bump OVS to openvswitch2.15-2.15.0-9
  Dockerfile
Labels: approved, lgtm

#493 Bug 1947835: Fix service update for policy type assertion
  go-controller/pkg/ovn/policy.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm

#489 Bug 1946696: iptables: add filter on node local traffic
  go-controller/pkg/node/gateway_iptables.go
  go-controller/pkg/node/gateway_localnet.go
  go-controller/pkg/node/gateway_localnet_linux_test.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/gateway_shared_intf_linux.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm

#486 Bug 1945308: Backport lr nat del add fixes
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/ovn/gateway_init.go
  go-controller/pkg/ovn/gateway_test.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/util/ovn.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, cherry-pick-approved, lgtm

#497 Bug 1930248: Sync management port for an existing node
  go-controller/pkg/ovn/gateway_init.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#498 Bug 1945948: Fixes local node IP reachability in shared gateway mode
  go-controller/pkg/kube/annotator.go
  go-controller/pkg/kube/mocks/Annotator.go
  go-controller/pkg/node/gateway.go
  go-controller/pkg/node/gateway_init.go
  go-controller/pkg/node/node_ip_handler_linux.go
  go-controller/pkg/ovn/gateway_init.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/namespace_test.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/util/net.go
  go-controller/pkg/util/node_annotations.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, lgtm

#478 Bug 1943316: [4.7] master: enable logical datapath groups for OVN >= 20.12
  go-controller/pkg/ovn/master.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm

#500 Bug 1947712: pods: bind pod logical switch ports to the node's chassis with requested-chassis
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/policy_test.go
  go-controller/pkg/testing/mock_lsp.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#495 Bug 1950159: Fix linter errors in OCP Hacks
  go-controller/pkg/node/OCP_HACKS.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#464 Bug 1924826: Backport Update gogo/protobuf to v1.3.2.
  go-controller/go.mod
  go-controller/go.sum
  go-controller/vendor/github.com/containernetworking/cni/pkg/skel/skel.go
  go-controller/vendor/github.com/gogo/protobuf/proto/text_parser.go
  go-controller/vendor/modules.txt
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, lgtm

#502 Bug 1947917: fix deadlock in EgressFirewall DNS code
  go-controller/pkg/ovn/egressfirewall_dns.go
  test/e2e/e2e.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, lgtm

#499 Bug 1944121: master: Delay deleting Namespace's address set for 20 seconds
  go-controller/pkg/ovn/address_set/address_set.go
  go-controller/pkg/ovn/namespace.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#503 Bug 1950432: [4.7] pods: bind pod logical switch ports to the node's chassis with requested-chassis
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/testing/mock_lsp.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, cherry-pick-approved, lgtm

#513 [releaser-4.7] Bug 1950131: fix deadlock in EgressFirewall DNS code
  go-controller/pkg/ovn/egressfirewall_dns.go
  test/e2e/e2e.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, cherry-pick-approved, lgtm

#505 Bug 1951064: master: cancel leader election on exit
  go-controller/cmd/ovnkube/ovnkube.go
  go-controller/pkg/ovn/master.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm
