Repository openshift/ovn-kubernetes, pull requests merged in 2021-09, with the labels that each got.

#698 Bug 1998146: Fix lb delete during node deletion
  go-controller/pkg/ovn/gateway_cleanup.go
  go-controller/pkg/ovn/gateway_test.go
  go-controller/pkg/ovn/loadbalancer/lb_cache.go
  go-controller/pkg/ovn/loadbalancer/lb_cache_test.go
  go-controller/pkg/ovn/master.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#669 README: Add doc links
  README.md
Labels: approved, lgtm, bugzilla/valid-bug

#687 [release-4.7] Bug 1997574: Fix: sync egress IP for missed events on start-up
  go-controller/pkg/factory/factory.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-urgent

#706 Bug 1999895: Revert "[release-4.8] fix reserve joinSwitch LRP IPs"
  go-controller/pkg/ovn/gateway.go
  go-controller/pkg/ovn/logical_switch_manager.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/namespace_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high

#708 Bug 1999138: Revert "Taint node with NoSchedule effect when ovnkube pod is down"
  go-controller/pkg/node/node.go
  go-controller/pkg/node/node_test.go
  go-controller/pkg/types/const.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-urgent

#704 Bug 1999852: bump OVN to ovn21.09-21.09.0-18.el8fdp
  Dockerfile
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#714 Bug 2000721: bump OVS userland to openvswitch2.16-2.16.0-6.el8fdp
  Dockerfile
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#707 Bug 1999896: Revert "[release-4.7] fix reserve joinSwitch LRP IPs"
  go-controller/pkg/ovn/gateway.go
  go-controller/pkg/ovn/logical_switch_manager.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/namespace_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high

#691 Bug 1986946: Fix ensurePod to call addPodExternalGW only for annotation updates
  go-controller/pkg/ovn/ovn.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#705 Bug 1998423: kube master don't fail trying to cache same GW LRP IPs as already exist
  go-controller/pkg/ovn/logical_switch_manager/logical_switch_manager.go
  go-controller/pkg/ovn/logical_switch_manager/logical_switch_manager_test.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/namespace_test.go
  go-controller/pkg/ovn/ovn.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#716 Bug 1997438: egressfirewall not set after upgrade
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/ovn/egressfirewall_test.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#717 Bug 1998614: Ensure client handling of canceled/dropped OVSDB monitor
  go-controller/vendor/github.com/ebay/go-ovn/client.go
  go-controller/vendor/github.com/ebay/go-ovn/ovnimp.go
  go-controller/vendor/github.com/ebay/libovsdb/client.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-urgent

#723 [release-4.6] Bug 2001980: Fix sync egress IP for missed events on start-up
  go-controller/pkg/factory/factory.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-urgent, qe-approved

#638 [release-4.7] Bug 1988495: Fix LocalGatway ExternalIP
  go-controller/pkg/node/gateway_localnet.go
  go-controller/pkg/node/gateway_localnet_linux_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high

#647 Bug 1976399: DBChecker: reconcile the election timeouts when specified
  go-controller/pkg/config/config.go
  go-controller/pkg/ovndbmanager/ovndbmanager.go
  go-controller/pkg/ovndbmanager/ovndbmanager_test.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#663 Bug 1903408: Merge externalTrafficPolicy ONLY
  docs/design/external_traffic_policy.md
  go-controller/pkg/factory/types.go
  go-controller/pkg/node/gateway.go
  go-controller/pkg/node/gateway_init.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_iptables.go
  go-controller/pkg/node/gateway_localnet.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/gateway_shared_intf_linux.go
  go-controller/pkg/node/healthcheck.go
  go-controller/pkg/ovn/loadbalancer/loadbalancer.go
  go-controller/pkg/util/kube.go
  test/e2e/e2e.go
  test/e2e/util.go
  test/scripts/e2e-cp.sh
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium

#718 Bug 2001363: [4.8z] Ensure client handling of canceled/dropped OVSDB monitor
  go-controller/vendor/github.com/ebay/go-ovn/client.go
  go-controller/vendor/github.com/ebay/go-ovn/ovnimp.go
  go-controller/vendor/github.com/ebay/libovsdb/client.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-urgent

#729 Bug 1995335: Add "iface-id-ver=${POD_UID}" tuple to the external-ids of logical and OVS ports
  go-controller/pkg/cni/helper_linux.go
  go-controller/pkg/cni/ovs.go
  go-controller/pkg/config/config.go
  go-controller/pkg/node/node.go
  go-controller/pkg/node/node_smartnic_test.go
  go-controller/pkg/ovn/pods.go
Labels: approved, lgtm

#720 [release-4.8] Bug 2001542: fix reserve joinSwitch LRP IPs
  go-controller/pkg/ovn/gateway.go
  go-controller/pkg/ovn/logical_switch_manager/logical_switch_manager.go
  go-controller/pkg/ovn/logical_switch_manager/logical_switch_manager_test.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/namespace_test.go
  go-controller/pkg/ovn/ovn.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, qe-approved

#735 Bug 2002372: Fixes misuse of pod annotations during update event
  go-controller/pkg/ovn/ovn.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium

#686 Bug 1996201: Fixes cases of timed out while waiting for OVS port binding
  go-controller/pkg/cni/cni.go
  go-controller/pkg/cni/cniserver.go
  go-controller/pkg/cni/cniserver_test.go
  go-controller/pkg/cni/cnishim.go
  go-controller/pkg/cni/helper_linux.go
  go-controller/pkg/cni/ovs.go
  go-controller/pkg/cni/types.go
  go-controller/pkg/cni/utils.go
  go-controller/pkg/cni/utils_test.go
  go-controller/pkg/config/config.go
  go-controller/pkg/config/config_test.go
  go-controller/pkg/node/node_smartnic.go
  go-controller/pkg/node/node_smartnic_test.go
  go-controller/pkg/util/kube.go
  go-controller/pkg/util/kube_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-medium

#722 [release-4.8] Bug 2001641: egressfirewall not set after upgrade
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/ovn/egressfirewall_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high

#732 Fix bad merge on egressip test
  go-controller/pkg/ovn/egressip_test.go
Labels: approved, lgtm

#738 Bug 2003195: Ensure host interfaces are deleted by CNI
  go-controller/pkg/cni/helper_linux.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#741 Bug 2000057: panic after EgressFirewall deletion and DNS record expiration
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/ovn/egressfirewall_dns.go
  test/e2e/e2e.go
  test/e2e/unidling.go
Labels: approved, lgtm

#724 [release-4.7] Bug 2001998: egressfirewall not set after upgrade
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/ovn/egressfirewall_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, qe-approved

#739 Bug 2002010: Fixes skipping pods accidentally in retry
  go-controller/pkg/ovn/ovn.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium

#719 Bug 2001364: [4.7z] Ensure client handling of canceled/dropped OVSDB monitor
  go-controller/vendor/github.com/ebay/go-ovn/client.go
  go-controller/vendor/github.com/ebay/go-ovn/ovnimp.go
  go-controller/vendor/github.com/ebay/libovsdb/client.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-urgent

#742 Bug 1999261: filter out KubeAPIAuth when logging CNI requests
  go-controller/pkg/cni/cni.go
  go-controller/pkg/cni/types.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium

#721 [release-4.7] Bug 2001543: fix reserve joinSwitch LRP IPs
  go-controller/pkg/ovn/gateway.go
  go-controller/pkg/ovn/logical_switch_manager/logical_switch_manager.go
  go-controller/pkg/ovn/logical_switch_manager/logical_switch_manager_test.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/namespace_test.go
  go-controller/pkg/ovn/ovn.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, qe-approved

#676 Bug 1988512: [release-4.6] Fix LGW externalIP
  go-controller/pkg/node/gateway_localnet.go
  go-controller/pkg/node/gateway_localnet_linux_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-medium

#725 Bug 2003245: [4.9] Revert "Add libovsdb clients to controllers & test harness"
  go-controller/cmd/ovnkube/ovnkube.go
  go-controller/go.mod
  go-controller/go.sum
  go-controller/pkg/ovn/controller/services/services_controller.go
  go-controller/pkg/ovn/controller/services/services_controller_test.go
  go-controller/pkg/ovn/controller/unidling/unidle.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/ovn_test.go
  go-controller/pkg/testing/libovsdb/libovsdb.go
  go-controller/pkg/testing/libovsdb/matchers.go
  go-controller/pkg/util/libovsdb.go
  go-controller/vendor/github.com/alexflint/go-filemutex/LICENSE
  go-controller/vendor/github.com/alexflint/go-filemutex/README.md
  go-controller/vendor/github.com/alexflint/go-filemutex/filemutex_flock.go
  go-controller/vendor/github.com/alexflint/go-filemutex/filemutex_windows.go
  go-controller/vendor/github.com/cenkalti/backoff/v4/.gitignore
  go-controller/vendor/github.com/cenkalti/backoff/v4/.travis.yml
  go-controller/vendor/github.com/cenkalti/backoff/v4/LICENSE
  go-controller/vendor/github.com/cenkalti/backoff/v4/README.md
  go-controller/vendor/github.com/cenkalti/backoff/v4/backoff.go
  go-controller/vendor/github.com/cenkalti/backoff/v4/context.go
  go-controller/vendor/github.com/cenkalti/backoff/v4/exponential.go
  go-controller/vendor/github.com/cenkalti/backoff/v4/go.mod
  go-controller/vendor/github.com/cenkalti/backoff/v4/retry.go
  go-controller/vendor/github.com/cenkalti/backoff/v4/ticker.go
  go-controller/vendor/github.com/cenkalti/backoff/v4/timer.go
  go-controller/vendor/github.com/cenkalti/backoff/v4/tries.go
  go-controller/vendor/github.com/cenkalti/rpc2/jsonrpc/jsonrpc.go
  go-controller/vendor/github.com/imdario/mergo/.deepsource.toml
  go-controller/vendor/github.com/imdario/mergo/.travis.yml
  go-controller/vendor/github.com/imdario/mergo/README.md
  go-controller/vendor/github.com/imdario/mergo/doc.go
  go-controller/vendor/github.com/imdario/mergo/go.mod
  go-controller/vendor/github.com/imdario/mergo/go.sum
  go-controller/vendor/github.com/imdario/mergo/map.go
  go-controller/vendor/github.com/imdario/mergo/merge.go
  go-controller/vendor/github.com/imdario/mergo/mergo.go
  go-controller/vendor/github.com/ovn-org/libovsdb/cache/cache.go
  go-controller/vendor/github.com/ovn-org/libovsdb/client/api.go
  go-controller/vendor/github.com/ovn-org/libovsdb/client/client.go
  go-controller/vendor/github.com/ovn-org/libovsdb/client/options.go
  go-controller/vendor/github.com/ovn-org/libovsdb/ovsdb/condition.go
  go-controller/vendor/github.com/ovn-org/libovsdb/ovsdb/map.go
  go-controller/vendor/github.com/ovn-org/libovsdb/ovsdb/mutation.go
  go-controller/vendor/github.com/ovn-org/libovsdb/ovsdb/notation.go
  go-controller/vendor/github.com/ovn-org/libovsdb/ovsdb/schema.go
  go-controller/vendor/github.com/ovn-org/libovsdb/ovsdb/set.go
  go-controller/vendor/github.com/ovn-org/libovsdb/server/database.go
  go-controller/vendor/github.com/ovn-org/libovsdb/server/doc.go
  go-controller/vendor/github.com/ovn-org/libovsdb/server/monitor.go
  go-controller/vendor/github.com/ovn-org/libovsdb/server/mutate.go
  go-controller/vendor/github.com/ovn-org/libovsdb/server/server.go
  go-controller/vendor/modules.txt
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high, staff-eng-approved

#700 [release-4.8] Bug 1999638: Fix duplicate incrementing of subnet allocation metric
  go-controller/pkg/ovn/master.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high

#743 Bug 2004269: Sync ECMP routes on startup and fixes stale ECMP routes
  go-controller/pkg/factory/factory.go
  go-controller/pkg/factory/mocks/ObjectCacheInterface.go
  go-controller/pkg/factory/types.go
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/pods_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, qe-approved

#763 Bug 2005913: [4.7z] Sync ECMP routes on startup and fixes stale ECMP routes
  go-controller/pkg/factory/factory.go
  go-controller/pkg/factory/mocks/ObjectCacheInterface.go
  go-controller/pkg/factory/types.go
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/pods_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high

#749 [release-4.8] Bug 2004488: panic after EgressFirewall deletion and DNS record expiration
  go-controller/pkg/ovn/egressfirewall_dns.go
  test/e2e/unidling.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-urgent

#752 [release-4.8] Bug 1996739: Fix ensurePod to call addPodExternalGW only for annotation updates
  go-controller/pkg/ovn/ovn.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high

#753 Bug 2005357: [4.8z] Fixes misuse of pod annotations during update event
  go-controller/pkg/ovn/ovn.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-medium, qe-approved

#758 Bug 2005464: [4.8z] Fixes skipping pods accidentally in retry
  go-controller/pkg/ovn/ovn.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-medium

#768 Bug 2006325: Bump OVN to ovn21.09-21.09.0-19.el8fdp
  Dockerfile
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#754 Bug 2005391: [4.7z] Fixes misuse of pod annotations during update event
  go-controller/pkg/ovn/ovn.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-medium, qe-approved

#661 [release 4.8] Bug 1994624: Infer subnet for node /128 IPv6 addresses
  go-controller/pkg/node/gateway_init.go
  go-controller/pkg/util/net_linux.go
  go-controller/pkg/util/net_linux_unit_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-urgent

#769 Bug 2007665: [4.7z] Ensure host interfaces are deleted by CNI
  go-controller/pkg/cni/cni.go
  go-controller/pkg/cni/helper_linux.go
  go-controller/pkg/util/mocks/NetLinkOps.go
  go-controller/pkg/util/net_linux.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, qe-approved

#775 ovs: bump to 2.16.0-15.el8fdp
  Dockerfile
Labels: approved, lgtm
