Repository openshift/ovn-kubernetes, pull requests merged in 2021-08, with the labels that each got.

#635 [release-4.8] Bug 1976241: Update existing policy ACLs on start
  go-controller/pkg/ovn/address_set/address_set.go
  go-controller/pkg/ovn/address_set/address_set_cleanup.go
  go-controller/pkg/ovn/address_set/address_set_test.go
  go-controller/pkg/ovn/address_set/fake_address_set.go
  go-controller/pkg/ovn/address_set/mocks/AddressSetFactory.go
  go-controller/pkg/ovn/gress_policy.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_test.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm

#643 Bug 1989694: Bump OVN to ovn21.09-21.09.0-10.el8fdp
  Dockerfile
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#562 Bug 1967132: policy: handle NetworkPolicies single "from" multiple "ipBlock"
  go-controller/pkg/ovn/gress_policy.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm

#649 [release-4.7] Bug 1991445: Bump OVN to 20.12.0-140.el8fdp
  Dockerfile
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-medium

#652 Bug 1991793: [4.9] bump OVN to ovn21.09-21.09.0-12.el8fdp
  Dockerfile
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium

#636 [release-4.8] Bug 1988487: Fix lgw eip 4.8
  go-controller/pkg/node/gateway_localnet.go
  go-controller/pkg/node/gateway_localnet_linux_test.go
  test/e2e/e2e.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-medium

#655 Bug 1976215: Fix: sync egress IP for missed events on start-up
  go-controller/pkg/factory/factory.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-urgent

#659 Bug 1994069: bump OVN to ovn21.09-21.09.0-13.el8fdp
  Dockerfile
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, bugzilla/severity-urgent

#656 Bug 1985957: Backport ovnkube-trace requires ip package to be installed to 4.8
  go-controller/cmd/ovnkube-trace/ovnkube-trace.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-medium

#658 Bug 1978797: Sync exgw routes on startup
  go-controller/pkg/factory/factory.go
  go-controller/pkg/factory/mocks/ObjectCacheInterface.go
  go-controller/pkg/factory/types.go
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/pods_test.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#667 Bug 1959352: scale fixes 1
  go-controller/go.mod
  go-controller/go.sum
  go-controller/pkg/cni/cniserver.go
  go-controller/pkg/cni/cnishim.go
  go-controller/pkg/cni/cnismartnic_test.go
  go-controller/pkg/cni/ovs.go
  go-controller/pkg/cni/utils.go
  go-controller/pkg/factory/factory.go
  go-controller/pkg/factory/handler.go
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/port_group_unit_test.go
  go-controller/vendor/github.com/ebay/go-ovn/client.go
  go-controller/vendor/github.com/ebay/go-ovn/logical_switch_port.go
  go-controller/vendor/github.com/ebay/go-ovn/ovnimp.go
  go-controller/vendor/github.com/ebay/go-ovn/port_group.go
  go-controller/vendor/modules.txt
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium

#666 Bug 1995330: Cherry-pick of per-service loadbalancers
  go-controller/go.mod
  go-controller/pkg/ovn/OCP_HACKS.go
  go-controller/pkg/ovn/controller/services/load_balancer.go
  go-controller/pkg/ovn/controller/services/load_balancer_test.go
  go-controller/pkg/ovn/controller/services/node_tracker.go
  go-controller/pkg/ovn/controller/services/repair.go
  go-controller/pkg/ovn/controller/services/repair_test.go
  go-controller/pkg/ovn/controller/services/service_tracker.go
  go-controller/pkg/ovn/controller/services/service_tracker_test.go
  go-controller/pkg/ovn/controller/services/services_controller.go
  go-controller/pkg/ovn/controller/services/services_controller_test.go
  go-controller/pkg/ovn/controller/services/utils.go
  go-controller/pkg/ovn/controller/services/utils_test.go
  go-controller/pkg/ovn/gateway.go
  go-controller/pkg/ovn/gateway/gateway.go
  go-controller/pkg/ovn/gateway_cleanup.go
  go-controller/pkg/ovn/gateway_init.go
  go-controller/pkg/ovn/gateway_test.go
  go-controller/pkg/ovn/loadbalancer/lb_cache.go
  go-controller/pkg/ovn/loadbalancer/lb_cache_test.go
  go-controller/pkg/ovn/loadbalancer/loadbalancer.go
  go-controller/pkg/ovn/loadbalancer/loadbalancer_test.go
  go-controller/pkg/ovn/loadbalancer/types.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/namespace_test.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/types/const.go
  go-controller/pkg/util/kube.go
  go-controller/pkg/util/kube_test.go
  go-controller/pkg/util/ovs.go
  go-controller/pkg/util/util.go
  go-controller/pkg/util/util_unit_test.go
  test/scripts/e2e-kind.sh
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#671 Bug 1943334: Taint node with NoSchedule when ovnkube pod is down
  go-controller/pkg/node/node.go
  go-controller/pkg/node/node_test.go
  go-controller/pkg/types/const.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#670 Bug 1989615: Fix GetPortAddresses for HBO
  go-controller/pkg/util/net.go
  go-controller/pkg/util/net_unit_test.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#679 [release-4.9] Bug 1973215: fix reserve joinSwitch LRP IPs
  go-controller/pkg/ovn/gateway.go
  go-controller/pkg/ovn/logical_switch_manager.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/namespace_test.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#677 Bug 1994647: Add quotes around nexthop and dst-ip fields
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/ovn/egressgw_test.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#684 Bug 1997114: Fixes ensure address set
  go-controller/pkg/ovn/address_set/address_set.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium

#672 Bug 1995816: [4.9] backport "attempting to reduce cardinality in the interest of memory performance"
  go-controller/pkg/factory/handler.go
  go-controller/pkg/metrics/master.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#685 Bug 1997270: bump OVN to ovn21.09-21.09.0-15.el8fdp
  Dockerfile
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#683 [release-4.7] Bug 1997104: fix reserve joinSwitch LRP IPs
  go-controller/pkg/ovn/gateway.go
  go-controller/pkg/ovn/logical_switch_manager.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/namespace_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, qe-approved

#665 [release-4.8] Bug 1994937: Fix: sync egress IP for missed events on start-up
  go-controller/pkg/factory/factory.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-urgent, qe-approved

#650 [release-4.7] Bug 1976242: Update existing policy ACLs on start
  go-controller/pkg/ovn/address_set/address_set.go
  go-controller/pkg/ovn/address_set/address_set_cleanup.go
  go-controller/pkg/ovn/address_set/address_set_test.go
  go-controller/pkg/ovn/address_set/fake_address_set.go
  go-controller/pkg/ovn/address_set/mocks/AddressSetFactory.go
  go-controller/pkg/ovn/gress_policy.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_test.go
  go-controller/pkg/util/ovs.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high
