Repository openshift/ovn-kubernetes, pull requests merged in 2021-07, with the labels that each got.

#543 [release-4.7] Bug 1940566: Properly log when hybrid overlay errors out
  go-controller/hybrid-overlay/cmd/hybrid-overlay-node/hybrid-overlay-node.go
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, cherry-pick-approved, lgtm

#592 Bug 1972484: egress firewall as ACLs + service connectivity fixes
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/ovn/egressfirewall_test.go
  go-controller/pkg/ovn/ovn.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, lgtm, qe-approved

#547 Bug 1962608: ensure missed events are handled during a reconnection
  go-controller/go.mod
  go-controller/go.sum
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/pods_test.go
  go-controller/vendor/github.com/containernetworking/cni/pkg/skel/skel.go
  go-controller/vendor/github.com/ebay/go-ovn/Dockerfile
  go-controller/vendor/github.com/ebay/go-ovn/Makefile
  go-controller/vendor/github.com/ebay/go-ovn/acl.go
  go-controller/vendor/github.com/ebay/go-ovn/address_set.go
  go-controller/vendor/github.com/ebay/go-ovn/apis.go
  go-controller/vendor/github.com/ebay/go-ovn/chassis.go
  go-controller/vendor/github.com/ebay/go-ovn/chassis_private.go
  go-controller/vendor/github.com/ebay/go-ovn/client.go
  go-controller/vendor/github.com/ebay/go-ovn/common.go
  go-controller/vendor/github.com/ebay/go-ovn/dhcp_options.go
  go-controller/vendor/github.com/ebay/go-ovn/encap.go
  go-controller/vendor/github.com/ebay/go-ovn/load_balancer.go
  go-controller/vendor/github.com/ebay/go-ovn/logical_router.go
  go-controller/vendor/github.com/ebay/go-ovn/logical_router_policy.go
  go-controller/vendor/github.com/ebay/go-ovn/logical_router_port.go
  go-controller/vendor/github.com/ebay/go-ovn/logical_router_static_route.go
  go-controller/vendor/github.com/ebay/go-ovn/logical_switch.go
  go-controller/vendor/github.com/ebay/go-ovn/logical_switch_port.go
  go-controller/vendor/github.com/ebay/go-ovn/meter.go
  go-controller/vendor/github.com/ebay/go-ovn/nat.go
  go-controller/vendor/github.com/ebay/go-ovn/nb_global.go
  go-controller/vendor/github.com/ebay/go-ovn/ovnimp.go
  go-controller/vendor/github.com/ebay/go-ovn/ovnnotify.go
  go-controller/vendor/github.com/ebay/go-ovn/port_group.go
  go-controller/vendor/github.com/ebay/go-ovn/qos.go
  go-controller/vendor/github.com/ebay/go-ovn/sb_global.go
  go-controller/vendor/github.com/ebay/go-ovn/test_common.go
  go-controller/vendor/modules.txt
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm

#603 Bug 1942604: Allow-from-router network policy support for ovn-kubernetes
  contrib/kind.sh
  dist/images/daemonset.sh
  dist/images/ovnkube.sh
  dist/templates/ovn-setup.yaml.j2
  dist/templates/ovnkube-master.yaml.j2
  dist/templates/ovnkube-node.yaml.j2
  go-controller/pkg/config/config.go
  go-controller/pkg/node/OCP_HACKS.go
  go-controller/pkg/ovn/gateway_test.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/namespace_test.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/ovn_test.go
  go-controller/pkg/util/util.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#619 Merge 2021-07-21 2nd
  contrib/kind.sh
  dist/images/daemonset.sh
  dist/images/ovnkube.sh
  dist/templates/ovnkube-node.yaml.j2
  docs/kind.md
  go-controller/Makefile
  go-controller/cmd/ovnkube-trace/ovnkube-trace.go
  go-controller/pkg/config/config.go
  go-controller/pkg/kube/kube.go
  go-controller/pkg/kube/kube_test.go
  go-controller/pkg/kube/mocks/Interface.go
  go-controller/pkg/node/gateway.go
  go-controller/pkg/node/gateway_init.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_localnet.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/healthcheck.go
  go-controller/pkg/node/node.go
  go-controller/pkg/node/node_test.go
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/ovn/egressgw_test.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/gateway_cleanup.go
  go-controller/pkg/ovn/gateway_init.go
  go-controller/pkg/ovn/gateway_test.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/ovn_test.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/pods_test.go
  go-controller/pkg/ovn/policy_test.go
  go-controller/pkg/types/const.go
  go-controller/pkg/util/net_linux.go
  go-controller/pkg/util/net_linux_unit_test.go
  go-controller/pkg/util/nicstobridge.go
  go-controller/pkg/util/node_annotations.go
  go-controller/pkg/util/node_annotations_unit_test.go
  test/e2e/e2e.go
  test/scripts/e2e-cp.sh
Labels: approved, lgtm

#623 Bug 1985512: Add v6 management interface address for host network policy
  go-controller/pkg/ovn/master.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#622 Bump OVS to openvswitch2.15-2.15.0-28.el8fdp
  Dockerfile
Labels: approved, lgtm

#621 Bump OVN to ovn21.09-21.09.0-8.el8fdp
  Dockerfile
Labels: approved, lgtm

#628 Bug 1986443: Fix pod handler race downstream
  go-controller/pkg/ovn/ovn.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#620 Bug 1985347: ensure missed events are handled during a reconnection
  go-controller/go.mod
  go-controller/go.sum
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/pods_test.go
  go-controller/vendor/github.com/containernetworking/cni/pkg/skel/skel.go
  go-controller/vendor/github.com/ebay/go-ovn/Dockerfile
  go-controller/vendor/github.com/ebay/go-ovn/Makefile
  go-controller/vendor/github.com/ebay/go-ovn/acl.go
  go-controller/vendor/github.com/ebay/go-ovn/address_set.go
  go-controller/vendor/github.com/ebay/go-ovn/apis.go
  go-controller/vendor/github.com/ebay/go-ovn/chassis.go
  go-controller/vendor/github.com/ebay/go-ovn/chassis_private.go
  go-controller/vendor/github.com/ebay/go-ovn/client.go
  go-controller/vendor/github.com/ebay/go-ovn/common.go
  go-controller/vendor/github.com/ebay/go-ovn/dhcp_options.go
  go-controller/vendor/github.com/ebay/go-ovn/encap.go
  go-controller/vendor/github.com/ebay/go-ovn/load_balancer.go
  go-controller/vendor/github.com/ebay/go-ovn/logical_router.go
  go-controller/vendor/github.com/ebay/go-ovn/logical_router_policy.go
  go-controller/vendor/github.com/ebay/go-ovn/logical_router_port.go
  go-controller/vendor/github.com/ebay/go-ovn/logical_router_static_route.go
  go-controller/vendor/github.com/ebay/go-ovn/logical_switch.go
  go-controller/vendor/github.com/ebay/go-ovn/logical_switch_port.go
  go-controller/vendor/github.com/ebay/go-ovn/meter.go
  go-controller/vendor/github.com/ebay/go-ovn/nat.go
  go-controller/vendor/github.com/ebay/go-ovn/nb_global.go
  go-controller/vendor/github.com/ebay/go-ovn/ovnimp.go
  go-controller/vendor/github.com/ebay/go-ovn/ovnnotify.go
  go-controller/vendor/github.com/ebay/go-ovn/port_group.go
  go-controller/vendor/github.com/ebay/go-ovn/qos.go
  go-controller/vendor/github.com/ebay/go-ovn/sb_global.go
  go-controller/vendor/github.com/ebay/go-ovn/test_common.go
  go-controller/vendor/modules.txt
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm

#631 Bug 1986573: Declare a maximum line length for batching
  go-controller/pkg/util/ovs.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm

#630 Bug 1986440: Bump OVN to ovn21.09-21.09.0-9.el8fdp
  Dockerfile
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm
