Repository openshift/ovn-kubernetes, pull requests merged in 2022-08, with the labels that each got.

#1222 Bug 2111733: Bump OVN to 22.06.0-27
  Dockerfile
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high, qe-approved

#1223 Bug 2111619: Bump OVN to 22.06.0-27
  Dockerfile
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-urgent, staff-eng-approved, qe-approved

#1173 [release-4.10] Bug 2104454: improve performance of service sync
  go-controller/pkg/libovsdbops/loadbalancer.go
  go-controller/pkg/libovsdbops/model.go
  go-controller/pkg/libovsdbops/model_client.go
  go-controller/pkg/libovsdbops/model_client_test.go
  go-controller/pkg/libovsdbops/switch.go
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/gateway_init.go
  go-controller/pkg/ovn/loadbalancer/loadbalancer.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/util/util.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, backport-risk-assessed

#1214 Bug 2111534: Downstream Merge: 27-07-2022
  dist/images/daemonset.sh
  go-controller/hack/build-go.sh
  go-controller/hybrid-overlay/pkg/controller/node_windows.go
  go-controller/hybrid-overlay/pkg/controller/overlay_windows.go
  go-controller/pkg/libovsdbops/acl.go
  go-controller/pkg/libovsdbops/portgroup.go
  go-controller/pkg/libovsdbops/switch.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_localnet_linux_test.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/healthcheck_test.go
  go-controller/pkg/node/management-port_dpu_test.go
  go-controller/pkg/node/management-port_linux_test.go
  go-controller/pkg/node/management-port_test.go
  go-controller/pkg/node/node_test.go
  go-controller/pkg/node/port_claim_test.go
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/obj_retry.go
  go-controller/pkg/ovn/policy.go
  test/e2e/external_gateways.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#1195 [release-4.10] Bug 2109442: Fix GetPodsBySelector/GetNamespacesBySelector so MatchExpressions is respected
  go-controller/pkg/factory/factory.go
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, qe-approved, backport-risk-assessed

#1231 Bug 2109945: [Downstream Merge: 04-08-2022]
  go-controller/cmd/ovnkube/ovnkube.go
  go-controller/pkg/libovsdb/libovsdb.go
  go-controller/pkg/node/gateway_localnet_linux_test.go
  go-controller/pkg/node/node.go
  go-controller/pkg/node/node_test.go
  go-controller/pkg/node/ovn_test.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/util/ovn.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#1236 Fix ovn version in Dockerfile.base
  Dockerfile.base
Labels: approved, lgtm

#1136 [release-4.9] Bug 2096802: duplicated IPs can be assigned to multiple Pods
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, backport-risk-assessed

#1215 Bug 2111588: [release-4.10] export OVS metrics
  go-controller/cmd/ovn-kube-util/app/ovs-exporter.go
  go-controller/cmd/ovnkube/ovnkube.go
  go-controller/pkg/config/config.go
  go-controller/pkg/config/config_test.go
  go-controller/pkg/metrics/metrics.go
  go-controller/pkg/metrics/mocks/gauge.go
  go-controller/pkg/metrics/ovs.go
  go-controller/pkg/metrics/ovs_test.go
  go-controller/pkg/metrics/ovs_windows.go
  go-controller/pkg/util/ovs.go
  go-controller/pkg/util/ovs_unit_test.go
  go-controller/vendor/github.com/prometheus/client_golang/prometheus/collectors/collectors.go
  go-controller/vendor/github.com/prometheus/client_golang/prometheus/collectors/dbstats_collector.go
  go-controller/vendor/github.com/prometheus/client_golang/prometheus/collectors/dbstats_collector_go115.go
  go-controller/vendor/github.com/prometheus/client_golang/prometheus/collectors/dbstats_collector_pre_go115.go
  go-controller/vendor/github.com/prometheus/client_golang/prometheus/collectors/expvar_collector.go
  go-controller/vendor/github.com/prometheus/client_golang/prometheus/collectors/go_collector.go
  go-controller/vendor/github.com/prometheus/client_golang/prometheus/collectors/process_collector.go
  go-controller/vendor/modules.txt
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, backport-risk-assessed

#1196 Bug 2105444: ITP=local, host->svc case failure
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/util/ovs.go
  go-controller/pkg/util/ovs_unit_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, qe-approved, backport-risk-assessed

#1237 [DownstreamMerge] 8-8-2022
  .github/workflows/docker.yml
  .github/workflows/test.yml
  .github/workflows/test_periodic.yml
  README_MANUAL.md
  dist/templates/k8s.ovn.org_egressqoses.yaml.j2
  go-controller/Makefile
  go-controller/go.mod
  go-controller/go.sum
  go-controller/pkg/cni/cni_dpu_test.go
  go-controller/pkg/crd/egressqos/v1/types.go
  go-controller/pkg/factory/factory.go
  go-controller/pkg/factory/factory_test.go
  go-controller/pkg/factory/handler.go
  go-controller/pkg/factory/mocks/ObjectCacheInterface.go
  go-controller/pkg/factory/types.go
  go-controller/pkg/informer/handlers.go
  go-controller/pkg/kube/annotator_test.go
  go-controller/pkg/kube/kube.go
  go-controller/pkg/kube/mocks/Annotator.go
  go-controller/pkg/kube/mocks/HTTPServer.go
  go-controller/pkg/kube/mocks/HTTPServerFactory.go
  go-controller/pkg/kube/mocks/Interface.go
  go-controller/pkg/kube/mocks/Listener.go
  go-controller/pkg/kube/mocks/Server.go
  go-controller/pkg/metrics/metrics.go
  go-controller/pkg/node/gateway.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_localnet_linux_test.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/healthcheck.go
  go-controller/pkg/node/node.go
  go-controller/pkg/node/node_dpu_test.go
  go-controller/pkg/node/node_test.go
  go-controller/pkg/ovn/egressfirewall_test.go
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/obj_retry.go
  go-controller/pkg/ovn/obj_retry_test.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/pods_test.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_test.go
  go-controller/pkg/syncmap/syncmap.go
  test/e2e/egressqos.go
Labels: approved, lgtm

#1233 Bug 2115845: [release-4.9] OCP CARRY: Add the rules to EXTERNALIPs only for SGW mode
  go-controller/pkg/node/gateway_iptables.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, backport-risk-assessed

#1248 revert endpoints
  go-controller/pkg/cni/cni_dpu_test.go
  go-controller/pkg/factory/factory.go
  go-controller/pkg/factory/factory_test.go
  go-controller/pkg/factory/handler.go
  go-controller/pkg/factory/mocks/ObjectCacheInterface.go
  go-controller/pkg/factory/types.go
  go-controller/pkg/informer/handlers.go
  go-controller/pkg/kube/annotator_test.go
  go-controller/pkg/kube/kube.go
  go-controller/pkg/kube/mocks/Annotator.go
  go-controller/pkg/kube/mocks/HTTPServer.go
  go-controller/pkg/kube/mocks/HTTPServerFactory.go
  go-controller/pkg/kube/mocks/Interface.go
  go-controller/pkg/kube/mocks/Listener.go
  go-controller/pkg/kube/mocks/Server.go
  go-controller/pkg/node/gateway.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_localnet_linux_test.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/healthcheck.go
  go-controller/pkg/node/node.go
  go-controller/pkg/node/node_dpu_test.go
  go-controller/pkg/node/node_test.go
Labels: approved, lgtm

#1247 Bug 2118717: [release-4.11] Fix race when adding and removing pod with same name
  go-controller/pkg/ovn/obj_retry.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/pods_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-urgent, qe-approved, backport-risk-assessed

#1203 [release-4.10] Bug 2070392: Fix egress IP reassignment on cloud
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, backport-risk-assessed

#1232 [release-4.11] Bug 2115481: master: don't list node pods on add/update unless necessary
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, backport-risk-assessed

#1250 OCPBUGS-174: [release-4.10] Fix race when adding and removing pod with same name
  go-controller/pkg/libovsdbops/switch.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/pods_retry.go
  go-controller/pkg/ovn/pods_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical

#1234 Bug 2115039: [release-4.8] OCP CARRY: Add the rules to EXTERNALIPs only for SGW mode
  go-controller/pkg/node/gateway_iptables.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, backport-risk-assessed

#1209 [release-4.11] Bug 2109642: two hybrid overlay fixes
  go-controller/hybrid-overlay/pkg/controller/node_linux.go
  go-controller/hybrid-overlay/pkg/controller/node_linux_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, qe-approved, backport-risk-assessed

#1227 [release-4.10] Bug 2113861: reconcile-node-lbs
  go-controller/pkg/ovn/controller/services/node_tracker.go
  go-controller/pkg/ovn/controller/services/services_controller_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-medium, backport-risk-assessed

#1253 [DownstreamMerge] 8-25-2022
  .github/actions/cleanup-action/package-lock.json
  .github/actions/cleanup-action/package.json
  dist/images/Dockerfile.fedora
  dist/images/Dockerfile.fedora.dev
  docs/metrics.md
  go-controller/go.mod
  go-controller/go.sum
  go-controller/pkg/cni/cni_dpu_test.go
  go-controller/pkg/config/config.go
  go-controller/pkg/config/config_test.go
  go-controller/pkg/factory/factory.go
  go-controller/pkg/factory/factory_test.go
  go-controller/pkg/factory/handler.go
  go-controller/pkg/factory/mocks/ObjectCacheInterface.go
  go-controller/pkg/factory/types.go
  go-controller/pkg/informer/handlers.go
  go-controller/pkg/kube/annotator_test.go
  go-controller/pkg/kube/kube.go
  go-controller/pkg/kube/mocks/Annotator.go
  go-controller/pkg/kube/mocks/HTTPServer.go
  go-controller/pkg/kube/mocks/HTTPServerFactory.go
  go-controller/pkg/kube/mocks/Interface.go
  go-controller/pkg/kube/mocks/Listener.go
  go-controller/pkg/kube/mocks/Server.go
  go-controller/pkg/libovsdbops/acl.go
  go-controller/pkg/metrics/master.go
  go-controller/pkg/metrics/metrics.go
  go-controller/pkg/metrics/ovn.go
  go-controller/pkg/node/gateway.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_localnet_linux_test.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/healthcheck.go
  go-controller/pkg/node/node.go
  go-controller/pkg/node/node_dpu_test.go
  go-controller/pkg/node/node_test.go
  go-controller/pkg/ovn/acl.go
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/ovn/egressfirewall_test.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/gress_policy.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/pods_test.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_test.go
  go-controller/pkg/types/const.go
  go-controller/vendor/github.com/ovn-org/libovsdb/cache/cache.go
  go-controller/vendor/github.com/ovn-org/libovsdb/server/mutate.go
  go-controller/vendor/github.com/ovn-org/libovsdb/server/transact.go
  go-controller/vendor/modules.txt
Labels: approved, lgtm

#1241 Bug 2117078: [release-4.7] Multiple ExGW cache validation/improvements
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-urgent, backport-risk-assessed

#1256 OCPBUGS-658: [release-4.11] pods: deleteLogicalPort should not fail when port is already gone
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/pods_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important
