Repository openshift/ovn-kubernetes, pull requests merged in 2022-06, with the labels that each got.

#1102 Bug 2089930: Dockerfile: bump OVN to ovn22.06
  Dockerfile
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#1099 [release-4.10] Bug 2088040: Delete ChassisPrivate along with Chassis
  go-controller/go.mod
  go-controller/go.sum
  go-controller/pkg/libovsdb/libovsdb.go
  go-controller/pkg/libovsdbops/chassis.go
  go-controller/pkg/libovsdbops/chassis_test.go
  go-controller/pkg/libovsdbops/model.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/pods_test.go
  go-controller/pkg/ovn/policy_test.go
  go-controller/vendor/github.com/go-logr/logr/.golangci.yaml
  go-controller/vendor/github.com/go-logr/logr/README.md
  go-controller/vendor/github.com/go-logr/logr/funcr/funcr.go
  go-controller/vendor/github.com/go-logr/logr/logr.go
  go-controller/vendor/github.com/go-logr/stdr/README.md
  go-controller/vendor/github.com/go-logr/stdr/go.mod
  go-controller/vendor/github.com/go-logr/stdr/go.sum
  go-controller/vendor/github.com/ovn-org/libovsdb/cache/cache.go
  go-controller/vendor/github.com/ovn-org/libovsdb/client/api.go
  go-controller/vendor/github.com/ovn-org/libovsdb/client/client.go
  go-controller/vendor/github.com/ovn-org/libovsdb/client/monitor.go
  go-controller/vendor/github.com/ovn-org/libovsdb/mapper/mapper.go
  go-controller/vendor/github.com/ovn-org/libovsdb/ovsdb/condition.go
  go-controller/vendor/github.com/ovn-org/libovsdb/server/database.go
  go-controller/vendor/github.com/ovn-org/libovsdb/server/server.go
  go-controller/vendor/github.com/ovn-org/libovsdb/server/transact.go
  go-controller/vendor/modules.txt
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-medium, backport-risk-assessed

#1107 [release-4.8] Bug 2084110: EgressIP NATs are not being cleared correctly from the logical router
  go-controller/pkg/ovn/egressip.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, qe-approved, backport-risk-assessed

#1119 Bug 2092473: libovsdb perf backports
  go-controller/vendor/github.com/ovn-org/libovsdb/cache/cache.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#1116 Bug 2091990: fix lflow-cache-limit-kb ovs external-id
  go-controller/pkg/node/node.go
  go-controller/pkg/node/node_test.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium

#1118 Bug 2091634: Use ovs-appctl dpctl/* instead of ovs-dpctl
  go-controller/pkg/metrics/ovs.go
  go-controller/pkg/util/ovs.go
  go-controller/pkg/util/ovs_unit_test.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#1127 Bug 2093396: Remove node-tainting for too-small MTU
  go-controller/pkg/node/node.go
  go-controller/pkg/node/node_test.go
  test/e2e/e2e.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#1093 Bug 2086891: policy: Fix multicast allow policy type.
  go-controller/pkg/ovn/policy.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, qe-approved, backport-risk-assessed

#1130 Bug 2094039: egressIP: node retrieval failure is not respected, causes panic
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/obj_retry.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#1117 Bug 2095113: Dockerfile: bump to openvswitch2.17-2.17.0-22.el8fdp
  Dockerfile
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium

#1135 Bug 2089716: Downstream fix for OVN-Kube node cardinality
  go-controller/cmd/ovn-kube-util/app/ovs-exporter.go
  go-controller/cmd/ovnkube/ovnkube.go
  go-controller/hybrid-overlay/pkg/controller/node_linux.go
  go-controller/pkg/metrics/metrics.go
  go-controller/pkg/metrics/mocks/gauge.go
  go-controller/pkg/metrics/ovn.go
  go-controller/pkg/metrics/ovn_db.go
  go-controller/pkg/metrics/ovn_northd.go
  go-controller/pkg/metrics/ovs.go
  go-controller/pkg/metrics/ovs_test.go
  go-controller/pkg/node/healthcheck.go
  go-controller/pkg/node/node_ip_handler_linux.go
  go-controller/pkg/ovn/egressfirewall_dns.go
  go-controller/pkg/ovn/obj_retry.go
  go-controller/pkg/ovn/ovn.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#1101 Bug 2088582: Bumps OVN to 21.12.0-58.el8fdp
  Dockerfile
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, backport-risk-assessed

#1128 Bug 2092889: update all egress ACLs' direction to "from-lport"
  go-controller/pkg/ovn/policy.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#1146 Bug 2094088: Fixes Updating non-default columns as well as libovsdb fixes for empty values
  go-controller/go.mod
  go-controller/go.sum
  go-controller/hybrid-overlay/pkg/controller/master.go
  go-controller/pkg/libovsdbops/acl.go
  go-controller/pkg/libovsdbops/copp.go
  go-controller/pkg/libovsdbops/lbgroup.go
  go-controller/pkg/libovsdbops/mac_binding.go
  go-controller/pkg/libovsdbops/meter.go
  go-controller/pkg/libovsdbops/model.go
  go-controller/pkg/libovsdbops/model_client.go
  go-controller/pkg/libovsdbops/portgroup.go
  go-controller/pkg/libovsdbops/router.go
  go-controller/pkg/libovsdbops/switch.go
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/ovn/gateway_cleanup.go
  go-controller/pkg/ovn/gateway_copp.go
  go-controller/pkg/ovn/gateway_init.go
  go-controller/pkg/ovn/gateway_test.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/pods_test.go
  go-controller/pkg/ovn/policy_test.go
  go-controller/pkg/util/ovn.go
  go-controller/vendor/github.com/ovn-org/libovsdb/cache/cache.go
  go-controller/vendor/github.com/ovn-org/libovsdb/cache/uuidset.go
  go-controller/vendor/github.com/ovn-org/libovsdb/client/api.go
  go-controller/vendor/github.com/ovn-org/libovsdb/client/client.go
  go-controller/vendor/github.com/ovn-org/libovsdb/client/condition.go
  go-controller/vendor/github.com/ovn-org/libovsdb/client/doc.go
  go-controller/vendor/github.com/ovn-org/libovsdb/model/client.go
  go-controller/vendor/github.com/ovn-org/libovsdb/ovsdb/set.go
  go-controller/vendor/modules.txt
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-urgent

#1145 Bug 2089392: Update logging for specific policy when creating it
  go-controller/pkg/ovn/policy.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium

#1143 Bug 2079012: Fix egressIP object deletion if the node is deleted first
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/gateway_cleanup.go
  go-controller/pkg/ovn/gateway_test.go
  go-controller/pkg/util/net.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#1132 [release-4.10] Bug 2095193: duplicated IPs can be assigned to multiple Pods
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, backport-risk-assessed

#1114 Bug 2073378: Add node name into egress ip status for the removal
  go-controller/pkg/ovn/egressip.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-low, qe-approved

#1131 Bug 2092501: Fixes finding default gateway for configured GW interface
  go-controller/pkg/node/gateway_init.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/helper_linux.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, backport-risk-assessed

#1156 Bug 2099755: Add new EgressIP config option "egressip-reachability-total-timeout"
  go-controller/pkg/config/config.go
  go-controller/pkg/config/config_test.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/ovn.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium

#1129 Bug 2085089: Add support for enabling UDP packet aggregation on veth interfaces
  go-controller/go.mod
  go-controller/go.sum
  go-controller/pkg/cni/helper_linux.go
  go-controller/pkg/cni/types.go
  go-controller/pkg/cni/utils.go
  go-controller/pkg/cni/utils_test.go
  go-controller/pkg/config/config.go
  go-controller/pkg/config/config_test.go
  go-controller/pkg/node/gateway.go
  go-controller/vendor/github.com/safchain/ethtool/.travis.yml
  go-controller/vendor/github.com/safchain/ethtool/ethtool.go
  go-controller/vendor/github.com/safchain/ethtool/ethtool_cmd.go
  go-controller/vendor/github.com/safchain/ethtool/ethtool_msglvl.go
  go-controller/vendor/modules.txt
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium

#1161 Bug 2100249: Revert "Bug 2082599: add upper bound to number of failed attempts"
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/obj_retry.go
  go-controller/pkg/ovn/pods_test.go
  go-controller/pkg/ovn/policy.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-urgent

#1153 Bug 2099822: Fix pointer loop var
  go-controller/pkg/libovsdbops/acl.go
  go-controller/pkg/libovsdbops/switch.go
  go-controller/pkg/ovn/controller/services/load_balancer_test.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, backport-risk-assessed
