Repository openshift/ovn-kubernetes, pull requests merged in 2022-11, with the labels that each got.

#1326 OCPBUGS-2660: Add logging verbosity to configuring OVN logs
  go-controller/pkg/libovsdbops/transact.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important

#1323 OCPBUGS-2569: Fix netpol races
  go-controller/pkg/ovn/acl.go
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/ovn/gress_policy.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/obj_retry.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_test.go
  go-controller/pkg/ovn/port_cache.go
  go-controller/pkg/syncmap/syncmap.go
Labels: approved, lgtm, bugzilla/valid-bug, jira/valid-bug

#1337 OCPBUGS-2770: Allow empty nexthop in L3GatewayConfig node annotation
  go-controller/pkg/util/node_annotations.go
  go-controller/pkg/util/node_annotations_unit_test.go
Labels: approved, lgtm, bugzilla/valid-bug, jira/valid-bug, jira/severity-critical

#1228 [release-4.10] Bug 2105657: Fix egressIP object deletion if the node is deleted first
  go-controller/pkg/libovsdbops/router.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/gateway_cleanup.go
  go-controller/pkg/ovn/gateway_test.go
  go-controller/pkg/util/net.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, backport-risk-assessed

#1358 EIP: remove downstream's duplicate node delete test
  go-controller/pkg/ovn/egressip_test.go
Labels: approved, lgtm

#1361 OCPBUGS-3369: Fix mac address not set in SRIOV container interface
  go-controller/pkg/cni/helper_linux.go
  go-controller/pkg/cni/helper_linux_test.go
  go-controller/pkg/cni/mocks/NetNS.go
Labels: approved, lgtm, bugzilla/valid-bug, jira/valid-bug, jira/severity-critical

#1305 OCPBUGS-2222: Don't add ITP specific gw setup for DPU mode
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_localnet.go
  go-controller/pkg/node/gateway_shared_intf.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug

#1364 Downstream merge 11-08-2022
  .github/workflows/generate-report.yml
  .github/workflows/test.yml
  .github/workflows/test_periodic.yml
  go-controller/pkg/factory/factory.go
  go-controller/pkg/factory/factory_test.go
  go-controller/pkg/factory/handler.go
  go-controller/pkg/informer/informer.go
  go-controller/pkg/ovn/controller/egress_services/egress_services_controller.go
  go-controller/pkg/ovn/controller/services/node_tracker.go
  go-controller/pkg/ovn/controller/services/services_controller.go
  go-controller/pkg/ovn/egressqos.go
  go-controller/pkg/ovn/pods.go
Labels: approved, lgtm

#1347 OCPBUGS-3075: [release-4.12] Fix netpol races
  go-controller/pkg/ovn/acl.go
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/ovn/gress_policy.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/obj_retry.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_test.go
  go-controller/pkg/ovn/port_cache.go
  go-controller/pkg/syncmap/syncmap.go
Labels: approved, lgtm, bugzilla/valid-bug, jira/valid-bug

#1371 [release-4.13] Update images to be consistent with ART
  Dockerfile
  Dockerfile.base
  Dockerfile.microshift
Labels: approved, lgtm

#1363 OCPBUGS-298: Adapt ovnkube-trace to work with external controlplane
  go-controller/cmd/ovnkube-trace/ovnkube-trace.go
Labels: approved, lgtm, bugzilla/valid-bug, backport-risk-assessed, jira/valid-bug

#1377 OCPBUGS-3292: downstream windows fixes
  go-controller/hybrid-overlay/pkg/controller/node_linux_test.go
  go-controller/pkg/ovn/hybrid.go
  go-controller/pkg/ovn/hybrid_test.go
Labels: approved, lgtm, bugzilla/valid-bug, jira/valid-bug, jira/severity-important

#1368 OCPBUGS-3468: Disable packet MTU check when OVS HW Offload is enabled
  go-controller/pkg/node/gateway.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/util/ovs.go
Labels: approved, lgtm, bugzilla/valid-bug, jira/valid-bug

#1382 OCPBUGS-3773: Adjust ovs bundle timeout
  go-controller/pkg/node/node.go
  go-controller/pkg/node/node_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important

#1362 OCPBUGS-3797: [4.13] Dockerfile: bump OVS to 2.17.0-62.el8fdp
  Dockerfile
  Dockerfile.base
Labels: approved, lgtm, bugzilla/valid-bug, jira/valid-bug

#1385 [release-4.10] OCPBUGS-3858: Adjust ovs bundle timeout
  go-controller/pkg/node/node.go
  go-controller/pkg/node/node_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important

#1381 Bug 2092567: [Downstream Merge] 16/11/2022
  contrib/kind.sh
  dist/images/Dockerfile.fedora
  dist/images/daemonset.sh
  dist/images/ovndb-raft-functions.sh
  dist/images/ovnkube.sh
  dist/templates/ovn-ipsec.yaml.j2
  dist/templates/ovn-setup.yaml.j2
  dist/templates/ovnkube-db-raft.yaml.j2
  dist/templates/ovnkube-db.yaml.j2
  go-controller/cmd/ovnkube-trace/ovnkube-trace.go
  go-controller/pkg/factory/factory.go
  go-controller/pkg/factory/mocks/NodeWatchFactory.go
  go-controller/pkg/factory/types.go
  go-controller/pkg/informer/handlers.go
  go-controller/pkg/kube/healthcheck/healthcheck.go
  go-controller/pkg/kube/healthcheck/healthcheck_test.go
  go-controller/pkg/node/gateway.go
  go-controller/pkg/node/gateway_init.go
  go-controller/pkg/node/gateway_iptables.go
  go-controller/pkg/node/gateway_localnet.go
  go-controller/pkg/node/gateway_localnet_linux_test.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/gateway_shared_intf_linux.go
  go-controller/pkg/node/healthcheck.go
  go-controller/pkg/node/node.go
  go-controller/pkg/node/node_ip_handler_linux.go
  go-controller/pkg/node/obj_retry_gateway.go
  go-controller/pkg/node/obj_retry_node.go
  go-controller/pkg/node/obj_retry_test_helper.go
  go-controller/pkg/node/ovn_test.go
  go-controller/pkg/node/port_claim.go
  go-controller/pkg/node/port_claim_test.go
  go-controller/pkg/ovn/controller/services/services_controller_test.go
  go-controller/pkg/ovn/egressfirewall_dns.go
  go-controller/pkg/ovn/egressfirewall_dns_test.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/gress_policy.go
  go-controller/pkg/ovn/loadbalancer/loadbalancer.go
  go-controller/pkg/ovn/obj_retry_master.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_test.go
  go-controller/pkg/retry/obj_retry.go
  go-controller/pkg/retry/obj_retry_helper.go
  go-controller/pkg/testing/testifymockhelper.go
  go-controller/pkg/types/const.go
  go-controller/pkg/util/dns_test.go
  go-controller/pkg/util/iptables.go
  go-controller/pkg/util/kube.go
  go-controller/pkg/util/net_linux.go
  go-controller/pkg/util/net_linux_unit_test.go
  test/e2e/e2e.go
  test/e2e/egressip.go
  test/e2e/service.go
  test/e2e/util.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium

#1379 OCPBUGS-3658: [release-4.12] Support proper parsing of IPs with leading zeros
  go-controller/cmd/ovnkube-trace/ovnkube-trace.go
  go-controller/hybrid-overlay/pkg/util/util.go
  go-controller/pkg/node/gateway_iptables.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/gateway_shared_intf_linux.go
  go-controller/pkg/node/healthcheck.go
  go-controller/pkg/node/node.go
  go-controller/pkg/node/port_claim.go
  go-controller/pkg/ovn/controller/egress_services/egress_services_service.go
  go-controller/pkg/ovn/controller/services/load_balancer.go
  go-controller/pkg/ovn/controller/services/load_balancer_test.go
  go-controller/pkg/ovn/controller/services/utils.go
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/gress_policy.go
  go-controller/pkg/ovndbmanager/ovndbmanager.go
  go-controller/pkg/util/kube.go
  go-controller/pkg/util/kube_test.go
  go-controller/pkg/util/pod_annotation.go
Labels: approved, lgtm, bugzilla/valid-bug, jira/valid-bug, jira/severity-low

#1353 Bug OCPBUGS-3077: [release-4.11] Fix netpol races
  .github/workflows/docker.yml
  .github/workflows/test.yml
  .github/workflows/test_periodic.yml
  README_MANUAL.md
  go-controller/Makefile
  go-controller/go.mod
  go-controller/go.sum
  go-controller/pkg/factory/factory.go
  go-controller/pkg/libovsdbops/acl.go
  go-controller/pkg/ovn/acl.go
  go-controller/pkg/ovn/gress_policy.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/obj_retry.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_test.go
  go-controller/pkg/ovn/port_cache.go
  go-controller/pkg/syncmap/syncmap.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug

#1386 [release-4.12] OCPBUGS-3871: Ignore addresses in masquerade subnet when retrieving gateway IPs
  go-controller/pkg/util/net_linux.go
  go-controller/pkg/util/net_linux_unit_test.go
Labels: approved, lgtm, bugzilla/valid-bug, backport-risk-assessed, jira/valid-bug, jira/severity-critical

#1400 Bug OCPBUGS-1352: [DownstreamMerge] 11-18-22
  go-controller/cmd/ovnkube/ovnkube.go
  go-controller/hack/test-go.sh
  go-controller/hybrid-overlay/pkg/controller/node_linux.go
  go-controller/hybrid-overlay/pkg/controller/node_linux_test.go
  go-controller/pkg/libovsdbops/acl.go
  go-controller/pkg/libovsdbops/portgroup.go
  go-controller/pkg/network-controller-manager/network_controller_manager.go
  go-controller/pkg/node/obj_retry_gateway.go
  go-controller/pkg/node/obj_retry_node.go
  go-controller/pkg/node/obj_retry_test_helper.go
  go-controller/pkg/ovn/OCP_HACKS.go
  go-controller/pkg/ovn/acl.go
  go-controller/pkg/ovn/base_event_handler.go
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/ovn/egressfirewall_test.go
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/egressqos.go
  go-controller/pkg/ovn/gateway_cleanup.go
  go-controller/pkg/ovn/gateway_init.go
  go-controller/pkg/ovn/hybrid.go
  go-controller/pkg/ovn/hybrid_test.go
  go-controller/pkg/ovn/logical_switch_manager/logical_switch_manager.go
  go-controller/pkg/ovn/logical_switch_manager/logical_switch_manager_test.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/multicast.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/obj_retry_master.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/ovn_test.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/pods_test.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_test.go
  go-controller/pkg/ovn/topology_version.go
  go-controller/pkg/retry/obj_retry.go
  go-controller/pkg/util/kube.go
Labels: approved, lgtm, bugzilla/valid-bug, jira/valid-bug

#1389 [release-4.11] OCPBUGS-2554: Fix UpdateService healthport checks
  go-controller/pkg/node/gateway_init.go
  go-controller/pkg/node/healthcheck.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug

#1392 [release-4.12] OCPBUGS-3977: Handle expired entry while handling dns update
  go-controller/pkg/ovn/egressfirewall_dns.go
Labels: approved, lgtm, bugzilla/valid-bug, backport-risk-assessed, jira/valid-bug, jira/severity-moderate
