Repository openshift/ovn-kubernetes, pull requests merged in 2022-02, with the labels that each got.

#930 Bug 2039253: avoid passing duplicate Flow endpoints to ovs-vsctl
  go-controller/pkg/config/utils.go
  go-controller/pkg/config/utils_test.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium, qe-approved

#902 Bug 2040357: Dockerfile: bump OVN to ovn-2021-21.12.0-11.el8fdp
  Dockerfile
Labels: approved, lgtm

#914 Bug 2042494: [4.9] Set the OVS port as transient
  go-controller/pkg/cni/helper_linux.go
  go-controller/pkg/node/node_smartnic_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, qe-approved, backport-risk-assessed

#872 [release-4.9] Bug 2028812: Modification of ClusterIPs shall trigger svc update
  go-controller/pkg/node/gateway_shared_intf.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-medium, qe-approved, backport-risk-assessed

#950 Update project owners
  OWNERS
Labels: approved, lgtm

#956 Bug 2048538: [DownstreamMerge] 2-14-22
  .github/actions/cleanup-action/package-lock.json
  .github/workflows/test.yml
  go-controller/pkg/config/config.go
  go-controller/pkg/factory/factory.go
  go-controller/pkg/ovn/gress_policy.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/ovn_test.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_retry.go
  go-controller/pkg/ovn/policy_test.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#958 Bug 2045577: Bump OVN to ovn-2021-21.12.0-15.el8fdp
  Dockerfile
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-urgent

#959 Bug 1996751: Bump OVN to 21.12
  Dockerfile
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, qe-approved, backport-risk-assessed

#954 [release-4.9] Bug 2054139: Don't return err when annotation cannot be unmarshalled
  go-controller/pkg/ovn/egressgw.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-medium, qe-approved, backport-risk-assessed

#952 [release-4.9] Bug 2014003: Fix gateway routers answer ARP/NDP requests for LoadBalancer/ExternalIP services
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/util/ovs.go
  go-controller/pkg/util/ovs_unit_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, backport-risk-assessed

#949 Bug 2052966: [release-4.8] bump ovn to 20.12.0-193
  Dockerfile
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-medium, backport-risk-assessed

#905 Bug 2040594: Create iptables NAT rules also for loadbalancer services
  go-controller/pkg/node/gateway_iptables.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, backport-risk-assessed

#946 [release-4.7] Bug 2047325: Fix node connectivity to service backed by egress IP pods
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, qe-approved, backport-risk-assessed

#962 [release-4.9] Bug 2055549: Fix podHandlerCache key
  go-controller/pkg/ovn/egressip.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, qe-approved, backport-risk-assessed

#942 Bug 2056883: Revert "HACK: disable skip_snat for load balancers."
  go-controller/pkg/ovn/loadbalancer/loadbalancer.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-medium, qe-approved, backport-risk-assessed

#966 Bug 2048538: [DownstreamMerge] 2-22-22
  go-controller/hack/lint.sh
  go-controller/pkg/libovsdbops/router.go
  go-controller/pkg/node/gateway.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/healthcheck.go
  go-controller/pkg/node/node.go
  go-controller/pkg/node/node_ip_handler_linux.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/ovn_test.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_retry.go
  go-controller/pkg/ovn/policy_test.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#891 [release-4.7] Bug 2021224: Add ovn-controller logical flow cache options
  go-controller/pkg/config/config.go
  go-controller/pkg/config/config_test.go
  go-controller/pkg/node/node.go
  go-controller/pkg/node/node_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-low, qe-approved, backport-risk-assessed

#955 [release-4.9] Bug 2054299: Lock the reassignment procedure during node deletion to avoid races
  go-controller/pkg/ovn/egressip.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-urgent, qe-approved, backport-risk-assessed

#938 Bug 2045576: [CARRY][Downstream-only] Give warning when ipFamilyPolicy implicitly set
  go-controller/pkg/ovn/controller/services/OCP_HACKS.go
  go-controller/pkg/ovn/controller/services/services_controller.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-low, backport-risk-assessed

#951 Bug 2053310: [release-4.9] Fix pod-creation-retry
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, qe-approved, backport-risk-assessed

#887 [release-4.9] Bug 2034744: Fix egress IP allocator sync
  go-controller/pkg/ovn/egressip.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, qe-approved, backport-risk-assessed

#968 Bump OVS to 2.16.0-53.el8fdp
  Dockerfile
Labels: approved, lgtm

#975 Bug 2052398: [DownstreamMerge] 2-25-22
  go-controller/go.mod
  go-controller/go.sum
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovndbmanager/ovndbmanager.go
  go-controller/pkg/ovndbmanager/ovndbmanager_test.go
  go-controller/pkg/sbdb/bfd.go
  go-controller/pkg/sbdb/dhcp_options.go
  go-controller/pkg/sbdb/dhcpv6_options.go
  go-controller/pkg/sbdb/load_balancer.go
  go-controller/pkg/sbdb/logical_flow.go
  go-controller/pkg/sbdb/model.go
  go-controller/pkg/sbdb/port_binding.go
  go-controller/pkg/sbdb/service_monitor.go
  go-controller/pkg/util/net.go
  go-controller/vendor/github.com/asaskevich/govalidator/.gitignore
  go-controller/vendor/github.com/asaskevich/govalidator/.travis.yml
  go-controller/vendor/github.com/asaskevich/govalidator/CODE_OF_CONDUCT.md
  go-controller/vendor/github.com/asaskevich/govalidator/CONTRIBUTING.md
  go-controller/vendor/github.com/asaskevich/govalidator/LICENSE
  go-controller/vendor/github.com/asaskevich/govalidator/README.md
  go-controller/vendor/github.com/asaskevich/govalidator/arrays.go
  go-controller/vendor/github.com/asaskevich/govalidator/converter.go
  go-controller/vendor/github.com/asaskevich/govalidator/doc.go
  go-controller/vendor/github.com/asaskevich/govalidator/error.go
  go-controller/vendor/github.com/asaskevich/govalidator/numerics.go
  go-controller/vendor/github.com/asaskevich/govalidator/patterns.go
  go-controller/vendor/github.com/asaskevich/govalidator/types.go
  go-controller/vendor/github.com/asaskevich/govalidator/utils.go
  go-controller/vendor/github.com/asaskevich/govalidator/validator.go
  go-controller/vendor/github.com/asaskevich/govalidator/wercker.yml
  go-controller/vendor/github.com/ovn-org/libovsdb/cache/cache.go
  go-controller/vendor/github.com/ovn-org/libovsdb/client/client.go
  go-controller/vendor/github.com/ovn-org/libovsdb/mapper/info.go
  go-controller/vendor/modules.txt
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-urgent

#977 Bug 2058762: Fixes libovsdb errors + hang
  go-controller/pkg/sbdb/bfd.go
  go-controller/pkg/sbdb/dhcp_options.go
  go-controller/pkg/sbdb/dhcpv6_options.go
  go-controller/pkg/sbdb/load_balancer.go
  go-controller/pkg/sbdb/logical_flow.go
  go-controller/pkg/sbdb/model.go
  go-controller/pkg/sbdb/port_binding.go
  go-controller/pkg/sbdb/service_monitor.go
  go-controller/vendor/github.com/ovn-org/libovsdb/cache/cache.go
  go-controller/vendor/github.com/ovn-org/libovsdb/client/client.go
  go-controller/vendor/github.com/ovn-org/libovsdb/mapper/info.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-urgent, staff-eng-approved, qe-approved
