Repository openshift/ovn-kubernetes, pull requests merged in 2022-03, with the labels that each got.

#964 [release-4.9] Bug 2055317: Hack ITP:preferLocal for DNS service
  go-controller/pkg/ovn/controller/services/load_balancer.go
  go-controller/pkg/ovn/controller/services/load_balancer_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-medium, backport-risk-assessed

#982 Bug 2052975: Bump OVN to ovn-2021-21.12.0-30.el8fdp
  Dockerfile
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-urgent

#987 [DownstreamMerge] Merge 3-4-22
  .github/workflows/docker.yml
  .github/workflows/test.yml
  README.md
  contrib/kind-dual-stack-conversion.sh
  contrib/kind.sh
  contrib/kind.yaml.j2
  dist/images/Dockerfile
  dist/images/Dockerfile.fedora
  dist/images/Dockerfile.ubuntu.arm64
  dist/images/Makefile
  dist/images/daemonset.sh
  dist/images/ovnkube.sh
  docs/INSTALL.KUBEADM.md
  docs/ci.md
  docs/kind.md
  go-controller/cmd/ovndbchecker/ovndbchecker.go
  go-controller/cmd/ovnkube/ovnkube.go
  go-controller/go.mod
  go-controller/go.sum
  go-controller/pkg/libovsdbops/meter_test.go
  go-controller/pkg/metrics/master.go
  go-controller/pkg/metrics/ovn.go
  go-controller/pkg/metrics/ovn_db.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/healthcheck.go
  go-controller/pkg/node/healthcheck_test.go
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/ovn/gateway_init.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovndbmanager/ovndbmanager.go
  go-controller/pkg/util/kube.go
  go-controller/vendor/github.com/ovn-org/libovsdb/client/api.go
  go-controller/vendor/github.com/ovn-org/libovsdb/client/client.go
  go-controller/vendor/github.com/ovn-org/libovsdb/ovsdb/condition.go
  go-controller/vendor/github.com/ovn-org/libovsdb/server/server.go
  go-controller/vendor/modules.txt
  test/scripts/e2e-cp.sh
  test/scripts/e2e-kind.sh
  test/scripts/upgrade-ovn.sh
Labels: approved, lgtm

#988 Bug 2052975: Downstream merge 07-03-2022
  dist/images/Dockerfile.fedora
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-urgent

#965 [release-4.8] Bug 2057152: Fix egress IP allocator sync
  go-controller/pkg/ovn/egressip.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, backport-risk-assessed

#991 [release 4.9] Update project owners
  OWNERS
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, staff-eng-approved, backport-risk-assessed

#992 [release 4.8] Update project owners
  OWNERS
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, staff-eng-approved, backport-risk-assessed

#979 Bug 2058679: Bumps ovn2.13-20.12.0-195.el8fdp
  Dockerfile
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, backport-risk-assessed

#971 Bug 2057723: Multiple fixes around Network Policies
  go-controller/pkg/factory/factory.go
  go-controller/pkg/ovn/address_set/address_set.go
  go-controller/pkg/ovn/address_set/address_set_test.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/ovn_test.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_retry.go
  go-controller/pkg/ovn/policy_test.go
  go-controller/pkg/util/pod_annotation.go
  go-controller/pkg/util/pod_annotation_unit_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, qe-approved, backport-risk-assessed

#985 Bug 2060080: [release-4.9] Network Policy fixes
  go-controller/pkg/factory/factory.go
  go-controller/pkg/factory/handler.go
  go-controller/pkg/ovn/address_set/address_set.go
  go-controller/pkg/ovn/address_set/fake_address_set.go
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/ovn/gress_policy.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_retry.go
  go-controller/pkg/ovn/policy_test.go
  go-controller/pkg/util/pod_annotation.go
  go-controller/pkg/util/pod_annotation_unit_test.go
  go-controller/vendor/github.com/ebay/go-ovn/port_group.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, backport-risk-assessed

#995 Bug 2063834: backport 2052975 to 4.10
  Dockerfile
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-urgent, qe-approved, backport-risk-assessed

#1000 Bug 2063321: [DownstreamMerge] Downstream merge 17-03-2022
  .github/workflows/test.yml
  dist/images/daemonset.sh
  go-controller/pkg/kube/kube.go
  go-controller/pkg/metrics/master.go
  go-controller/pkg/node/gateway_localnet_linux_test.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/util/node_annotations.go
  test/e2e/e2e.go
  test/e2e/util.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#990 Bug 2061804: [4.10] Fixes "ErrorAddingLogicalPort: duplicate IP found in ECMP Pod route cache!" for same pod
  go-controller/pkg/ovn/egressgw.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, backport-risk-assessed

#999 Bug 2065311: [release-4.8] Network Policy fixes
  go-controller/pkg/factory/factory.go
  go-controller/pkg/factory/handler.go
  go-controller/pkg/ovn/address_set/address_set.go
  go-controller/pkg/ovn/address_set/fake_address_set.go
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/ovn/gress_policy.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_retry.go
  go-controller/pkg/ovn/policy_test.go
  go-controller/pkg/util/pod_annotation.go
  go-controller/pkg/util/pod_annotation_unit_test.go
  go-controller/vendor/github.com/ebay/libovsdb/set.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, backport-risk-assessed

#1006 Downstream merge 2022-03-22
  go-controller/cmd/ovnkube/ovnkube.go
  go-controller/pkg/factory/factory.go
  go-controller/pkg/factory/types.go
  go-controller/pkg/node/controllers/upgrade/node_upgrade.go
  go-controller/pkg/node/node.go
  go-controller/pkg/node/ovn_test.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/topology_version.go
  go-controller/pkg/types/const.go
Labels: approved, lgtm

#996 Bug 2063835: backport 2052975 to 4.9
  Dockerfile
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-urgent, qe-approved, backport-risk-assessed

#1012 [release-4..9] Bug 2068619: egressgw: fix deadlock due to behavior of RWLock
  go-controller/pkg/ovn/egressgw.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, qe-approved, backport-risk-assessed

#997 Bug 2063836: backport 2052975 to 4.8
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-urgent, qe-approved, backport-risk-assessed

#972 Bug 2058683: [4.9z] Multiple ExGW cache validation/improvements
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, qe-approved, backport-risk-assessed

#994 Bug 2059354: [4.10z] After reboot egress node, lr-policy-list was not correct
  dist/images/Dockerfile.fedora
  go-controller/pkg/kube/kube.go
  go-controller/pkg/libovsdbops/switch.go
  go-controller/pkg/ovn/address_set/address_set.go
  go-controller/pkg/ovn/address_set/address_set_cleanup.go
  go-controller/pkg/ovn/address_set/address_set_test.go
  go-controller/pkg/ovn/address_set/fake_address_set.go
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/ovn/egressgw_test.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/policy.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, qe-approved, backport-risk-assessed
