Repository openshift/ovn-kubernetes, pull requests merged in 2022-05, with the labels that each got.

#1046 Bug 2077369: [release-4.9] fix ipv6 network policy
  go-controller/pkg/ovn/policy.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-urgent, backport-risk-assessed

#1001 Bug 2065780: [release-4.10][backport] Fix cleaning VF representor ports
  go-controller/pkg/node/healthcheck.go
  go-controller/pkg/node/healthcheck_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-medium, backport-risk-assessed

#1057 Bug 2079546: [release-4.10] call clearInitialNodeNetworkUnavailableCondition for noHostSubnet nodes
  go-controller/pkg/ovn/ovn.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-medium, backport-risk-assessed

#1047 Bug 2077370: [release-4.8] fix ipv6 network policy
  go-controller/pkg/ovn/policy.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-urgent, backport-risk-assessed

#1019 Bug 2070762: [release-4.8] Multiple ExGW cache validation/improvements
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-urgent, backport-risk-assessed

#1071 Bug 2080925: Don't spawn go routines for adding metric events
  go-controller/pkg/metrics/master.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-medium, backport-risk-assessed

#1069 Bug 2080882: Fix incorrectly logged error when searching for ovnkube master pod
  go-controller/pkg/metrics/ovn_northd.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-low, backport-risk-assessed

#1070 Bug 2080895: Ensure stale information is not present in metrics with labels when they change
  go-controller/pkg/metrics/ovn.go
  go-controller/pkg/metrics/ovn_db.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-low, backport-risk-assessed

#1081 [DownstreamMerge] 5-4-22
  contrib/kind.sh
  dist/images/daemonset.sh
  dist/images/ovnkube.sh
  dist/templates/ovnkube-master.yaml.j2
  docs/metrics.md
  go-controller/hybrid-overlay/pkg/util/util.go
  go-controller/pkg/cni/helper_linux.go
  go-controller/pkg/cni/helper_linux_test.go
  go-controller/pkg/cni/mocks/CNIPluginLibOps.go
  go-controller/pkg/cni/ovs.go
  go-controller/pkg/config/config.go
  go-controller/pkg/config/config_test.go
  go-controller/pkg/factory/factory.go
  go-controller/pkg/factory/factory_test.go
  go-controller/pkg/factory/types.go
  go-controller/pkg/informer/handlers.go
  go-controller/pkg/metrics/master.go
  go-controller/pkg/metrics/master_test.go
  go-controller/pkg/metrics/metrics_suite_test.go
  go-controller/pkg/metrics/mocks/histogram.go
  go-controller/pkg/node/gateway.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/healthcheck.go
  go-controller/pkg/node/node.go
  go-controller/pkg/node/node_dpu.go
  go-controller/pkg/node/port_claim.go
  go-controller/pkg/ovn/controller/services/services_controller.go
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/ovn/egressfirewall_test.go
  go-controller/pkg/ovn/egressgw_test.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/loadbalancer/loadbalancer.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/namespace_test.go
  go-controller/pkg/ovn/obj_retry.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/pods_test.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_test.go
  test/e2e/e2e.go
Labels: approved, lgtm

#1061 Bug 2080069: Cleanup conntrack entries when services are deleted
  go-controller/pkg/cni/helper_linux.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/healthcheck.go
  go-controller/pkg/node/helper_linux.go
  go-controller/pkg/node/node.go
  go-controller/pkg/node/node_ip_handler_linux.go
  go-controller/pkg/util/kube.go
  go-controller/pkg/util/net_linux.go
  go-controller/pkg/util/net_linux_unit_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, backport-risk-assessed

#1084 [release-4.10] Bug 2083116: delete SNAT2NIP if pod.node == egressNodeServingPod
  go-controller/pkg/kube/kube.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
  test/e2e/e2e.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, qe-approved, backport-risk-assessed

#1002 Bug 2065782: [release-4.9][backport] Fix cleaning VF representor ports
  go-controller/pkg/node/healthcheck.go
  go-controller/pkg/node/healthcheck_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-medium, backport-risk-assessed

#1082 [release-4.10] Bug 2082467: Fix cluster/status parsing for single-member db cluster (SNO)
  go-controller/pkg/metrics/ovn_db.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-medium, qe-approved, backport-risk-assessed

#1100 Bug 2081069: Bumps OVN to 22.03.0-37.el8fdp
  Dockerfile
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#1088 [release-4.9] Bug 2083239: [Downstream-only][4.9-only] Always add complete efw ACL rules
  go-controller/pkg/ovn/egressfirewall.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-urgent, qe-approved, backport-risk-assessed

#1108 Bug 2090537: OVNDBManager: Retry migrations
  go-controller/pkg/ovndbmanager/ovndbmanager.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium

#1098 Bug 2088627: EgressIP NATs are not being cleared correctly from the logical router
  go-controller/pkg/ovn/egressip.go
Labels: ¯\_(ツ)_/¯, approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, qe-approved, backport-risk-assessed

#1109 Bug 2090843: addLogicalPort() optimization cherry-picks
  go-controller/hybrid-overlay/pkg/controller/master.go
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/util/net.go
  go-controller/pkg/util/net_unit_test.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#1103 [release-4.9] Bug 2088630: EgressIP NATs are not being cleared correctly from the logical router
  go-controller/pkg/ovn/egressip.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, qe-approved, backport-risk-assessed

#1044 Bug 2077129: [release-4.10] Fixes secondary bridge
  go-controller/pkg/node/gateway.go
  go-controller/pkg/node/gateway_init.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_localnet.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/ovn/gateway_init.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, backport-risk-assessed
