Repository openshift/ovn-kubernetes, pull requests merged in 2022-09, with the labels that each got.

#1257 OCPBUGS-660: [release-4.10] pods: deleteLogicalPort should not fail when port is already gone
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/pods_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important

#1218 [release-4.11] Bug 2111548: Remove conntrack entries after rules
  go-controller/pkg/node/gateway_shared_intf.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, qe-approved, backport-risk-assessed

#1219 [release-4.10] Bug 2111552: Remove conntrack entries after rules
  go-controller/pkg/node/gateway_shared_intf.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, qe-approved, backport-risk-assessed

#1220 [release-4.9] Bug 2090315: Remove conntrack entries after rules
  go-controller/pkg/node/gateway_shared_intf.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, qe-approved, backport-risk-assessed

#1221 [release-4.8] Bug 2111557: Remove conntrack entries after rules
  go-controller/pkg/node/gateway_shared_intf.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, qe-approved, backport-risk-assessed

#1267 [DownstreamMerge] 9-12-22 merge
  dist/templates/ovn-setup.yaml.j2
  go-controller/pkg/libovsdbops/router.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_iptables.go
  go-controller/pkg/node/gateway_localnet.go
  go-controller/pkg/node/gateway_localnet_linux_test.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/gateway_shared_intf_linux.go
  go-controller/pkg/node/healthcheck.go
  go-controller/pkg/ovn/controller/egress_services/egress_services_controller.go
  go-controller/pkg/ovn/controller/egress_services/egress_services_endpointslice.go
  go-controller/pkg/ovn/controller/egress_services/egress_services_node.go
  go-controller/pkg/ovn/controller/egress_services/egress_services_service.go
  go-controller/pkg/ovn/controller/services/services_controller.go
  go-controller/pkg/ovn/controller/services/utils.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressservices_test.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/ovn_test.go
  go-controller/pkg/types/const.go
  go-controller/pkg/util/service_annotations.go
  test/e2e/acl_logging.go
  test/e2e/e2e.go
  test/e2e/egress_services.go
  test/e2e/util.go
Labels: approved, lgtm

#1259 [reelase-4.11] OCPBUGS-772: Fix NP upgrade bug: unexpectedly found multiple equivalent ACLs (arp v/s arp||nd)
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_test.go
Labels: ¯\_(ツ)_/¯, approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important

#1262 Use iptables-restore to add MCS/metadata blocking in the pod
  go-controller/pkg/cni/OCP_HACKS.go
  go-controller/pkg/cni/helper_linux.go
Labels: approved, lgtm

#1273 OCPBUGS-1553: Dockerfile: bump to openvswitch2.17.0-37.4.el8fdp
  Dockerfile
Labels: approved, lgtm, bugzilla/valid-bug, jira/valid-bug, jira/severity-critical

#1252 Bug OCPBUGS-574: EgressGW: don't error out trying to add SPK when a pod without ip exists
  go-controller/pkg/ovn/egressgw.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate

#1281 OCPBUGS-1705: Trim ACL names according to RFC1123
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_test.go
Labels: approved, lgtm, bugzilla/valid-bug, jira/valid-bug

#1261 OCPBUGS-811: [Release 4.9] correct creation and update of egressFirewall
  go-controller/pkg/ovn/egressfirewall.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical
