Repository openshift/ovn-kubernetes, pull requests merged in 2022-01, with the labels that each got.

#888 Bug 2031012: Create iptables NAT rules also for loadbalancer services
  go-controller/pkg/node/gateway_iptables.go
  go-controller/pkg/node/gateway_localnet_linux_test.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#895 Bug 2022536: Validate ExGW Cache and fix cache keys
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#883 Bug 2039516: Dockerfile: bump OVN to ovn21.12-21.12.0-25
  Dockerfile
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#877 Bug 2033672: Multiple exgw - Use --may-exist on hybrid policy and correct hybrid policy cleanup
  go-controller/pkg/ovn/egressgw.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, backport-risk-assessed

#893 Bug 2035336: [4.9-backport] Fix Netpol retry mechanisms
  go-controller/pkg/ovn/policy.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, backport-risk-assessed

#884 Bug 2034668: Fix pod handlers and pod IP parsing for egress IP
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/ovn.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, qe-approved, backport-risk-assessed

#906 [release-4.7][backport] Bug 2039282: filter out KubeAPIAuth when logging CNI requests
  go-controller/pkg/cni/cni.go
  go-controller/pkg/cni/cniserver_test.go
  go-controller/pkg/cni/types.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-medium, backport-risk-assessed

#913 Bug 2041830: Fix panic in Hybrid Overlay
  go-controller/hybrid-overlay/pkg/controller/master.go
  go-controller/hybrid-overlay/pkg/controller/master_test.go
  go-controller/pkg/libovsdb/libovsdb.go
  go-controller/pkg/libovsdbops/datapath.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/util/ovn.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#892 Bug 2036977: Fixes for shared to local gateway migration
  go-controller/pkg/node/management-port_linux.go
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/util/net_linux.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, qe-approved, backport-risk-assessed

#910 Bug 2029742: egressip: fix usage of clientModel doAfter
  go-controller/pkg/libovsdbops/router.go
  go-controller/pkg/libovsdbops/router_test.go
  go-controller/pkg/ovn/egressip.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#915 Bug 2034155: Make egressIPs compatible with ICNI
  .github/workflows/test.yml
  go-controller/pkg/libovsdbops/router.go
  go-controller/pkg/libovsdbops/router_test.go
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/ovn/egressgw_test.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/gateway_cleanup.go
  go-controller/pkg/ovn/gateway_init.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/pods.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#909 Bug 2034577: Set l3GWConfig.mode correctly
  go-controller/pkg/node/gateway.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/util/node_annotations.go
  go-controller/pkg/util/node_annotations_unit_test.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium

#894 Bug 2037884: [4.8-backport] Fix nepol statefulset 4.8
  go-controller/pkg/ovn/policy.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, backport-risk-assessed

#886 Bug 2034669: Fix node connectivity to service backed by egress IP pods
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, backport-risk-assessed

#917 Bug 2039099: EgressIP fixes for 4.10
  dist/templates/ovn-setup.yaml.j2
  go-controller/pkg/kube/kube.go
  go-controller/pkg/kube/mocks/Interface.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/util/cloudprivateipconfig_annotations.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#899 Bug 2039880: Metrics: Increase log level for CP recorder
  go-controller/pkg/metrics/master.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-low

#919 Clean up OWNERS a bit
  OWNERS
Labels: approved, lgtm, bugzilla/valid-bug

#904 Bug 2040540: Fix String formatting error
  go-controller/pkg/cni/helper_linux.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#926 Bug 2043961: Fix pod-creation-retry
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/pods_test.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-urgent

#907 Bug 2025467: ETP=local,SGW: Add DNAT rule towards 169.254.169.3
  docs/design/external_traffic_policy.md
  go-controller/pkg/node/gateway_iptables.go
  go-controller/pkg/node/gateway_localnet_linux_test.go
  go-controller/pkg/node/gateway_shared_intf.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium

#916 Bug 2042516: Fixes for shared to local gateway migration
  go-controller/pkg/node/management-port_linux.go
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/util/net_linux.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, backport-risk-assessed

#908 Bug 2017650: EF: Pull up switch names from cache
  go-controller/pkg/libovsdbops/switch.go
  go-controller/pkg/ovn/egressfirewall.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium

#927 Bug 2044680: libovsdb performance and resource consumption fixes
  go-controller/go.mod
  go-controller/go.sum
  go-controller/pkg/testing/libovsdb/libovsdb.go
  go-controller/vendor/github.com/ovn-org/libovsdb/cache/cache.go
  go-controller/vendor/github.com/ovn-org/libovsdb/client/api.go
  go-controller/vendor/github.com/ovn-org/libovsdb/client/api_test_model.go
  go-controller/vendor/github.com/ovn-org/libovsdb/client/client.go
  go-controller/vendor/github.com/ovn-org/libovsdb/server/server.go
  go-controller/vendor/modules.txt
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-urgent

#931 Bug 2046297: libovsdb: give connects more time to process than normal transactions
  go-controller/pkg/libovsdb/libovsdb.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-urgent

#923 Bug 2044303: Fix update of CloudPrivateIPConfig
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#934 Bug 2042001: Adds wait method for ovsdb operations that created named objects
  go-controller/go.mod
  go-controller/go.sum
  go-controller/pkg/libovsdbops/acl.go
  go-controller/pkg/libovsdbops/loadbalancer.go
  go-controller/pkg/libovsdbops/model_client.go
  go-controller/pkg/libovsdbops/portgroup.go
  go-controller/pkg/libovsdbops/router.go
  go-controller/pkg/libovsdbops/switch.go
  go-controller/pkg/libovsdbops/transact.go
  go-controller/pkg/ovn/address_set/address_set.go
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/gateway_init.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/types/const.go
  go-controller/pkg/util/util.go
  go-controller/vendor/github.com/ovn-org/libovsdb/ovsdb/notation.go
  go-controller/vendor/github.com/ovn-org/libovsdb/server/transact.go
  go-controller/vendor/modules.txt
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-urgent

#924 Bug 2031926: Shared gateway: Modification of ClusterIPs shall trigger svc update
  go-controller/pkg/node/gateway_shared_intf.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-low
