Repository openshift/ovn-kubernetes, pull requests merged in 2022-04, with the labels that each got.

#1013 [release-4.7] Bug 2069247: egressgw: Fix deadlocks
  go-controller/pkg/ovn/egressgw.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, qe-approved, backport-risk-assessed

#980 Bug 2047710: Bump OVS version to 2.16.0-57.el8fdp
  Dockerfile
Labels: ¯\_(ツ)_/¯, approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#981 Bug 2059700: [4.9z] After reboot egress node, lr-policy-list was not correct, some duplicate records or missed internal IPs
  go-controller/pkg/kube/kube.go
  go-controller/pkg/ovn/egressip.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, qe-approved, backport-risk-assessed

#1010 [DownstreamMerge] Bug 2026461: 4-4-22 merge
  .github/actions/cleanup-action/package-lock.json
  .github/actions/retest-action/entrypoint.sh
  .github/workflows/test.yml
  contrib/kind.yaml.j2
  dist/images/Dockerfile.fedora
  docs/design/service_traffic_policy.md
  go-controller/go.mod
  go-controller/go.sum
  go-controller/hybrid-overlay/pkg/controller/node_linux.go
  go-controller/pkg/cni/cniserver.go
  go-controller/pkg/cni/cnishim.go
  go-controller/pkg/cni/types.go
  go-controller/pkg/config/config.go
  go-controller/pkg/config/config_test.go
  go-controller/pkg/libovsdbops/acl.go
  go-controller/pkg/libovsdbops/loadbalancer.go
  go-controller/pkg/libovsdbops/model_client.go
  go-controller/pkg/libovsdbops/portgroup.go
  go-controller/pkg/libovsdbops/switch.go
  go-controller/pkg/metrics/ovn_db.go
  go-controller/pkg/node/gateway_localnet_linux_test.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/ovn/address_set/address_set.go
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/ovn/egressfirewall_test.go
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/gateway_init.go
  go-controller/pkg/ovn/gress_policy.go
  go-controller/pkg/ovn/logical_switch_manager/logical_switch_manager.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/pods_retry.go
  go-controller/pkg/ovn/pods_test.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_test.go
  go-controller/pkg/ovn/port_cache.go
  go-controller/pkg/ovn/topology_version.go
  go-controller/pkg/util/kube.go
  go-controller/pkg/util/util.go
  go-controller/vendor/github.com/go-logr/logr/funcr/funcr.go
  go-controller/vendor/github.com/go-logr/logr/logr.go
  go-controller/vendor/github.com/go-logr/stdr/README.md
  go-controller/vendor/github.com/ovn-org/libovsdb/cache/cache.go
  go-controller/vendor/github.com/ovn-org/libovsdb/server/database.go
  go-controller/vendor/github.com/ovn-org/libovsdb/server/server.go
  go-controller/vendor/github.com/ovn-org/libovsdb/server/transact.go
  go-controller/vendor/modules.txt
  test/scripts/e2e-kind.sh
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium

#998 [release-4.8] Bug 2065303: [CARRY][Downstream-only] Give warning when ipFamilyPolicy implicitly set
  go-controller/pkg/ovn/controller/services/OCP_HACKS.go
  go-controller/pkg/ovn/controller/services/services_controller.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-low, backport-risk-assessed

#1009 Bug 2062842: [4.8z] After reboot egress node, lr-policy-list was not correct, some duplicate records or missed internal IPs
  go-controller/pkg/kube/kube.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/ovn.go
  test/e2e/e2e.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-urgent, qe-approved, backport-risk-assessed

#1028 Fix gofmt for downstream files
  go-controller/pkg/cni/OCP_HACKS.go
  go-controller/pkg/node/OCP_HACKS.go
Labels: approved, lgtm

#1031 Dockerfile: bump to OVS 2.17
  Dockerfile
Labels: approved, lgtm

#1040 Bug 2072134: [DownstreamMerge] 4-18-22
  .github/workflows/generate-report.yml
  .github/workflows/test.yml
  README.md
  contrib/kind.sh
  dist/images/Makefile
  dist/images/daemonset.sh
  dist/images/ovnkube.sh
  dist/templates/ovnkube-db-raft.yaml.j2
  dist/templates/ovnkube-db.yaml.j2
  dist/templates/ovnkube-master.yaml.j2
  dist/templates/ovnkube-node.yaml.j2
  dist/templates/ovs-node.yaml.j2
  docs/design/host_to_services_OpenFlow.md
  docs/design/service_traffic_policy.md
  docs/kind.md
  go-controller/cmd/ovn-kube-util/app/readiness-probe.go
  go-controller/cmd/ovnkube/ovnkube.go
  go-controller/hack/lint.sh
  go-controller/pkg/cni/helper_linux.go
  go-controller/pkg/config/config.go
  go-controller/pkg/config/config_test.go
  go-controller/pkg/metrics/master.go
  go-controller/pkg/node/gateway.go
  go-controller/pkg/node/gateway_init.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_iptables.go
  go-controller/pkg/node/gateway_localnet.go
  go-controller/pkg/node/gateway_localnet_linux_test.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/healthcheck.go
  go-controller/pkg/node/helper_linux.go
  go-controller/pkg/node/node.go
  go-controller/pkg/node/node_ip_handler_linux.go
  go-controller/pkg/ovn/controller/services/node_tracker.go
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/ovn/egressgw_test.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/gateway_init.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/namespace_test.go
  go-controller/pkg/ovn/obj_retry.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/ovn_test.go
  go-controller/pkg/ovn/pods_test.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_retry.go
  go-controller/pkg/ovn/policy_test.go
  go-controller/pkg/util/kube.go
  go-controller/pkg/util/net_linux.go
  go-controller/pkg/util/net_linux_unit_test.go
  go-controller/pkg/util/ovs.go
  go-controller/pkg/util/ovs_unit_test.go
  test/e2e/e2e.go
  test/e2e/service.go
  test/scripts/upgrade-ovn.sh
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#1025 [release-4.10] Bug 2052017: Retry Pod Deletions on Failure
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/pods_retry.go
  go-controller/pkg/ovn/pods_test.go
  go-controller/pkg/ovn/policy.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, backport-risk-assessed

#1050 Downstream Merge 25-04-2022
  .github/workflows/test.yml
  go-controller/Makefile
  go-controller/hack/test-go.sh
  go-controller/hybrid-overlay/pkg/controller/master.go
  go-controller/hybrid-overlay/pkg/controller/master_test.go
  go-controller/hybrid-overlay/pkg/controller/node_linux.go
  go-controller/hybrid-overlay/pkg/controller/node_linux_test.go
  go-controller/pkg/factory/factory.go
  go-controller/pkg/factory/factory_test.go
  go-controller/pkg/factory/handler.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/management-port_linux_test.go
  go-controller/pkg/node/management-port_test.go
  go-controller/pkg/ovn/gress_policy.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/obj_retry.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/pods_retry.go
  go-controller/pkg/ovn/pods_test.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_test.go
  go-controller/pkg/testing/testing.go
  go-controller/pkg/util/node_annotations.go
  go-controller/pkg/util/node_annotations_unit_test.go
  test/e2e/acl_logging.go
  test/e2e/e2e.go
  test/e2e/external_gateways.go
  test/e2e/multicast.go
  test/e2e/service.go
  test/e2e/unidling.go
  test/e2e/util.go
Labels: approved, lgtm

#1043 Bug 2074839: [release-4.10] fix ipv6 network policy
  go-controller/pkg/ovn/policy.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, backport-risk-assessed

#1026 [release-4.10] Bug 2073137: Fix lgw flows for ingress-svc traffic
  docs/design/service_traffic_policy.md
  go-controller/pkg/node/gateway_localnet_linux_test.go
  go-controller/pkg/node/gateway_shared_intf.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, backport-risk-assessed

#1063 Bug 2073411: Fix ETP=local for host->svc traffic
  docs/design/service_traffic_policy.md
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_iptables.go
  go-controller/pkg/node/gateway_localnet_linux_test.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/ovn/controller/services/node_tracker.go
  test/e2e/e2e.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-urgent, qe-approved, backport-risk-assessed
