Repository openshift/ovn-kubernetes, pull requests merged in 2023-10, with the labels that each got.

#1880 [release-4.13] OCPBUGS-19088,OCPBUGS-7406,OCPBUGS-18791,OCPBUGS-18792: Dockerfile: bump OVN to ovn23.06-23.06.1-8.el9fdp
  Dockerfile.base
  go-controller/pkg/ovn/copp.go
  go-controller/pkg/ovn/gateway_test.go
  go-controller/pkg/types/const.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#1931 OCPBUGS-20238,OCPBUGS-20178: Downstream merge 2023-10-09
  docs/ovnkube-trace.md
  go-controller/cmd/ovnkube-identity/ovnkubeidentity.go
  go-controller/cmd/ovnkube-trace/ovnkube-trace.go
  go-controller/pkg/clustermanager/ip_generator.go
  go-controller/pkg/config/config.go
  go-controller/pkg/libovsdb/util/router.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/egressservices_test.go
  go-controller/pkg/ovn/zone_interconnect/zone_ic_handler.go
  go-controller/pkg/ovn/zone_interconnect/zone_ic_handler_test.go
  test/e2e/kubevirt.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1933 OCPBUGS-20260,OCPBUGS-20261: [release-4.14] Use private IPv4 address range for transit switch subnet & Incorrect webhook error and exit handling
  docs/ovnkube-trace.md
  go-controller/cmd/ovnkube-identity/ovnkubeidentity.go
  go-controller/cmd/ovnkube-trace/ovnkube-trace.go
  go-controller/pkg/clustermanager/ip_generator.go
  go-controller/pkg/config/config.go
  go-controller/pkg/libovsdb/util/router.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/egressservices_test.go
  go-controller/pkg/ovn/zone_interconnect/zone_ic_handler.go
  go-controller/pkg/ovn/zone_interconnect/zone_ic_handler_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1881 [release-4.12] OCPBUGS-19089,OCPBUGS-19904,OCPBUGS-19906,OCPBUGS-14708: Dockerfile: bump OVN to ovn22.12-22.12.1-18.el8fdp
  Dockerfile.base
  go-controller/pkg/ovn/gateway_copp.go
  go-controller/pkg/ovn/gateway_test.go
  go-controller/pkg/types/const.go
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#1918 OCPBUGS-19911: [release-4.11] Dockerfile: bump OVN to ovn22.12-22.12.1-18.el8fdp
  Dockerfile
  go-controller/pkg/ovn/gateway_copp.go
  go-controller/pkg/ovn/gateway_test.go
  go-controller/pkg/types/const.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#1702 OCPBUGS-14787: Dockerfile: stop installing CNI plugins RPM
  Dockerfile
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#1873 [release-4.13] OCPBUGS-18976: Update bridge flow cache when the host address changes
  go-controller/pkg/node/node_ip_handler_linux.go
Labels: ¯\_(ツ)_/¯, approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#1924 OCPBUGS-20047: Adjust python ssl library dependency check
  go-controller/cmd/ovnkube-trace/ovnkube-trace.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#1872 [release-4.12] OCPBUGS-18353: Update bridge flow cache when the host address changes
  go-controller/pkg/node/node_ip_handler_linux.go
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#1932 [release-4.12] OCPBUGS-20241: fix race condition in hybrid overlay DRIP alloc
  go-controller/pkg/ovn/pods.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#1935 OCPBUGS-15538,OCPBUGS-19961: Downstream merge 2023-10-10
  go-controller/pkg/libovsdb/ops/router.go
  go-controller/pkg/network-attach-def-controller/network_attach_def_controller.go
  go-controller/pkg/node/node_ip_handler_linux.go
  go-controller/pkg/ovn/controller/apbroute/network_client.go
  go-controller/pkg/ovn/controller/apbroute/repair.go
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/ovn/egressgw_test.go
  go-controller/pkg/ovn/external_gateway_apb_test.go
  go-controller/pkg/ovn/namespace_test.go
  test/e2e/e2e.go
  test/e2e/external_gateways.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#1862 [release-4.12] OCPBUGS-18681: Check libovsdbclient.ErrNotFound on wrapped errors
  go-controller/pkg/libovsdbops/model_client.go
  go-controller/pkg/libovsdbops/router.go
  go-controller/pkg/libovsdbops/router_test.go
  go-controller/pkg/metrics/master.go
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/ovn/gateway_init.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/topology_version.go
  go-controller/pkg/util/util.go
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#1682 [release-4.13] OCPBUGS-14314: Fix compilation error in e2e.go tests due to missing int32 parameter
  test/e2e/e2e.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference
