Repository openshift/ovn-kubernetes, pull requests merged in 2023-12, with the labels that each got.

#1943 [release-4.12] OCPBUGS-22091: Bump OVN to 23.06.1-39.el8fdp
  Dockerfile.base
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#1964 [release-4.14] OCPBUGS-24209: Significantly reduce shared informer memory usage
  go-controller/pkg/factory/factory.go
  go-controller/pkg/factory/factory_test.go
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/vendor/k8s.io/client-go/informers/factory.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#1957 [release-4.13] OCPBUGS-23014: Netpol retryFramework cleanup
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/base_secondary_layer2_network_controller.go
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/ovn/ovn_test.go
  go-controller/pkg/ovn/pod_selector_address_set.go
  go-controller/pkg/ovn/pod_selector_address_set_test.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_test.go
  go-controller/pkg/ovn/secondary_layer2_network_controller.go
  go-controller/pkg/ovn/secondary_layer3_network_controller.go
  go-controller/pkg/ovn/secondary_localnet_network_controller.go
  go-controller/pkg/util/context.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#1950 [release-4.13] OCPBUGS-24391: Limit OVN-Kubernetes RBAC permissions
  contrib/kind.sh
  dist/images/daemonset.sh
  dist/templates/ovn-ipsec.yaml.j2
  dist/templates/ovn-setup.yaml.j2
  dist/templates/ovnkube-cm-ncm.yaml.j2
  dist/templates/ovnkube-db-raft.yaml.j2
  dist/templates/ovnkube-db.yaml.j2
  dist/templates/ovnkube-master.yaml.j2
  dist/templates/ovnkube-node.yaml.j2
  dist/templates/rbac-ovnkube-db.yaml.j2
  dist/templates/rbac-ovnkube-master.yaml.j2
  dist/templates/rbac-ovnkube-node.yaml.j2
  go-controller/pkg/clustermanager/network_cluster_controller.go
  go-controller/pkg/cni/cni_dpu.go
  go-controller/pkg/cni/cni_dpu_test.go
  go-controller/pkg/kube/kube.go
  go-controller/pkg/kube/mocks/Annotator.go
  go-controller/pkg/kube/mocks/HTTPServer.go
  go-controller/pkg/kube/mocks/HTTPServerFactory.go
  go-controller/pkg/kube/mocks/Interface.go
  go-controller/pkg/kube/mocks/Listener.go
  go-controller/pkg/kube/mocks/Server.go
  go-controller/pkg/node/base_node_network_controller_dpu.go
  go-controller/pkg/node/base_node_network_controller_dpu_test.go
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/base_network_controller_pods.go
  go-controller/pkg/ovn/controller/egress_services/egress_services_node.go
  go-controller/pkg/ovn/controller/services/node_tracker.go
  go-controller/pkg/ovn/topology_version.go
  test/scripts/upgrade-ovn.sh
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#1969 OCPBUGS-24350: [release-4.14] fixes MTU configuration on gateway router
  go-controller/pkg/clustermanager/zone_cluster_controller.go
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/gateway_init.go
  go-controller/pkg/ovn/gateway_test.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/util/node_annotations.go
  test/e2e/service.go
  test/e2e/util.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1970 OCPBUGS-22735: OVNK/GW: Ignore headless services in syncServices
  go-controller/pkg/node/gateway_shared_intf.go
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#1982 [release-4.14] OCPBUGS-25087: Fragment oversized reply packets in LGW mode
  go-controller/pkg/node/gateway.go
  go-controller/pkg/node/gateway_shared_intf.go
  test/e2e/egressip.go
  test/scripts/e2e-cp.sh
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1983 [release-4.13] OCPBUGS-25095: Fragment oversized reply packets in LGW mode
  go-controller/pkg/node/gateway.go
  go-controller/pkg/node/gateway_shared_intf.go
  test/e2e/egressip.go
  test/e2e/pod.go
  test/e2e/service.go
  test/scripts/e2e-cp.sh
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1984 [release-4.12] OCPBUGS-25096: Fragment oversized reply packets in LGW mode
  go-controller/pkg/node/gateway.go
  go-controller/pkg/node/gateway_shared_intf.go
  test/e2e/egressip.go
  test/e2e/pod.go
  test/scripts/e2e-cp.sh
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1954 [release-4.14] OCPBUGS-23387: Ignore completed virt-launcher pods
  go-controller/pkg/kubevirt/pod.go
  go-controller/pkg/kubevirt/router.go
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/kubevirt_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#1940 OCPBUGS-14799: Updating endpoints when using allocateLBNP=0, lgw mode fails
  go-controller/pkg/node/gateway_shared_intf.go
  test/e2e/service.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#1988 OCPBUGS-25224: [release-4.13] fixes MTU configuration on gateway router
  go-controller/pkg/ovn/gateway_init.go
  go-controller/pkg/ovn/gateway_test.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/util/util.go
  test/e2e/service.go
  test/e2e/util.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1955 [release-4.14] OCPBUGS-23257: Update leaderelection config to allow retries
  go-controller/cmd/ovnkube/ovnkube.go
  go-controller/pkg/config/config.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#1986 OCPBUGS-24322,OCPBUGS-25357: Dockerfile: Bump OVN to ovn-23.09.0-91.el9fdp
  Dockerfile.base
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1968 [release-4.14] OCPBUGS-24320: APB status not updated when fails to process during the first reconciliations
  go-controller/pkg/ovn/controller/apbroute/master_controller.go
  test/e2e/external_gateways.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#1990 OCPBUGS-25394,SDN-4194,OCPBUGS-24055: [DownstreamMerge] 14 Dec 2023
  contrib/kind.sh
  dist/images/ovnkube.sh
  go-controller/pkg/libovsdb/ops/portgroup.go
  go-controller/pkg/metrics/ovs.go
  go-controller/pkg/ovn/base_network_controller_namespace.go
  go-controller/pkg/ovn/base_network_controller_pods.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/namespace_test.go
  go-controller/pkg/ovn/pods_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1999 [release-4.15] OCPBUGS-25486: Fix Egress IP Deletion Handler to Prevent OVN Policy Leaks
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference
