Repository openshift/ovn-kubernetes, pull requests merged in 2023-07, with the labels that each got.

#1711 [release-4.13] OCPBUGS-15608: Nuke old .rhel9 Dockerfiles
  Dockerfile.base.rhel9
  Dockerfile.microshift.rhel9
  Dockerfile.rhel9
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#1729 OCPBUGS-14632: [DownstreamMerge] 30 jun 23
  FAQ.md
  README.md
  dist/images/ovnkube.sh
  dist/templates/ovnkube-monitor.yaml.j2
  dist/templates/ovnkube-single-node-zone.yaml.j2
  dist/templates/ovnkube-zone-controller.yaml.j2
  docs/ha.md
  go-controller/README.md
  go-controller/cmd/ovnkube/ovnkube.go
  go-controller/pkg/config/config.go
  go-controller/pkg/factory/factory.go
  go-controller/pkg/network-attach-def-controller/network_attach_def_controller.go
  go-controller/pkg/network-controller-manager/network_controller_manager.go
  go-controller/pkg/network-controller-manager/network_controller_manager_suite_test.go
  go-controller/pkg/ovn/base_network_controller_policy.go
  go-controller/pkg/ovn/controller/apbroute/external_controller_policy_test.go
  go-controller/pkg/ovn/policy_test.go
  go-controller/pkg/util/kube.go
  test/e2e/unidling.go
  test/e2e/util.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference

#1709 [release-4.13] OCPBUGS-14492: Backport OVN component templates for NodePort services.
  Dockerfile.base
  dist/images/Dockerfile.fedora
  go-controller/Makefile
  go-controller/pkg/libovsdbops/model.go
  go-controller/pkg/libovsdbops/model_client.go
  go-controller/pkg/libovsdbops/model_client_test.go
  go-controller/pkg/libovsdbops/template_var.go
  go-controller/pkg/nbdb/chassis_template_var.go
  go-controller/pkg/nbdb/logical_switch_port.go
  go-controller/pkg/nbdb/mirror.go
  go-controller/pkg/nbdb/model.go
  go-controller/pkg/nbdb/nat.go
  go-controller/pkg/nbdb/static_mac_binding.go
  go-controller/pkg/network-controller-manager/network_controller_manager.go
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/controller/services/lb_config.go
  go-controller/pkg/ovn/controller/services/lb_config_test.go
  go-controller/pkg/ovn/controller/services/load_balancer_ocphack_test.go
  go-controller/pkg/ovn/controller/services/loadbalancer.go
  go-controller/pkg/ovn/controller/services/loadbalancer_test.go
  go-controller/pkg/ovn/controller/services/node_tracker.go
  go-controller/pkg/ovn/controller/services/repair.go
  go-controller/pkg/ovn/controller/services/services_controller.go
  go-controller/pkg/ovn/controller/services/services_controller_test.go
  go-controller/pkg/ovn/controller/services/svc_template_var.go
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/ovn/gateway_init.go
  go-controller/pkg/ovn/gateway_test.go
  go-controller/pkg/ovn/hybrid_test.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/namespace_test.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/ovn_test.go
  go-controller/pkg/ovn/secondary_layer3_network_controller.go
  go-controller/pkg/sbdb/chassis_template_var.go
  go-controller/pkg/sbdb/load_balancer.go
  go-controller/pkg/sbdb/mac_binding.go
  go-controller/pkg/sbdb/mirror.go
  go-controller/pkg/sbdb/model.go
  go-controller/pkg/sbdb/port_binding.go
  go-controller/pkg/sbdb/static_mac_binding.go
  go-controller/pkg/types/const.go
  go-controller/pkg/util/node_annotations.go
  go-controller/pkg/util/util.go
  go-controller/pkg/util/util_unit_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#1733 OCPBUGS-15585: [release-4.13] Fix egressFirewall create error handling
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/ovn/egressfirewall_test.go
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#1742 SDN-3993: [DownstreamMerge] 06 jul 23
  dist/templates/ovnkube-alerts.yaml.j2
  docs/metrics.md
  go-controller/cmd/ovnkube/ovnkube.go
  go-controller/pkg/clustermanager/clustermanager_suite_test.go
  go-controller/pkg/metrics/cluster_manager.go
  go-controller/pkg/metrics/metrics.go
  go-controller/pkg/metrics/ovnkube_controller.go
  go-controller/pkg/metrics/ovnkube_controller_test.go
  go-controller/pkg/network-attach-def-controller/network_attach_def_controller.go
  go-controller/pkg/network-controller-manager/network_controller_manager.go
  go-controller/pkg/ovn/controller/apbroute/external_controller_namespace.go
  go-controller/pkg/ovn/controller/apbroute/external_controller_namespace_test.go
  go-controller/pkg/ovn/controller/apbroute/external_controller_pod.go
  go-controller/pkg/ovn/controller/apbroute/external_controller_policy.go
  go-controller/pkg/ovn/controller/apbroute/external_controller_policy_test.go
  go-controller/pkg/ovn/controller/apbroute/master_controller.go
  go-controller/pkg/ovn/controller/apbroute/network_client.go
  go-controller/pkg/ovn/controller/apbroute/node_controller.go
  go-controller/pkg/ovn/controller/apbroute/repair.go
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/ovn/egressgw_test.go
  go-controller/pkg/ovn/egressqos.go
  go-controller/pkg/ovn/egressqos_test.go
  go-controller/pkg/ovn/external_gateway_apb_test.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/zone_interconnect/zone_ic_handler_test.go
  go-controller/pkg/ovn/zone_interconnect/zone_interconnect_suite_test.go
Labels: approved, lgtm, jira/valid-reference

#1748 Dockerfile: build both RHEL8 and RHEL9 shims
  Dockerfile
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug

#1723 [release-4.12] OCPBUGS-15388: Fix stale SNAT entries for completed pods
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/util/kube.go
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#1679 OCPBUGS-13885: [release-4.12] Drop packets that were not properly SNATed
  go-controller/pkg/libovsdbops/router.go
  go-controller/pkg/node/gateway_init.go
  go-controller/pkg/node/gateway_localnet.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/gateway_init.go
  go-controller/pkg/ovn/gateway_test.go
  go-controller/pkg/ovn/hybrid.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/util/net.go
  go-controller/pkg/util/net_unit_test.go
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#1745 OCPBUGS-15586: [release-4.13]: Allow hostNetwork ingress for network policies with empty namespace selector
  go-controller/pkg/ovn/egressfirewall_test.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#1751 [release-4.11] OCPBUGS-16003: Fix stale SNAT entries for completed pods
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/util/kube.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#1731 [release-4.13] OCPBUGS-15651: Improve syncNodes to remove stale data
  go-controller/pkg/libovsdbops/router.go
  go-controller/pkg/libovsdbops/switch.go
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/gateway_cleanup.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/util/net.go
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1760 Dockerfile: build both RHEL8 and RHEL9 shims
  Dockerfile
Labels: approved, lgtm

#1721 OCPBUGS-15368: [release-4.13]: initial pods are not wired for hybrid overlay
  go-controller/hybrid-overlay/pkg/controller/node.go
  go-controller/hybrid-overlay/pkg/controller/node_linux.go
  go-controller/hybrid-overlay/pkg/controller/node_linux_test.go
  go-controller/hybrid-overlay/pkg/controller/node_windows.go
  go-controller/hybrid-overlay/pkg/types/types.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#1732 [release-4.12] OCPBUGS-13744: Improve syncNodes to remove stale data
  go-controller/pkg/libovsdbops/router.go
  go-controller/pkg/libovsdbops/switch.go
  go-controller/pkg/ovn/gateway_cleanup.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/util/net.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1746 OCPBUGS-15719: [relase-4.12] Fix egressFirewall create error handling
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/ovn/egressfirewall_test.go
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#1734 [release-4.11] OCPBUGS-15731,OCPBUGS-15745: Improve syncNodes to remove stale data
  go-controller/pkg/libovsdbops/router.go
  go-controller/pkg/libovsdbops/switch.go
  go-controller/pkg/ovn/gateway_cleanup.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/util/net.go
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1759 [release-4.9] OCPBUGS-15865: Dockerfile: build both RHEL7 and RHEL8 shims
  Dockerfile
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1776 [release-4.8] OCPBUGS-16208: Dockerfile: build both RHEL7 and RHEL8 shims
  Dockerfile
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1777 [release-4.7] OCPBUGS-16209: Dockerfile: build both RHEL7 and RHEL8 shims
  Dockerfile
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1778 [release-4.6] OCPBUGS-16210: Dockerfile: build both RHEL7 and RHEL8 shims
  Dockerfile
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1781 Add jcaamano to top level OWNERS
  OWNERS
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug

#1782 Add jcaamano to top level OWNERS
  OWNERS
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug

#1762 OCPBUGS-16121: [release-4.13]: Delete address sets after acls that reference them
  go-controller/pkg/ovn/policy.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#1766 [release-4.12] OCPBUGS-16336: Backport support AllocateLoadBalancerNodePortsFalse
  go-controller/pkg/node/gateway_iptables.go
  go-controller/pkg/node/gateway_localnet_linux_test.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/gateway_shared_intf_linux.go
  go-controller/pkg/util/kube.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference
