Repository openshift/ovn-kubernetes, pull requests merged in 2023-04, with the labels that each got.

#1617 OCPBUGS-11109: [release-4.12] Batch potentially big transaction on egress firewall ACLs migration
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/util/batching/batch.go
  go-controller/pkg/util/batching/batch_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1625 OCPBUGS-11022: [release-4.13] Fix node update handling for egressfirewall
  go-controller/pkg/ovn/egressfirewall.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#1616 OCPBUGS-11035: [release-4.11] Handle Completed pods deletion
  go-controller/pkg/ovn/obj_retry.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#1624 OCPBUGS-11023: [release-4.13] Update hairpinning ACLs for network policy
  go-controller/pkg/libovsdbops/db_object_types.go
  go-controller/pkg/ovn/gress_policy.go
  go-controller/pkg/ovn/pod_selector_address_set_test.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_test.go
  test/e2e/e2e.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#1622 OCPBUGS-6947: CARRY: use "prefer local" for annotated services
  go-controller/pkg/ovn/controller/services/lb_config.go
  go-controller/pkg/ovn/controller/services/load_balancer_ocphack_test.go
Labels: approved, lgtm, bugzilla/valid-bug, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#1627 OCPBUGS-11511: [release-4.13] static pod creation
  go-controller/pkg/cni/cni.go
  go-controller/pkg/cni/helper_linux.go
  go-controller/pkg/cni/utils.go
  go-controller/pkg/cni/utils_test.go
  go-controller/pkg/node/base_node_network_controller_dpu_test.go
  go-controller/pkg/ovn/policy.go
  test/e2e/static_pods.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#1599 [release-4.11] OCPBUGS-10734: Bump OVN to 22.12 and turn off neighbour response in router options.
  Dockerfile
  go-controller/pkg/ovn/controller/services/services_controller_test.go
  go-controller/pkg/ovn/loadbalancer/loadbalancer.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#1626 OCPBUGS-283,OCPBUGS-3176: Downstream merge 3rd April 2023
  contrib/kind.sh
  dist/images/Dockerfile.ubuntu
  dist/images/daemonset.sh
  dist/images/ovnkube.sh
  dist/templates/ovnkube-master.yaml.j2
  dist/templates/ovnkube-node.yaml.j2
  docs/egress-ip.md
  docs/kind.md
  go-controller/pkg/clustermanager/network_cluster_controller.go
  go-controller/pkg/cni/cnishim.go
  go-controller/pkg/config/config.go
  go-controller/pkg/config/config_test.go
  go-controller/pkg/cryptorand/cryptorand.go
  go-controller/pkg/factory/handler.go
  go-controller/pkg/libovsdb/libovsdb.go
  go-controller/pkg/libovsdbops/named_uuid.go
  go-controller/pkg/node/gateway_init.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_iptables.go
  go-controller/pkg/node/gateway_localnet.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/management-port_linux.go
  go-controller/pkg/node/management-port_linux_test.go
  go-controller/pkg/ovn/gress_policy.go
  go-controller/pkg/ovn/gress_policy_test.go
  go-controller/pkg/ovn/ipallocator/allocator/bitmap.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_test.go
  go-controller/pkg/ovndbmanager/ovndbmanager.go
  go-controller/pkg/testing/libovsdb/libovsdb.go
  go-controller/pkg/util/multi_network.go
  test/e2e/e2e.go
  test/e2e/multihoming.go
  test/scripts/install-kind.sh
  test/scripts/upgrade-ovn.sh
Labels: approved, lgtm, bugzilla/valid-bug, jira/valid-bug, jira/severity-important, jira/valid-reference

#1440 OCPBUGS-4762: [4.10] Dockerfile: bump to OVS 2.17.0-62
  Dockerfile
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#1629 OCPBUGS-11110: [release-4.11] Batch potentially big transaction on egress firewall ACLs migration
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/util/batching/batch.go
  go-controller/pkg/util/batching/batch_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1635 Remove no-longer-used rhel9-specific dockerfiles
  Dockerfile.base.rhel9
  Dockerfile.microshift.rhel9
  Dockerfile.rhel9
Labels: approved, lgtm

#1628 OCPBUGS-11423: [release-4.10] Handle Completed pods deletion
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#1638 OCPBUGS-11701: [release-4.12] CARRY: use "prefer local" for annotated services
  go-controller/pkg/ovn/controller/services/load_balancer.go
  go-controller/pkg/ovn/controller/services/load_balancer_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#1612 OCPBUGS-10982: [release-4.13] Fixes Egress Firewall node selector for ipv6
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/ovn/egressfirewall_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#1633 [release-4.12] OCPBUGS-8226: fix hybridOverlay DRIP in ICNIv1 pods
  go-controller/pkg/ovn/pods.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#1643 OCPBUGS-11534:Stack migration
  go-controller/pkg/clustermanager/network_cluster_controller.go
  go-controller/pkg/clustermanager/network_cluster_controller_test.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
Labels: approved, lgtm, bugzilla/valid-bug, jira/valid-bug, jira/severity-important, jira/valid-reference

#1641 OCPBUGS-11453: [release-4.10] Batch potentially big transaction on egress firewall ACLs migration
  go-controller/pkg/libovsdbops/switch.go
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/util/batching/batch.go
  go-controller/pkg/util/batching/batch_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1631 OCPBUGS-11447: [release-4.13] Delete equivalent ACLs when searching by predicate.
  go-controller/pkg/libovsdbops/acl.go
  go-controller/pkg/libovsdbops/acl_test.go
  go-controller/pkg/libovsdbops/portgroup.go
Labels: ¯\_(ツ)_/¯, approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#1651 OCPBUGS-12212:[release-4.13]4.13 stack migration
  go-controller/pkg/clustermanager/network_cluster_controller.go
  go-controller/pkg/clustermanager/network_cluster_controller_test.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/util/multi_network.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#1652 OCPBUGS-11716: [release-4.14] Use loadbalancer.Name as client index
  go-controller/pkg/libovsdb/libovsdb.go
  go-controller/pkg/libovsdbops/loadbalancer.go
  go-controller/pkg/libovsdbops/model.go
  go-controller/pkg/ovn/controller/services/loadbalancer.go
Labels: approved, lgtm, bugzilla/valid-bug, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1580 OCPBUGS-10914: [release-4.13] Node healthz server: return unhealthy when ovnk node pod is to be deleted
  dist/templates/ovnkube-node.yaml.j2
  go-controller/pkg/network-controller-manager/network_controller_manager.go
  go-controller/pkg/network-controller-manager/node_network_controller_manager.go
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/node/healthcheck_node.go
  go-controller/pkg/node/healthcheck_node_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference
