Repository openshift/ovn-kubernetes, pull requests merged in 2023-05, with the labels that each got.

#1661 OCPBUGS-12768: : [release-4.12] Delete equivalent ACLs when searching by predicate.
  go-controller/pkg/libovsdbops/acl.go
  go-controller/pkg/libovsdbops/acl_test.go
  go-controller/pkg/libovsdbops/portgroup.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#1665 OCPBUGS-12971:Fix bug that resulted in routes not be restored to a new vnic
  go-controller/hybrid-overlay/pkg/controller/node_windows.go
  go-controller/hybrid-overlay/pkg/controller/overlay_windows.go
Labels: approved, lgtm, bugzilla/valid-bug, jira/valid-bug, jira/severity-important, jira/valid-reference

#1664 OCPBUGS-13716: Use ovsver and ovnver to infer the short version numbers for ovs and ovn
  Dockerfile.base
Labels: approved, lgtm, bugzilla/valid-bug, jira/valid-bug, jira/severity-low, jira/valid-reference

#1660 OCPBUGS-12725: [release-4.13] Use loadbalancer.Name as client index
  go-controller/pkg/libovsdb/libovsdb.go
  go-controller/pkg/libovsdbops/loadbalancer.go
  go-controller/pkg/libovsdbops/model.go
  go-controller/pkg/ovn/controller/services/loadbalancer.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1671 OCPBUGS-6013: Call SyncEndpoints from AddService
  go-controller/pkg/node/healthcheck_service.go
Labels: approved, lgtm, bugzilla/valid-bug, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1672 OCPBUGS-13598: Call SyncEndpoints from AddService
  go-controller/pkg/node/healthcheck_service.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1673 OCPBUGS-13599: Call SyncEndpoints from AddService
  go-controller/pkg/node/healthcheck_service.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1529 OCPBUGS-7439: [release-4.12]: Egress Service: Fix nodeSelector parsing
  go-controller/pkg/ovn/controller/egress_services/egress_services_controller.go
  go-controller/pkg/ovn/controller/egress_services/egress_services_service.go
  go-controller/pkg/ovn/egressservices_test.go
  go-controller/pkg/util/service_annotations.go
  go-controller/pkg/util/service_annotations_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#1662 [release-4.13] OCPBUGS-12864: Drop packets were not properly SNATed
  docs/egress-ip.md
  go-controller/pkg/node/gateway_localnet.go
  go-controller/pkg/node/gateway_shared_intf.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#1683 OCPBUGS-9825: LoadBalancer Templates Merge Downstream: 25th May 2023
  Dockerfile.base
  dist/images/Dockerfile.fedora
  go-controller/Makefile
  go-controller/pkg/libovsdbops/model.go
  go-controller/pkg/libovsdbops/model_client.go
  go-controller/pkg/libovsdbops/model_client_test.go
  go-controller/pkg/libovsdbops/template_var.go
  go-controller/pkg/nbdb/chassis_template_var.go
  go-controller/pkg/nbdb/logical_switch_port.go
  go-controller/pkg/nbdb/mirror.go
  go-controller/pkg/nbdb/model.go
  go-controller/pkg/nbdb/nat.go
  go-controller/pkg/nbdb/static_mac_binding.go
  go-controller/pkg/network-controller-manager/network_controller_manager.go
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/controller/services/lb_config.go
  go-controller/pkg/ovn/controller/services/lb_config_test.go
  go-controller/pkg/ovn/controller/services/loadbalancer.go
  go-controller/pkg/ovn/controller/services/loadbalancer_test.go
  go-controller/pkg/ovn/controller/services/node_tracker.go
  go-controller/pkg/ovn/controller/services/repair.go
  go-controller/pkg/ovn/controller/services/services_controller.go
  go-controller/pkg/ovn/controller/services/services_controller_test.go
  go-controller/pkg/ovn/controller/services/svc_template_var.go
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/ovn/gateway_init.go
  go-controller/pkg/ovn/gateway_test.go
  go-controller/pkg/ovn/hybrid_test.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/namespace_test.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/ovn_test.go
  go-controller/pkg/ovn/secondary_layer3_network_controller.go
  go-controller/pkg/sbdb/chassis_template_var.go
  go-controller/pkg/sbdb/load_balancer.go
  go-controller/pkg/sbdb/mac_binding.go
  go-controller/pkg/sbdb/mirror.go
  go-controller/pkg/sbdb/model.go
  go-controller/pkg/sbdb/port_binding.go
  go-controller/pkg/sbdb/static_mac_binding.go
  go-controller/pkg/types/const.go
  go-controller/pkg/util/node_annotations.go
  go-controller/pkg/util/util.go
  go-controller/pkg/util/util_unit_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference
