Repository openshift/ovn-kubernetes, pull requests merged in 2023-06, with the labels that each got.

#1670 Bug OCPBUGS-12792: [release-4.10] Delete equivalent ACLs when searching by predicate.
  go-controller/pkg/libovsdbops/acl.go
  go-controller/pkg/libovsdbops/acl_test.go
  go-controller/pkg/libovsdbops/portgroup.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#1680 OCPBUGS-13953: [release-4.12] Use loadbalancer.Name as client index
  go-controller/pkg/libovsdb/libovsdb.go
  go-controller/pkg/libovsdbops/loadbalancer.go
  go-controller/pkg/libovsdbops/model.go
  go-controller/pkg/ovn/loadbalancer/loadbalancer.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1696 OCPBUGS-14636: Fix Downstream Unit Tests
  go-controller/pkg/ovn/controller/services/load_balancer_ocphack_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#1700 OCPBUGS-12352: Updating ovn-kubernetes-base images to be consistent with ART
  .ci-operator.yaml
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#1695 OCPBUGS-14482: Dockerfiles: sync RHEL9 dockerfiles to regular unused ones
  Dockerfile
  Dockerfile.base
  Dockerfile.microshift
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#1707 OCPBUGS-14769,SDN-3885: Downstream Merge 13th June 2023
  .github/workflows/test.yml
  contrib/kind.sh
  dist/images/daemonset.sh
  dist/images/ovnkube.sh
  dist/templates/ovnkube-master.yaml.j2
  dist/templates/ovnkube-node.yaml.j2
  go-controller/pkg/config/config.go
  go-controller/pkg/config/config_test.go
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/node/gateway.go
  go-controller/pkg/node/gateway_init.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/helper_linux.go
  go-controller/pkg/util/net_linux.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference

#1715 [release-4.13] OCPBUGS-15140: Fix stale SNAT entries for completed pods
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/util/kube.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#1712 OCPBUGS-14979: Validate port before deleting conntrack flow
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/util/net_linux.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#1717 OCPBUGS-15226: EgressIP: do not patch the status if the object no longer exists
  go-controller/pkg/clustermanager/egressip_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1718 OCPBUGS-15227: [DownstreamMerge] 6-21-23
  dist/templates/k8s.ovn.org_egressservices.yaml.j2
  docs/egress-service.md
  go-controller/hack/verify-gofmt.sh
  go-controller/pkg/clustermanager/egressip_controller.go
  go-controller/pkg/clustermanager/egressservice/egressservice_cluster.go
  go-controller/pkg/clustermanager/egressservice/egressservice_cluster_node.go
  go-controller/pkg/clustermanager/egressservice_cluster_test.go
  go-controller/pkg/crd/egressservice/v1/apis/clientset/versioned/doc.go
  go-controller/pkg/crd/egressservice/v1/apis/clientset/versioned/fake/register.go
  go-controller/pkg/crd/egressservice/v1/apis/clientset/versioned/scheme/register.go
  go-controller/pkg/crd/egressservice/v1/apis/informers/externalversions/factory.go
  go-controller/pkg/crd/egressservice/v1/types.go
  go-controller/pkg/factory/factory_test.go
  go-controller/pkg/node/controllers/egressservice/egressservice_node.go
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/node/egress_service_test.go
  go-controller/pkg/ovn/controller/apbroute/master_controller.go
  go-controller/pkg/ovn/controller/apbroute/node_controller.go
  go-controller/pkg/ovn/controller/egressservice/egressservice_zone.go
  go-controller/pkg/ovn/egressservices_test.go
  go-controller/pkg/ovn/external_gateway_test.go
  go-controller/pkg/types/const.go
  test/e2e/egress_services.go
  test/scripts/e2e-cp.sh
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#1713 OCPBUGS-14982: Validate port before deleting conntrack flow
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/node.go
  go-controller/pkg/util/net_linux.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#1722 OCPBUGS-15372: [release-4.13] Fix network policy to work with long namespace names
  go-controller/pkg/ovn/multicast.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#1725 OCPBUGS-15424: [release-4.12] Fix network policy to work with long namespace names
  go-controller/pkg/ovn/multicast.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#1675 OCPBUGS-13745: [release-4.13] ovnkube-master pod failed to reconnect to ovn db due to ssl expire
  go-controller/pkg/libovsdb/libovsdb.go
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#1710 OCPBUGS-15127: Dockerfile: bump to ovn 23.03.0-69 (for LB templates) and ovs 3.1.0-32 (upgrade perf)
  Dockerfile.base
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference
