Repository openshift/ovn-kubernetes, pull requests merged in 2023-03, with the labels that each got.

#1550 rhel9: bump to ovn23.03-23.03.0-preview.4
  Dockerfile.base.rhel9
Labels: approved, lgtm

#1548 Removal of small code delta from upstream
  go-controller/pkg/ovn/base_network_controller_pods.go
Labels: approved, lgtm

#1542 [release-4.10] OCPBUGS-7990, OCPBUGS-7021: Delete stale egress ip snat entries by node
  go-controller/pkg/libovsdbops/router.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#1556 OCPBUGS-8464,OCPBUGS-8222,OCPBUGS-8397: [DownstreamMerge] 7 Mar 2023
  contrib/kind.sh
  dist/images/daemonset.sh
  dist/images/ovnkube.sh
  dist/templates/ovnkube-master.yaml.j2
  go-controller/pkg/cni/cni.go
  go-controller/pkg/cni/helper_linux.go
  go-controller/pkg/cni/utils.go
  go-controller/pkg/cni/utils_test.go
  go-controller/pkg/config/config.go
  go-controller/pkg/config/config_test.go
  go-controller/pkg/libovsdbops/acl.go
  go-controller/pkg/metrics/master.go
  go-controller/pkg/node/base_node_network_controller_dpu_test.go
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/ovn/egressfirewall_test.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/policy.go
  test/e2e/multihoming.go
  test/e2e/static_pods.go
Labels: approved, lgtm, bugzilla/valid-bug, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#1558 OCPBUGS-8504,OCPBUGS-8505,OCPBUGS-8471: [release-4.13] Fix EFW's name truncation logic & make EFW ACLs unique using extIDs
  go-controller/pkg/libovsdbops/acl.go
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/ovn/egressfirewall_test.go
  go-controller/pkg/ovn/master.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#1503 OCPBUGS-6957: [release-4.12] Ensure routes are not duplicated
  go-controller/pkg/config/utils.go
  go-controller/pkg/libovsdbops/router.go
  go-controller/pkg/ovn/gateway_init.go
  go-controller/pkg/ovn/gateway_test.go
  go-controller/pkg/ovn/hybrid.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#1567 OCPBUGS-8741: [release-4.13] Handle Completed pods deletion
  go-controller/pkg/ovn/base_network_controller_pods.go
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#1577 OCPBUGS-7346: [release-4.12] Fully remove dependency on default gateway for services
  docs/design/host_to_services_OpenFlow.md
  go-controller/pkg/ovn/gateway/gateway.go
  go-controller/pkg/ovn/gateway_init.go
  go-controller/pkg/ovn/gateway_test.go
  go-controller/pkg/ovn/hybrid_test.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/namespace_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1570 OCPBUGS-10318: [release-4.12] node: add node healthz server for cloud load balancers
  go-controller/pkg/config/config.go
  go-controller/pkg/config/config_test.go
  go-controller/pkg/node/healthcheck_node.go
  go-controller/pkg/node/healthcheck_node_test.go
  go-controller/pkg/node/healthcheck_service.go
  go-controller/pkg/node/node.go
  go-controller/pkg/node/openflow_manager.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#1590 OCPBUGS-10395: Bump OVN to disable CT flush
  Dockerfile.base.rhel9
Labels: approved, lgtm, bugzilla/valid-bug, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1591 [release-4.13] OCPBUGS-10396: Bump OVN to disable CT flush
  Dockerfile.base.rhel9
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1562 [release-4.10] OCPBUGS-8513: Don't recreate clusterPGs and clusterRtrPGs unless needed
  go-controller/pkg/ovn/master.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#1595 OCPBUGS-10490: [release-4.12] Move checkForStaleOVSInterfaces and related code to node.go
  go-controller/pkg/node/healthcheck_test.go
  go-controller/pkg/node/node.go
  go-controller/pkg/node/node_test.go
  go-controller/pkg/node/openflow_manager.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#1553 Dockerfiles: copy RHEL-9 bits over top of unused RHEL8 bits
  Dockerfile
  Dockerfile.base
  Dockerfile.microshift
Labels: approved, lgtm

#1545 [release-4.12] OCPBUGS-7732: Fix leak in service controller cache
  go-controller/pkg/ovn/controller/services/services_controller.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#1594 OCPBUGS-10486: [release-4.11] node: add node healthz server for cloud load balancers
  go-controller/pkg/config/config.go
  go-controller/pkg/config/config_test.go
  go-controller/pkg/node/healthcheck.go
  go-controller/pkg/node/healthcheck_node.go
  go-controller/pkg/node/healthcheck_node_test.go
  go-controller/pkg/node/healthcheck_service.go
  go-controller/pkg/node/healthcheck_test.go
  go-controller/pkg/node/node.go
  go-controller/pkg/node/node_test.go
  go-controller/pkg/node/openflow_manager.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#1483 [release-4.12] OCPBUGS-6034: Update egress node assignability on every egress node update
  go-controller/pkg/ovn/obj_retry_master.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#1600 OCPBUGS-10744: Fix egress firewall CRD
  dist/templates/k8s.ovn.org_egressfirewalls.yaml.j2
  go-controller/hack/update-codegen.sh
  go-controller/pkg/crd/egressfirewall/v1/apis/clientset/versioned/clientset.go
  go-controller/pkg/crd/egressfirewall/v1/apis/clientset/versioned/fake/register.go
  go-controller/pkg/crd/egressfirewall/v1/apis/clientset/versioned/scheme/register.go
  go-controller/pkg/crd/egressfirewall/v1/apis/clientset/versioned/typed/egressfirewall/v1/fake/fake_egressfirewall.go
  go-controller/pkg/crd/egressfirewall/v1/apis/informers/externalversions/factory.go
  go-controller/pkg/crd/egressfirewall/v1/types.go
  go-controller/pkg/crd/egressfirewall/v1/zz_generated.deepcopy.go
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/ovn/egressfirewall_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#1310 OCPBUGS-2303: [4.11] Stale chassis are not removed
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#1601 OCPBUGS-10251: fix duplicated metric registration
  go-controller/pkg/metrics/master.go
  go-controller/pkg/metrics/node.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1603 OCPBUGS-10799: [release-4.13] Netpol performance: shared peer address sets, add metrics
  contrib/kind.sh
  dist/images/daemonset.sh
  dist/images/ovnkube.sh
  dist/templates/ovnkube-master.yaml.j2
  go-controller/pkg/config/config.go
  go-controller/pkg/config/config_test.go
  go-controller/pkg/factory/factory.go
  go-controller/pkg/factory/factory_test.go
  go-controller/pkg/libovsdbops/acl.go
  go-controller/pkg/libovsdbops/db_object_types.go
  go-controller/pkg/metrics/master.go
  go-controller/pkg/ovn/address_set/address_set.go
  go-controller/pkg/ovn/address_set/fake_address_set.go
  go-controller/pkg/ovn/base_event_handler.go
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/gress_policy.go
  go-controller/pkg/ovn/namespace_test.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pod_selector_address_set.go
  go-controller/pkg/ovn/pod_selector_address_set_test.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#1602 OCPBUGS-10796: [release-4.13] Egress firewall fix retry
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/ovn/egressfirewall_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#1608 OCPBUGS-10889, OCPBUGS-8473: Downstream Merge [27-mar-2023]
  contrib/kind.sh
  go-controller/cmd/ovnkube/ovnkube.go
  go-controller/pkg/cni/cnishim.go
  go-controller/pkg/factory/factory_test.go
  go-controller/pkg/network-controller-manager/network_controller_manager.go
  go-controller/pkg/network-controller-manager/node_network_controller_manager.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_localnet_linux_test.go
  go-controller/pkg/node/management-port_linux_test.go
  go-controller/pkg/node/node_ip_handler_linux.go
  go-controller/pkg/node/node_ip_handler_linux_test.go
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/ovn/egressfirewall_test.go
  go-controller/pkg/ovn/namespace_test.go
Labels: approved, lgtm, bugzilla/valid-bug, jira/valid-bug, jira/valid-reference

#1581 OCPBUGS-10314: [release-4.12] Handle Completed pods deletion
  go-controller/pkg/ovn/obj_retry_master.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#1549 node: small downstream CARRY patch cleanup
  go-controller/pkg/node/OCP_HACKS.go
  go-controller/pkg/node/gateway_localnet.go
  go-controller/pkg/node/gateway_shared_intf.go
Labels: approved, lgtm

#1604 OCPBUGS-10801: [release-4.13] Batch potentially big transaction on egress firewall ACLs migration
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/util/batching/batch.go
  go-controller/pkg/util/batching/batch_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1611 OCPBUGS-10839, OCPBUGS-10962: [DownstreamMerge] 28 March 2023
  .github/actions/cleanup-action/package-lock.json
  go-controller/pkg/libovsdbops/db_object_types.go
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/ovn/gress_policy.go
  go-controller/pkg/ovn/pod_selector_address_set_test.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_test.go
  test/e2e/e2e.go
Labels: approved, lgtm, bugzilla/valid-bug, jira/valid-bug, jira/valid-reference
