Repository openshift/ovn-kubernetes, pull requests merged in 2023-02, with the labels that each got.

#1497 OCPBUGS-6812: [release-4.12] Ensure loadbalancer cleanup doesn't fail
  go-controller/pkg/libovsdbops/lbgroup.go
  go-controller/pkg/libovsdbops/router.go
  go-controller/pkg/libovsdbops/switch.go
  go-controller/pkg/ovn/loadbalancer/loadbalancer_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1375 OCPBUGS-3615: [4.10] CARRY: client: don't construct transaction log string when it's not needed
  go-controller/vendor/github.com/ovn-org/libovsdb/client/client.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#1475 OCPBUGS-5841: ovnkube-node: Existing management port check
  go-controller/pkg/node/management-port-dpu.go
  go-controller/pkg/node/management-port.go
  go-controller/pkg/node/management-port_dpu_test.go
  go-controller/pkg/node/management-port_linux.go
  go-controller/pkg/node/management-port_linux_test.go
  go-controller/pkg/util/mocks/NetLinkOps.go
  go-controller/pkg/util/net_linux.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug

#1498 OCPBUGS-6813: [release-4.11] Ensure loadbalancer cleanup doesn't fail
  go-controller/pkg/libovsdbops/lbgroup.go
  go-controller/pkg/libovsdbops/router.go
  go-controller/pkg/libovsdbops/switch.go
  go-controller/pkg/ovn/loadbalancer/loadbalancer_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1487 OCPBUGS-4909: Dockerfile: bump OVN to 22.12.0-18
  Dockerfile.base
Labels: approved, lgtm, bugzilla/valid-bug, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#1489 [release-4.12] OCPBUGS-298: ovnkube-trace: run ovn-sbctl and ovn-trace with --no-leader-only
  go-controller/cmd/ovnkube-trace/ovnkube-trace.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#1470 [release-4.12] OCPBUGS-4862: Correct the deletion of noHostSubnet nodes
  go-controller/pkg/ovn/master.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate

#1500 OCPBUGS-6823: [release-4.12] Fix Egress FW ACL rules in dualstack mode
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/ovn/egressfirewall_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1504 [release-4.12] OCPBUGS-6961: update base image of Dockerfile
  Dockerfile
  Dockerfile.base
  Dockerfile.microshift
Labels: ¯\_(ツ)_/¯, approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#1499 OCPBUGS-6814: [release-4.10] Ensure loadbalancer cleanup doesn't fail
  go-controller/pkg/libovsdbops/lbgroup.go
  go-controller/pkg/libovsdbops/router.go
  go-controller/pkg/libovsdbops/switch.go
  go-controller/pkg/ovn/loadbalancer/loadbalancer_test.go
Labels: ¯\_(ツ)_/¯, approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1490 [release-4.12] OCPBUGS-3399: Drop in-cluster traffic towards svcCIDR at wrong port
  go-controller/pkg/node/gateway_shared_intf.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#1509 OCPBUGS-6953, OCPBUGS-6955: [Downstream Merge 6th Feb 2023]
  go-controller/pkg/libovsdbops/router.go
  go-controller/pkg/metrics/metrics.go
  go-controller/pkg/network-controller-manager/network_controller_manager.go
  go-controller/pkg/ovn/controller/egress_services/egress_services_node.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
Labels: ¯\_(ツ)_/¯, approved, lgtm, bugzilla/valid-bug, jira/valid-bug, jira/valid-reference

#1507 OCPBUGS-7010: [release-4.11] Fix Egress FW ACL rules in dualstack mode
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/ovn/egressfirewall_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1510 Downstream merge 2023-02-07
  .github/workflows/test.yml
  docs/ci.md
  docs/multi-homing.md
  go-controller/go.mod
  go-controller/go.sum
  go-controller/hybrid-overlay/pkg/controller/node_linux.go
  go-controller/pkg/libovsdb/libovsdb.go
  go-controller/pkg/libovsdbops/chassis.go
  go-controller/pkg/libovsdbops/chassis_test.go
  go-controller/pkg/libovsdbops/model.go
  go-controller/pkg/node/gateway.go
  go-controller/pkg/node/gateway_init.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_localnet.go
  go-controller/pkg/node/gateway_localnet_linux_test.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/healthcheck.go
  go-controller/pkg/node/node_dpu.go
  go-controller/pkg/node/node_ip_handler_linux.go
  go-controller/pkg/node/node_ip_handler_linux_test.go
  go-controller/pkg/ovn/base_network_controller_pods.go
  go-controller/pkg/ovn/base_network_controller_secondary.go
  go-controller/pkg/ovn/controller/services/services_controller_test.go
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/ovn/egressqos.go
  go-controller/pkg/ovn/loadbalancer/loadbalancer.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/testing/libovsdb/libovsdb.go
  go-controller/pkg/util/kube.go
  go-controller/pkg/util/multi_network.go
  go-controller/pkg/util/node_annotations.go
  go-controller/pkg/util/pod_annotation.go
  go-controller/vendor/github.com/ovn-org/libovsdb/cache/cache.go
  go-controller/vendor/github.com/ovn-org/libovsdb/cache/uuidset.go
  go-controller/vendor/github.com/ovn-org/libovsdb/client/client.go
  go-controller/vendor/github.com/ovn-org/libovsdb/client/monitor.go
  go-controller/vendor/github.com/ovn-org/libovsdb/database/database.go
  go-controller/vendor/github.com/ovn-org/libovsdb/database/errors.go
  go-controller/vendor/github.com/ovn-org/libovsdb/database/mutate.go
  go-controller/vendor/github.com/ovn-org/libovsdb/database/transaction.go
  go-controller/vendor/github.com/ovn-org/libovsdb/mapper/mapper.go
  go-controller/vendor/github.com/ovn-org/libovsdb/ovsdb/serverdb/database.go
  go-controller/vendor/github.com/ovn-org/libovsdb/server/server.go
  go-controller/vendor/modules.txt
  test/e2e/multihoming.go
  test/e2e/node_ip_migration.go
  test/e2e/util.go
  test/scripts/e2e-cp.sh
Labels: approved, lgtm

#1495 Add RHEL9 image Dockerfiles
  Dockerfile.base.rhel9
  Dockerfile.microshift.rhel9
  Dockerfile.rhel9
Labels: approved, lgtm

#1148 [release-4.10] Bug 2092895: update all egress ACLs' direction to "from-lport"
  go-controller/pkg/ovn/policy.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, backport-risk-assessed, jira/valid-bug

#1518 rhel9: remove stray `oc` install
  Dockerfile.rhel9
Labels: approved, lgtm

#1332 [release-4.10] OCPBUGS-2013: Validate node subnet annotations against cluster networks
  go-controller/hybrid-overlay/pkg/controller/master.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/namespace_test.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/subnetallocator/allocator.go
  go-controller/pkg/ovn/subnetallocator/allocator_test.go
  go-controller/pkg/ovn/subnetallocator/host_subnet_allocator.go
  go-controller/pkg/ovn/subnetallocator/host_subnet_allocator_test.go
  go-controller/pkg/util/util.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical

#1505 [release-4.11] OCPBUGS-5245: Move check_pkt_larger to gateway router ports
  Dockerfile
  go-controller/pkg/node/gateway.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_localnet_linux_test.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/ovn/gateway_init.go
  go-controller/pkg/ovn/gateway_test.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/namespace_test.go
  go-controller/pkg/ovn/obj_retry.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/util/node_annotations.go
  go-controller/pkg/util/node_annotations_unit_test.go
  go-controller/pkg/util/ovs.go
  test/e2e/service.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1519 rhel9: no longer need python3-pyOpenSSL
  Dockerfile.rhel9
Labels: approved

#1508 OCPBUGS-7012: [release-4.10] Fix Egress FW ACL rules in dualstack mode
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/ovn/egressfirewall_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1523 rhel9: oc RPM does the kubectl symlink
  Dockerfile.rhel9
Labels: approved

#1481 iptables: use container iptables, not the host's
  Dockerfile
  Dockerfile.base
Labels: approved, lgtm

#1525 cleanup: drop redundant selinux-policy install in onvkube dockerfiles
  Dockerfile
  Dockerfile.rhel9
Labels: approved

#1526 rhel9: no longer need to use iptables wrappers
  Dockerfile.base.rhel9
  Dockerfile.rhel9
Labels: approved

#1516 [release-4.12] OCPBUGS-7230: Delete IGMP Groups when deleting stale chassis
  go-controller/go.mod
  go-controller/go.sum
  go-controller/pkg/libovsdb/libovsdb.go
  go-controller/pkg/libovsdbops/chassis.go
  go-controller/pkg/libovsdbops/chassis_test.go
  go-controller/pkg/libovsdbops/model.go
  go-controller/pkg/testing/libovsdb/libovsdb.go
  go-controller/vendor/github.com/ovn-org/libovsdb/cache/cache.go
  go-controller/vendor/github.com/ovn-org/libovsdb/cache/uuidset.go
  go-controller/vendor/github.com/ovn-org/libovsdb/client/client.go
  go-controller/vendor/github.com/ovn-org/libovsdb/client/monitor.go
  go-controller/vendor/github.com/ovn-org/libovsdb/database/database.go
  go-controller/vendor/github.com/ovn-org/libovsdb/database/errors.go
  go-controller/vendor/github.com/ovn-org/libovsdb/database/mutate.go
  go-controller/vendor/github.com/ovn-org/libovsdb/database/transaction.go
  go-controller/vendor/github.com/ovn-org/libovsdb/mapper/mapper.go
  go-controller/vendor/github.com/ovn-org/libovsdb/ovsdb/serverdb/database.go
  go-controller/vendor/github.com/ovn-org/libovsdb/server/server.go
  go-controller/vendor/modules.txt
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#1522 [release-4.11] OCPBUGS-7319: Bump OVN to 22.09, enable session affinity timeout
  Dockerfile
  go-controller/pkg/libovsdbops/loadbalancer.go
  go-controller/pkg/ovn/controller/services/load_balancer.go
  go-controller/pkg/ovn/loadbalancer/loadbalancer.go
  go-controller/pkg/ovn/loadbalancer/types.go
  test/scripts/e2e-kind.sh
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1484 [release-4.12] OCPBUGS-6040: addMasqueradeRoute: fallback to gateway interface IPs
  go-controller/pkg/node/gateway_init.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_localnet.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/util/net.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1530 iptables package is missing in microshift image
  Dockerfile
  Dockerfile.base
  Dockerfile.base.rhel9
  Dockerfile.rhel9
Labels: approved, lgtm

#1378 OCPBUGS-3656: Fixes dualstack clusterIPs for network policy svc handler
  go-controller/pkg/ovn/gress_policy.go
  go-controller/pkg/ovn/policy.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug

#1491 [release-4.11] OCPBUGS-6640: Drop in-cluster traffic towards svcCIDR at wrong port
  go-controller/pkg/node/gateway_shared_intf.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#1521 [release-4.12] OCPBUGS-7026: Bump OVN to 22.12 and turn off neighbour response in router options.
  Dockerfile.base
  go-controller/pkg/ovn/controller/services/services_controller_test.go
  go-controller/pkg/ovn/loadbalancer/loadbalancer.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#1539 Dockerfiles: switch to dnf
  Dockerfile
  Dockerfile.base
  Dockerfile.base.rhel9
  Dockerfile.rhel9
Labels: approved, lgtm

#1520 OCPBUGS-7317: [release-4.12] Delete stale egress ip snat entries by node
  go-controller/pkg/libovsdbops/router.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#1531 OCPBUGS-7296: Remove ICNIv1 from ovn-kubernetes
  go-controller/hybrid-overlay/pkg/controller/node.go
  go-controller/hybrid-overlay/pkg/controller/node_linux.go
  go-controller/hybrid-overlay/pkg/types/types.go
  go-controller/hybrid-overlay/pkg/util/util.go
  go-controller/pkg/ovn/OCP_HACKS.go
  go-controller/pkg/ovn/base_network_controller_pods.go
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/ovn/hybrid_test.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/pods.go
Labels: approved, lgtm, bugzilla/valid-bug, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#1492 [release-4.10] OCPBUGS-6641: Drop in-cluster traffic towards svcCIDR at wrong port
  go-controller/pkg/node/gateway_shared_intf.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#1544 rhel9: bump to openvswitch3.1-3.1.0-2.el9fdp
  Dockerfile.base.rhel9
Labels: approved, lgtm
