Repository openshift/ovn-kubernetes, pull requests merged in 2023-08, with the labels that each got.

#1790 [release-4.13] OCPBUGS-17120: Bump OVN to 23.06-23.06.0-51
  Dockerfile.base
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1758 [release-4.10] OCPBUGS-16206: Fix stale SNAT entries for completed pods
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/util/kube.go
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#1795 [DownstreamMerge] 8-1-23
  go-controller/pkg/factory/factory.go
  go-controller/pkg/libovsdb/ops/chassis.go
  go-controller/pkg/libovsdb/ops/db_object_types.go
  go-controller/pkg/ovn/controller/apbroute/external_controller_policy_test.go
  go-controller/pkg/ovn/controller/apbroute/master_controller.go
  go-controller/pkg/ovn/controller/apbroute/network_client.go
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/ovn/egressgw_test.go
  go-controller/pkg/ovn/external_gateway_apb_test.go
  go-controller/pkg/ovn/namespace_test.go
Labels: approved, lgtm, ok-to-test

#1796 [release-4.13] OCPBUGS-17001: Inactivity probe for ovndb connection
  go-controller/go.mod
  go-controller/go.sum
  go-controller/pkg/libovsdb/libovsdb.go
  go-controller/pkg/libovsdbops/chassis_test.go
  go-controller/pkg/ovn/copp_test.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/hybrid_test.go
  go-controller/pkg/testing/libovsdb/libovsdb.go
  go-controller/vendor/github.com/ovn-org/libovsdb/cache/cache.go
  go-controller/vendor/github.com/ovn-org/libovsdb/client/api.go
  go-controller/vendor/github.com/ovn-org/libovsdb/client/client.go
  go-controller/vendor/github.com/ovn-org/libovsdb/client/options.go
  go-controller/vendor/github.com/ovn-org/libovsdb/database/database.go
  go-controller/vendor/github.com/ovn-org/libovsdb/database/doc.go
  go-controller/vendor/github.com/ovn-org/libovsdb/database/transaction.go
  go-controller/vendor/github.com/ovn-org/libovsdb/model/model.go
  go-controller/vendor/github.com/ovn-org/libovsdb/ovsdb/bindings.go
  go-controller/vendor/github.com/ovn-org/libovsdb/ovsdb/error.go
  go-controller/vendor/github.com/ovn-org/libovsdb/ovsdb/named_uuid.go
  go-controller/vendor/github.com/ovn-org/libovsdb/ovsdb/notation.go
  go-controller/vendor/github.com/ovn-org/libovsdb/ovsdb/set.go
  go-controller/vendor/github.com/ovn-org/libovsdb/ovsdb/updates.go
  go-controller/vendor/github.com/ovn-org/libovsdb/ovsdb/updates2.go
  go-controller/vendor/github.com/ovn-org/libovsdb/ovsdb/uuid.go
  go-controller/vendor/github.com/ovn-org/libovsdb/server/monitor.go
  go-controller/vendor/github.com/ovn-org/libovsdb/server/server.go
  go-controller/vendor/github.com/ovn-org/libovsdb/updates/difference.go
  go-controller/vendor/github.com/ovn-org/libovsdb/updates/doc.go
  go-controller/vendor/github.com/ovn-org/libovsdb/updates/merge.go
  go-controller/vendor/github.com/ovn-org/libovsdb/updates/mutate.go
  go-controller/vendor/github.com/ovn-org/libovsdb/updates/updates.go
  go-controller/vendor/modules.txt
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug

#1738 [release-4.13] OCPBUGS-15496: Fix default GW IPs retrieval
  go-controller/pkg/node/gateway_init.go
  go-controller/pkg/node/helper_linux.go
  go-controller/pkg/node/helper_linux_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1724 [release-4.13] OCPBUGS-13175:Check the status of a pod before trying to get its ip
  go-controller/pkg/ovn/gateway_init.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1798 Downstream Merge 2023-08-03
  dist/templates/ovnkube-control-plane.yaml.j2
  go-controller/cmd/ovnkube/ovnkube.go
  go-controller/pkg/node/ovspinning/ovspinning_linux.go
  go-controller/pkg/ovn/controller/egressservice/egressservice_zone.go
  go-controller/pkg/ovn/controller/egressservice/egressservice_zone_service.go
  go-controller/pkg/ovn/egressservices_test.go
  go-controller/pkg/ovn/zone_interconnect/chassis_handler.go
  go-controller/pkg/ovn/zone_interconnect/chassis_handler_test.go
  test/e2e/go.mod
  test/e2e/go.sum
  test/e2e/multihoming.go
  test/e2e/multihoming_utils.go
Labels: approved, lgtm

#1803 OCPBUGS-17147: [DownstreamMerge] 8 Aug 2023
  dist/templates/k8s.ovn.org_adminpolicybasedexternalroutes.yaml.j2
  go-controller/pkg/crd/adminpolicybasedroute/v1/types.go
  go-controller/pkg/crd/adminpolicybasedroute/v1/zz_generated.deepcopy.go
  go-controller/pkg/libovsdb/libovsdb.go
  go-controller/pkg/libovsdb/ops/db_object_types.go
  go-controller/pkg/ovn/base_network_controller_policy.go
  go-controller/pkg/ovn/controller/apbroute/external_controller.go
  go-controller/pkg/ovn/controller/apbroute/external_controller_namespace_test.go
  go-controller/pkg/ovn/controller/apbroute/external_controller_policy.go
  go-controller/pkg/ovn/controller/apbroute/external_controller_policy_test.go
  go-controller/pkg/ovn/external_gateway_apb_test.go
  go-controller/pkg/ovn/external_ids_syncer/acl/acl_sync.go
  go-controller/pkg/ovn/gress_policy.go
  go-controller/pkg/ovn/gress_policy_test.go
  go-controller/pkg/ovn/policy_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference

#1808 OCPBUGS-17522: [release-4.12] libovsdb: give monitor setup time to process than normal transactions
  go-controller/pkg/libovsdb/libovsdb.go
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#1817 OCPBUGS-17666: Downstream Merge august 15th 2023
  go-controller/cmd/ovnkube/ovnkube.go
  go-controller/pkg/clustermanager/clustermanager.go
  go-controller/pkg/libovsdb/libovsdb.go
  go-controller/pkg/metrics/cluster_manager.go
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/node/default_node_network_controller_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1822 OCPBUGS-17867: CARRY: Removes restriction for ip scope universe on node ips
  go-controller/pkg/node/linkmanager/link_network_manager.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#1814 OCPBUGS-17675: Don't return error on delete event that doesn't ave a chance to succeed.
  go-controller/pkg/ovn/policy.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#1806 [release-4.11] OCPBUGS-12819: Handle k8s watcher restart scenario
  go-controller/pkg/factory/factory.go
  go-controller/pkg/factory/factory_test.go
  go-controller/pkg/factory/handler.go
  go-controller/pkg/informer/informer.go
  go-controller/pkg/ovn/controller/services/node_tracker.go
  go-controller/pkg/ovn/controller/services/services_controller.go
  go-controller/pkg/ovn/egressqos.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#1825 OCPBUGS-17910: Emit node events only when retry failure
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/retry/obj_retry.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#1833 OCPBUGS-17406,OCPBUGS-17970,OCPBUGS-17844: [DownstreamMerge] 24 Aug 2023
  dist/images/ovnkube.sh
  dist/templates/ovnkube-single-node-zone.yaml.j2
  go-controller/cmd/ovnkube/ovnkube.go
  go-controller/pkg/clustermanager/egressip_event_handler.go
  go-controller/pkg/clustermanager/network_cluster_controller.go
  go-controller/pkg/clustermanager/zone_cluster_controller.go
  go-controller/pkg/factory/factory.go
  go-controller/pkg/factory/mocks/NodeWatchFactory.go
  go-controller/pkg/factory/types.go
  go-controller/pkg/metrics/cluster_manager.go
  go-controller/pkg/network-controller-manager/network_controller_manager.go
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/node/management-port_linux_test.go
  go-controller/pkg/node/obj_retry_gateway.go
  go-controller/pkg/node/obj_retry_node.go
  go-controller/pkg/node/obj_retry_test_helper.go
  go-controller/pkg/ovn/address_set/address_set.go
  go-controller/pkg/ovn/base_event_handler.go
  go-controller/pkg/ovn/controller/apbroute/external_controller_namespace_test.go
  go-controller/pkg/ovn/controller/apbroute/external_controller_pod_test.go
  go-controller/pkg/ovn/controller/apbroute/external_controller_policy_test.go
  go-controller/pkg/ovn/controller/apbroute/master_controller.go
  go-controller/pkg/ovn/controller/apbroute/node_controller.go
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/ovn/egressfirewall_dns_test.go
  go-controller/pkg/ovn/egressfirewall_test.go
  go-controller/pkg/ovn/egressgw_test.go
  go-controller/pkg/ovn/external_gateway_apb_test.go
  go-controller/pkg/ovn/network_controller_policy_event_handler.go
  go-controller/pkg/ovn/ovn_test.go
  go-controller/pkg/retry/obj_retry.go
  test/e2e/e2e.go
  test/e2e/egressip.go
  test/e2e/multihoming.go
  test/e2e/multihoming_utils.go
  test/e2e/util.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#1836 OCPBUGS-18110: Fix encap port configuration for remote chassis
  contrib/kind.sh
  dist/images/daemonset.sh
  dist/images/ovnkube.sh
  dist/templates/ovnkube-master.yaml.j2
  dist/templates/ovnkube-node.yaml.j2
  dist/templates/ovnkube-single-node-zone.yaml.j2
  dist/templates/ovnkube-zone-controller.yaml.j2
  go-controller/pkg/ovn/zone_interconnect/chassis_handler.go
  go-controller/pkg/ovn/zone_interconnect/chassis_handler_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#1834 OCPBUGS-18057: [release-4.13] Create egress firewall with one db transaction
  go-controller/pkg/ovn/address_set/address_set.go
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/ovn/egressfirewall_dns_test.go
  go-controller/pkg/ovn/egressfirewall_test.go
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#1839 OCPBUGS-17731: move clearInitialNodeNetworkUnavailableCondition to clustermanager
  go-controller/pkg/clustermanager/network_cluster_controller.go
  go-controller/pkg/ovn/master.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, acknowledge-critical-fixes-only
