Repository openshift/ovn-kubernetes, pull requests merged in 2023-01, with the labels that each got.

#1438 OCPBUGS-4761: [4.11] Dockerfile: bump OVS to 2.17.0-62.el8fdp
  Dockerfile
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug

#1466 Bug 2075548: [DownstreamMerge] 09 Jan 2023
  .github/workflows/test.yml
  contrib/kind.sh
  dist/images/Dockerfile.fedora
  docs/design/service_traffic_policy.md
  go-controller/cmd/ovnkube-trace/ovnkube-trace.go
  go-controller/pkg/config/config.go
  go-controller/pkg/config/config_test.go
  go-controller/pkg/factory/factory.go
  go-controller/pkg/factory/factory_test.go
  go-controller/pkg/factory/handler.go
  go-controller/pkg/kube/kube.go
  go-controller/pkg/kube/mocks/Interface.go
  go-controller/pkg/node/gateway_iptables.go
  go-controller/pkg/node/gateway_localnet_linux_test.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/gateway_shared_intf_linux.go
  go-controller/pkg/node/node.go
  go-controller/pkg/node/node_test.go
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/hybrid_test.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/namespace_test.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/util/kube.go
  test/e2e/e2e.go
  test/e2e/egress_services.go
  test/e2e/service.go
  test/e2e/util.go
  test/scripts/e2e-cp.sh
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium

#1464 [release-4.10] OCPBUGS-5299: Set the node as reachable only when it is being added as an egressip node
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/ovn.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug

#1468 Bug 2041746: Bump OVN to 22.12.0-4
  Dockerfile.base
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#1467 OCPBUGS-5046: [release-4.12] egressip: fix test data race accessing podAssignment cache
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-low

#1471 OCPBUGS-5766: egressip: fix test data race accessing podAssignment cache
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-low

#1477 OCPBUGS-5923: [release-4.12] Fix egress firewall to allow inbound connections in both gw modes
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/ovn/egressfirewall_dns.go
  go-controller/pkg/ovn/egressfirewall_dns_test.go
  go-controller/pkg/ovn/egressfirewall_test.go
  test/e2e/e2e.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug

#1463 OCPBUGS-5077: [release-4.10] Fix load balancer health check locking and update
  go-controller/pkg/node/gateway_init.go
  go-controller/pkg/node/healthcheck.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-low

#1478 OCPBUGS-5928: [release-4.11] Fix egress firewall to allow inbound connections in both gw modes
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/ovn/egressfirewall_dns.go
  go-controller/pkg/ovn/egressfirewall_dns_test.go
  go-controller/pkg/ovn/egressfirewall_test.go
  test/e2e/e2e.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#1480 [release-4.10] OCPBUGS-5990: egressip: fix test data race accessing podAssignment cache
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/pods_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-low, jira/valid-reference

#1488 [release-4.12] OCPBUGS-298: Bump OVN to 22.09.0-54
  Dockerfile.base
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference
