Repository openshift/ovn-kubernetes, pull requests merged in 2024-02, with the labels that each got.

#2038 OCPBUGS-24219,OCPBUGS-22221,OCPBUGS-25670: Downstream Merge 31st Jan 2024
  .github/workflows/commands.yml
  .github/workflows/docker.yml
  .github/workflows/test.yml
  .github/workflows/test_periodic.yml
  README.md
  contrib/kind.sh
  go-controller/pkg/libovsdb/ops/loadbalancer.go
  go-controller/pkg/metrics/ovs.go
  go-controller/pkg/ovn/base_network_controller_policy.go
  go-controller/pkg/ovn/controller/services/lb_config.go
  go-controller/pkg/ovn/controller/services/loadbalancer.go
  go-controller/pkg/ovn/controller/services/loadbalancer_test.go
  go-controller/pkg/ovn/controller/services/services_controller_test.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/hybrid.go
  go-controller/pkg/ovn/hybrid_test.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/multipolicy_test.go
  go-controller/pkg/ovn/policy_stale_test.go
  go-controller/pkg/ovn/policy_test.go
  go-controller/vendor/k8s.io/kubernetes/pkg/apis/core/OWNERS
  go-controller/vendor/k8s.io/kubernetes/pkg/apis/core/annotation_key_constants.go
  go-controller/vendor/k8s.io/kubernetes/pkg/apis/core/doc.go
  go-controller/vendor/k8s.io/kubernetes/pkg/apis/core/json.go
  go-controller/vendor/k8s.io/kubernetes/pkg/apis/core/objectreference.go
  go-controller/vendor/k8s.io/kubernetes/pkg/apis/core/register.go
  go-controller/vendor/k8s.io/kubernetes/pkg/apis/core/resource.go
  go-controller/vendor/k8s.io/kubernetes/pkg/apis/core/taint.go
  go-controller/vendor/k8s.io/kubernetes/pkg/apis/core/toleration.go
  go-controller/vendor/k8s.io/kubernetes/pkg/apis/core/types.go
  go-controller/vendor/k8s.io/kubernetes/pkg/apis/core/zz_generated.deepcopy.go
  go-controller/vendor/modules.txt
  test/e2e/e2e.go
  test/e2e/egress_firewall.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference

#2022 [release-4.13] OCPBUGS-27257: Ensure session affinity cleanup on backend removal
  Dockerfile.base
  test/e2e/service.go
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1987 [release-4.13] OCPBUGS-25611: Avoid panic due to stale ACLs with 1013 priority
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_test.go
Labels: approved, lgtm, ok-to-test, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#2048 OCPBUGS-27215,OCPBUGS-26979,OCPBUGS-24271,OCPBUGS-22923,OCPBUGS-20220,OCPBUGS-20209: Downstream Merge 2nd Feb 2024
  .github/workflows/test.yml
  docs/egress-ip.md
  go-controller/go.mod
  go-controller/go.sum
  go-controller/hack/test-go.sh
  go-controller/pkg/clustermanager/egressip_controller.go
  go-controller/pkg/clustermanager/egressip_controller_test.go
  go-controller/pkg/clustermanager/egressip_event_handler.go
  go-controller/pkg/kube/kube.go
  go-controller/pkg/kubevirt/router.go
  go-controller/pkg/node/controllers/egressip/egressip.go
  go-controller/pkg/node/controllers/egressip/egressip_test.go
  go-controller/pkg/node/controllers/egressip/pod.go
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/node/gateway_init.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/iptables/iptables_manager.go
  go-controller/pkg/node/iptables/iptables_manager_test.go
  go-controller/pkg/node/linkmanager/link_network_manager.go
  go-controller/pkg/node/linkmanager/link_network_manager_test.go
  go-controller/pkg/node/management-port_linux.go
  go-controller/pkg/node/node_ip_handler_linux.go
  go-controller/pkg/node/routemanager/route_manager.go
  go-controller/pkg/node/routemanager/route_manager_test.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/kubevirt_test.go
  go-controller/pkg/ovnwebhook/nodeadmission.go
  go-controller/pkg/util/net.go
  go-controller/pkg/util/net_linux.go
  go-controller/pkg/util/net_linux_unit_test.go
  go-controller/pkg/util/nicstobridge.go
  go-controller/pkg/util/node_annotations.go
  go-controller/vendor/github.com/vishvananda/netlink/addr_linux.go
  go-controller/vendor/github.com/vishvananda/netlink/handle_unspecified.go
  go-controller/vendor/github.com/vishvananda/netlink/link.go
  go-controller/vendor/github.com/vishvananda/netlink/link_linux.go
  go-controller/vendor/github.com/vishvananda/netlink/neigh_linux.go
  go-controller/vendor/github.com/vishvananda/netlink/netlink_unspecified.go
  go-controller/vendor/github.com/vishvananda/netlink/nl/link_linux.go
  go-controller/vendor/github.com/vishvananda/netlink/nl/nl_linux.go
  go-controller/vendor/github.com/vishvananda/netlink/proc_event_linux.go
  go-controller/vendor/github.com/vishvananda/netlink/protinfo.go
  go-controller/vendor/github.com/vishvananda/netlink/protinfo_linux.go
  go-controller/vendor/github.com/vishvananda/netlink/route_linux.go
  go-controller/vendor/github.com/vishvananda/netlink/rule_linux.go
  go-controller/vendor/github.com/vishvananda/netlink/xfrm_linux.go
  go-controller/vendor/github.com/vishvananda/netlink/xfrm_policy.go
  go-controller/vendor/github.com/vishvananda/netlink/xfrm_policy_linux.go
  go-controller/vendor/github.com/vishvananda/netlink/xfrm_state.go
  go-controller/vendor/github.com/vishvananda/netlink/xfrm_state_linux.go
  go-controller/vendor/github.com/vishvananda/netlink/xfrm_unspecified.go
  go-controller/vendor/modules.txt
  test/e2e/e2e.go
  test/e2e/egressip.go
  test/e2e/kubevirt.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference

#2026 OCPBUGS-27925: dont quit if node does not have subnet annotation
  go-controller/pkg/node/default_node_network_controller.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#2052 [release-4.15] OCPBUGS-29001: kubevirt, Replace routes on migration
  .github/workflows/test.yml
  go-controller/pkg/kubevirt/router.go
  go-controller/pkg/ovn/kubevirt_test.go
  test/e2e/kubevirt.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#2051 USHIFT-2256: updating ovn kubernetes microshift image to golang-1.21
  Dockerfile.microshift
Labels: approved, lgtm, jira/valid-reference

#2037 [release-4.14] OCPBUGS-25999: Prevent multiple encap-ips per single chassis
  go-controller/pkg/libovsdb/ops/chassis.go
  go-controller/pkg/libovsdb/ops/model_client.go
  go-controller/pkg/libovsdb/ops/model_client_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#2040 OCPBUGS-28848: Ignore hybrid-overlay nodes from EgressIP controller
  go-controller/pkg/clustermanager/egressip_controller.go
  go-controller/pkg/clustermanager/egressip_controller_test.go
  go-controller/pkg/clustermanager/egressip_event_handler.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#2045 OCPBUGS-28818: Support Permanent Session Affinity
  go-controller/pkg/libovsdb/ops/loadbalancer.go
  go-controller/pkg/ovn/controller/services/lb_config.go
  go-controller/pkg/ovn/controller/services/loadbalancer.go
  go-controller/pkg/ovn/controller/services/loadbalancer_test.go
  go-controller/pkg/ovn/controller/services/services_controller_test.go
  go-controller/vendor/k8s.io/kubernetes/pkg/apis/core/OWNERS
  go-controller/vendor/k8s.io/kubernetes/pkg/apis/core/annotation_key_constants.go
  go-controller/vendor/k8s.io/kubernetes/pkg/apis/core/doc.go
  go-controller/vendor/k8s.io/kubernetes/pkg/apis/core/json.go
  go-controller/vendor/k8s.io/kubernetes/pkg/apis/core/objectreference.go
  go-controller/vendor/k8s.io/kubernetes/pkg/apis/core/register.go
  go-controller/vendor/k8s.io/kubernetes/pkg/apis/core/resource.go
  go-controller/vendor/k8s.io/kubernetes/pkg/apis/core/taint.go
  go-controller/vendor/k8s.io/kubernetes/pkg/apis/core/toleration.go
  go-controller/vendor/k8s.io/kubernetes/pkg/apis/core/types.go
  go-controller/vendor/k8s.io/kubernetes/pkg/apis/core/zz_generated.deepcopy.go
  go-controller/vendor/modules.txt
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#2057 OCPBUGS-20336,OCPBUGS-28558: [DownstreamMerge] 7 Feb 2024
  go-controller/cmd/ovnkube/ovnkube.go
  go-controller/pkg/clustermanager/egressservice/egressservice_cluster.go
  go-controller/pkg/controller/controller.go
  go-controller/pkg/factory/factory_test.go
  go-controller/pkg/factory/handler.go
  go-controller/pkg/network-attach-def-controller/network_attach_def_controller.go
  go-controller/pkg/node/controllers/egressip/egressip.go
  go-controller/pkg/node/controllers/egressip/egressip_test.go
  go-controller/pkg/node/controllers/egressservice/egressservice_node.go
  go-controller/pkg/ovn/controller/admin_network_policy/admin_network_policy_controller.go
  go-controller/pkg/ovn/controller/egressservice/egressservice_zone.go
  go-controller/pkg/ovn/controller/services/services_controller.go
  go-controller/pkg/ovn/egressqos.go
  go-controller/pkg/ovn/hybrid_test.go
  go-controller/pkg/types/const.go
  go-controller/pkg/util/sync.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference

#2060 OCPBUGS-29230: [release-4.15] separate the handler sync from the informer sync & remove the full service resync during node tracker startup
  go-controller/pkg/clustermanager/egressservice/egressservice_cluster.go
  go-controller/pkg/controller/controller.go
  go-controller/pkg/network-attach-def-controller/network_attach_def_controller.go
  go-controller/pkg/node/controllers/egressip/egressip.go
  go-controller/pkg/node/controllers/egressip/egressip_test.go
  go-controller/pkg/node/controllers/egressservice/egressservice_node.go
  go-controller/pkg/ovn/controller/admin_network_policy/admin_network_policy_controller.go
  go-controller/pkg/ovn/controller/egressservice/egressservice_zone.go
  go-controller/pkg/ovn/controller/services/services_controller.go
  go-controller/pkg/ovn/egressqos.go
  go-controller/pkg/types/const.go
  go-controller/pkg/util/sync.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#2017 OCPBUGS-23259: [release-4.12] Update leaderelection config to allow retries
  go-controller/pkg/config/config.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#2063 OCPBUGS-27853: [DownstreamMerge] 9 Feb 2024
  .github/workflows/test.yml
  go-controller/pkg/ovn/base_network_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference

#2050 [release-4.15] OCPBUGS-28725: Update netpol namespace address sets usage to the old ways
  go-controller/pkg/ovn/base_network_controller_policy.go
  go-controller/pkg/ovn/policy_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#2064 [release-4.15] OCPBUGS-29185: Wait for ovnkube controller to start before checking result error.
  go-controller/cmd/ovnkube/ovnkube.go
  go-controller/pkg/factory/factory_test.go
  go-controller/pkg/factory/handler.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#2061 OCPBUGS-29231:[release-4.14] Separate timeout for handler sync from informer sync & do not resync services during node tracker startup
  go-controller/pkg/clustermanager/egressservice/egressservice_cluster.go
  go-controller/pkg/network-attach-def-controller/network_attach_def_controller.go
  go-controller/pkg/node/controllers/egressip/egressip.go
  go-controller/pkg/node/controllers/egressip/egressip_test.go
  go-controller/pkg/node/controllers/egressservice/egressservice_node.go
  go-controller/pkg/ovn/controller/admin_network_policy/admin_network_policy_controller.go
  go-controller/pkg/ovn/controller/egressservice/egressservice_zone.go
  go-controller/pkg/ovn/controller/services/services_controller.go
  go-controller/pkg/ovn/egressqos.go
  go-controller/pkg/types/const.go
  go-controller/pkg/util/sync.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#2066 OCPBUGS-27093: Dockerfile: Bump OVN to ovn-23.09.0-112.el9fdp
  Dockerfile.base
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference

#2046 OCPBUGS-28819: Support Permanent Session Affinity
  go-controller/pkg/libovsdb/ops/loadbalancer.go
  go-controller/pkg/ovn/controller/services/lb_config.go
  go-controller/pkg/ovn/controller/services/loadbalancer.go
  go-controller/pkg/ovn/controller/services/loadbalancer_test.go
  go-controller/pkg/ovn/controller/services/services_controller_test.go
  go-controller/vendor/k8s.io/kubernetes/pkg/apis/core/OWNERS
  go-controller/vendor/k8s.io/kubernetes/pkg/apis/core/annotation_key_constants.go
  go-controller/vendor/k8s.io/kubernetes/pkg/apis/core/doc.go
  go-controller/vendor/k8s.io/kubernetes/pkg/apis/core/json.go
  go-controller/vendor/k8s.io/kubernetes/pkg/apis/core/objectreference.go
  go-controller/vendor/k8s.io/kubernetes/pkg/apis/core/register.go
  go-controller/vendor/k8s.io/kubernetes/pkg/apis/core/resource.go
  go-controller/vendor/k8s.io/kubernetes/pkg/apis/core/taint.go
  go-controller/vendor/k8s.io/kubernetes/pkg/apis/core/toleration.go
  go-controller/vendor/k8s.io/kubernetes/pkg/apis/core/types.go
  go-controller/vendor/k8s.io/kubernetes/pkg/apis/core/zz_generated.deepcopy.go
  go-controller/vendor/modules.txt
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#2073 OCPBUGS-23519,OCPBUGS-12876,OCPBUGS-28724,OCPBUGS-13665: Downstream Merge 15th Feb 2024
  .github/workflows/test.yml
  dist/images/Dockerfile.fedora
  go-controller/go.mod
  go-controller/go.sum
  go-controller/pkg/cni/cni.go
  go-controller/pkg/cni/ovs.go
  go-controller/pkg/ovn/base_event_handler.go
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/controller/services/node_tracker.go
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/ovn/egressfirewall_test.go
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/ovn/hybrid_test.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/util/node_annotations.go
  go-controller/vendor/github.com/j-keck/arping/arping.go
  go-controller/vendor/github.com/j-keck/arping/arping_bsd.go
  go-controller/vendor/github.com/j-keck/arping/arping_linux.go
  go-controller/vendor/github.com/j-keck/arping/arping_windows.go
  go-controller/vendor/modules.txt
  test/e2e/egress_firewall.go
  test/e2e/egress_services.go
  test/e2e/egressip.go
  test/e2e/external_gateways.go
  test/e2e/pod.go
  test/e2e/service.go
  test/e2e/util.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference

#2036 [release-4.13] OCPBUGS-28630: Synchronize node primary address update
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/node_ip_handler_linux.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#2081 OCPBUGS-28742, OCPBUGS-17207: Downstream Merge 22nd Feb 2024
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/node/gateway_init.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/management-port_linux.go
  go-controller/pkg/util/kube.go
  go-controller/pkg/util/net_linux.go
  go-controller/pkg/util/net_linux_unit_test.go
  test/e2e/multihoming.go
  test/e2e/multihoming_utils.go
  test/e2e/service.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference

#2068 [release-4.14] OCPBUGS-28726: Update netpol namespace address sets usage to the old ways
  go-controller/pkg/ovn/base_network_controller_policy.go
  go-controller/pkg/ovn/policy_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference
