Repository openshift/ovn-kubernetes, pull requests merged in 2024-07, with the labels that each got.

#2214 OCPBUGS-35876: [release-4.12] ipv6+all protocols conntrack flush
  go-controller/go.mod
  go-controller/go.sum
  go-controller/pkg/node/node.go
  go-controller/pkg/util/external_gw_conntrack.go
  go-controller/vendor/github.com/google/go-cmp/cmp/compare.go
  go-controller/vendor/github.com/google/go-cmp/cmp/internal/diff/diff.go
  go-controller/vendor/github.com/google/go-cmp/cmp/internal/value/zero.go
  go-controller/vendor/github.com/google/go-cmp/cmp/options.go
  go-controller/vendor/github.com/google/go-cmp/cmp/path.go
  go-controller/vendor/github.com/google/go-cmp/cmp/report_compare.go
  go-controller/vendor/github.com/google/go-cmp/cmp/report_reflect.go
  go-controller/vendor/github.com/google/go-cmp/cmp/report_slices.go
  go-controller/vendor/github.com/google/go-cmp/cmp/report_text.go
  go-controller/vendor/github.com/mdlayher/ndp/.gitignore
  go-controller/vendor/github.com/mdlayher/ndp/CHANGELOG.md
  go-controller/vendor/github.com/mdlayher/ndp/LICENSE.md
  go-controller/vendor/github.com/mdlayher/ndp/README.md
  go-controller/vendor/github.com/mdlayher/ndp/addr.go
  go-controller/vendor/github.com/mdlayher/ndp/conn.go
  go-controller/vendor/github.com/mdlayher/ndp/doc.go
  go-controller/vendor/github.com/mdlayher/ndp/fuzz.go
  go-controller/vendor/github.com/mdlayher/ndp/gofuzz.go
  go-controller/vendor/github.com/mdlayher/ndp/message.go
  go-controller/vendor/github.com/mdlayher/ndp/option.go
  go-controller/vendor/github.com/mdlayher/ndp/string.go
  go-controller/vendor/golang.org/x/net/icmp/dstunreach.go
  go-controller/vendor/golang.org/x/net/icmp/echo.go
  go-controller/vendor/golang.org/x/net/icmp/endpoint.go
  go-controller/vendor/golang.org/x/net/icmp/extension.go
  go-controller/vendor/golang.org/x/net/icmp/helper_posix.go
  go-controller/vendor/golang.org/x/net/icmp/interface.go
  go-controller/vendor/golang.org/x/net/icmp/ipv4.go
  go-controller/vendor/golang.org/x/net/icmp/ipv6.go
  go-controller/vendor/golang.org/x/net/icmp/listen_posix.go
  go-controller/vendor/golang.org/x/net/icmp/listen_stub.go
  go-controller/vendor/golang.org/x/net/icmp/message.go
  go-controller/vendor/golang.org/x/net/icmp/messagebody.go
  go-controller/vendor/golang.org/x/net/icmp/mpls.go
  go-controller/vendor/golang.org/x/net/icmp/multipart.go
  go-controller/vendor/golang.org/x/net/icmp/packettoobig.go
  go-controller/vendor/golang.org/x/net/icmp/paramprob.go
  go-controller/vendor/golang.org/x/net/icmp/sys_freebsd.go
  go-controller/vendor/golang.org/x/net/icmp/timeexceeded.go
  go-controller/vendor/modules.txt
  test/e2e/external_gateways.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#2205 OCPBUGS-35061: Allow ANPs at same priority
  go-controller/pkg/ovn/admin_network_policy_test.go
  go-controller/pkg/ovn/controller/admin_network_policy/admin_network_policy.go
  go-controller/pkg/ovn/controller/admin_network_policy/admin_network_policy_controller.go
  go-controller/pkg/ovn/controller/admin_network_policy/repair.go
  go-controller/pkg/ovn/controller/admin_network_policy/utils.go
  test/e2e/acl_logging.go
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#2215 OCPBUGS-36382: Handle IP fragments in SGW mode
  dist/images/ovnkube.sh
  go-controller/pkg/config/config.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/util/kube.go
  test/e2e/service.go
  test/e2e/util.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#2218 OCPBUGS-36486: Fix race condition when creating/deleting namespace address set
  go-controller/pkg/ovn/base_network_controller.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#2219 OCPBUGS-36554: Handle IP fragments in SGW mode
  dist/images/ovnkube.sh
  go-controller/pkg/config/config.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/util/kube.go
  test/e2e/service.go
  test/e2e/util.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#2220 OCPBUGS-36608: [release-4.16] ovspinning: Set affinity of each thread
  go-controller/pkg/node/ovspinning/ovspinning_linux.go
  go-controller/pkg/node/ovspinning/ovspinning_linux_test.go
  go-controller/pkg/node/ovspinning/testdata/fake_thread_process.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#2232 OCPBUGS-37362: Fix registering northd metrics on appropriate nodes
  dist/templates/ovnkube-db.yaml.j2
  dist/templates/ovnkube-single-node-zone.yaml.j2
  dist/templates/ovnkube-zone-controller.yaml.j2
  go-controller/pkg/metrics/ovn_northd.go
  helm/ovn-kubernetes/charts/ovnkube-db-raft/templates/statefulset.yaml
  helm/ovn-kubernetes/charts/ovnkube-db/templates/deployment.yaml
  helm/ovn-kubernetes/charts/ovnkube-single-node-zone/templates/ovnkube-single-node-zone.yaml
  helm/ovn-kubernetes/charts/ovnkube-zone-controller/templates/ovnkube-zone-controller.yaml
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-low, jira/valid-reference

#2235 OCPBUGS-37196: [release-4.15] ovspinning: Set affinity of each thread
  go-controller/pkg/node/ovspinning/ovspinning_linux.go
  go-controller/pkg/node/ovspinning/ovspinning_linux_test.go
  go-controller/pkg/node/ovspinning/testdata/fake_thread_process.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#2236 OCPBUGS-37197: [release-4.14] ovspinning: Set affinity of each thread
  go-controller/pkg/node/ovspinning/ovspinning_linux.go
  go-controller/pkg/node/ovspinning/ovspinning_linux_test.go
  go-controller/pkg/node/ovspinning/testdata/fake_thread_process.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference
