Repository openshift/ovn-kubernetes, pull requests merged in 2024-08, with the labels that each got.

#2246 [release-4.15] OCPBUGS-37962: Fix registering northd metrics on appropriate nodes
  dist/templates/ovnkube-db.yaml.j2
  dist/templates/ovnkube-single-node-zone.yaml.j2
  dist/templates/ovnkube-zone-controller.yaml.j2
  go-controller/pkg/metrics/ovn_northd.go
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-low, jira/valid-reference

#2267 OCPBUGS-38699,OCPBUGS-38704: EgressIP VRF support & ignore localnet patch ports when bootstrapping
  .github/workflows/test.yml
  docs/features/cluster-egress-controls/egress-ip.md
  go-controller/pkg/node/controllers/egressip/egressip.go
  go-controller/pkg/node/controllers/egressip/egressip_test.go
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/node/linkmanager/link_network_manager.go
  go-controller/pkg/node/linkmanager/link_network_manager_test.go
  go-controller/pkg/node/openflow_manager.go
  go-controller/pkg/node/openflow_manager_test.go
  go-controller/pkg/node/routemanager/route_manager.go
  go-controller/pkg/node/routemanager/route_manager_test.go
  test/e2e/egressip.go
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#2272 SDN-4930: Downstream Merge August 26th
  dist/templates/k8s.ovn.org_userdefinednetworks.yaml.j2
  go-controller/pkg/clustermanager/userdefinednetwork/template/net-attach-def-template.go
  go-controller/pkg/clustermanager/userdefinednetwork/template/net-attach-def-template_test.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/applyconfiguration/userdefinednetwork/v1/localnetconfig.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/applyconfiguration/userdefinednetwork/v1/userdefinednetworkspec.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/applyconfiguration/utils.go
  go-controller/pkg/crd/userdefinednetwork/v1/types.go
  go-controller/pkg/crd/userdefinednetwork/v1/zz_generated.deepcopy.go
  go-controller/pkg/node/controllers/egressip/egressip.go
  go-controller/pkg/node/controllers/egressip/egressip_test.go
  go-controller/pkg/node/gateway_init.go
  go-controller/pkg/node/gateway_localnet_linux_test.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/gateway_udn.go
  go-controller/pkg/node/gateway_udn_test.go
  go-controller/pkg/node/management-port_linux.go
  go-controller/pkg/node/node_ip_handler_linux.go
  go-controller/pkg/node/node_ip_handler_linux_test.go
  go-controller/pkg/node/routemanager/route_manager.go
  go-controller/pkg/node/routemanager/route_manager_test.go
  go-controller/pkg/node/secondary_node_network_controller.go
  go-controller/pkg/node/secondary_node_network_controller_test.go
  go-controller/pkg/node/vrfmanager/vrf_manager.go
  go-controller/pkg/ovn/gateway.go
  go-controller/pkg/ovn/multihoming_test.go
  go-controller/pkg/ovn/secondary_layer2_network_controller.go
  go-controller/pkg/ovn/secondary_layer2_network_controller_test.go
  go-controller/pkg/ovn/secondary_layer3_network_controller_test.go
  test/e2e/endpointslices_mirror.go
  test/e2e/network_segmentation.go
  test/e2e/network_segmentation_endpointslices_mirror.go
  test/e2e/status_manager.go
  test/scripts/e2e-cp.sh
Labels: approved, lgtm, jira/valid-reference

#2252 OCPBUGS-38262: [release-4.15] Bump OVSDBTimeout and make it configurable.
  go-controller/pkg/config/config.go
  go-controller/pkg/libovsdb/libovsdb.go
  go-controller/pkg/libovsdb/ops/acl.go
  go-controller/pkg/libovsdb/ops/address_set.go
  go-controller/pkg/libovsdb/ops/chassis.go
  go-controller/pkg/libovsdb/ops/lbgroup.go
  go-controller/pkg/libovsdb/ops/loadbalancer.go
  go-controller/pkg/libovsdb/ops/model_client.go
  go-controller/pkg/libovsdb/ops/portgroup.go
  go-controller/pkg/libovsdb/ops/qos.go
  go-controller/pkg/libovsdb/ops/router.go
  go-controller/pkg/libovsdb/ops/switch.go
  go-controller/pkg/libovsdb/ops/template_var.go
  go-controller/pkg/libovsdb/ops/transact.go
  go-controller/pkg/ovn/controller/unidling/unidle.go
  go-controller/pkg/ovn/controller/unidling/unidle_test.go
  go-controller/pkg/ovn/egressfirewall_test.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/pods_test.go
  go-controller/pkg/ovn/policy_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#2273 OCPBUGS-38270: Dockerfile: Bump OVS to 3.4.0-1
  Dockerfile.base
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#2277 [release-4.17] SDN-4919: Downstream Merge August 22nd
  dist/templates/k8s.ovn.org_userdefinednetworks.yaml.j2
  go-controller/pkg/clustermanager/userdefinednetwork/template/net-attach-def-template.go
  go-controller/pkg/clustermanager/userdefinednetwork/template/net-attach-def-template_test.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/applyconfiguration/userdefinednetwork/v1/localnetconfig.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/applyconfiguration/userdefinednetwork/v1/userdefinednetworkspec.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/applyconfiguration/utils.go
  go-controller/pkg/crd/userdefinednetwork/v1/types.go
  go-controller/pkg/crd/userdefinednetwork/v1/zz_generated.deepcopy.go
  go-controller/pkg/node/controllers/egressip/egressip.go
  go-controller/pkg/node/controllers/egressip/egressip_test.go
  go-controller/pkg/node/gateway_init.go
  go-controller/pkg/node/gateway_localnet_linux_test.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/gateway_udn.go
  go-controller/pkg/node/gateway_udn_test.go
  go-controller/pkg/node/management-port_linux.go
  go-controller/pkg/node/node_ip_handler_linux.go
  go-controller/pkg/node/node_ip_handler_linux_test.go
  go-controller/pkg/node/routemanager/route_manager.go
  go-controller/pkg/node/routemanager/route_manager_test.go
  go-controller/pkg/node/secondary_node_network_controller.go
  go-controller/pkg/node/secondary_node_network_controller_test.go
  go-controller/pkg/node/vrfmanager/vrf_manager.go
  go-controller/pkg/ovn/gateway.go
  go-controller/pkg/ovn/multihoming_test.go
  go-controller/pkg/ovn/secondary_layer2_network_controller.go
  go-controller/pkg/ovn/secondary_layer2_network_controller_test.go
  go-controller/pkg/ovn/secondary_layer3_network_controller_test.go
  test/e2e/endpointslices_mirror.go
  test/e2e/network_segmentation.go
  test/e2e/network_segmentation_endpointslices_mirror.go
  test/e2e/status_manager.go
  test/scripts/e2e-cp.sh
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference
