Repository openshift/ovn-kubernetes, pull requests merged in 2024-12, with the labels that each got.

#2367 SDN-5498: make dnf get through repo troubles faster
  Dockerfile
  Dockerfile.base
Labels: approved, lgtm, jira/valid-reference

#2376 OCPBUGS-45339: Dockerfile: Update OVN to the 24.03.2-32.el9fdp minor release.
  Dockerfile.base
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#2375 OCPBUGS-45314: pin libreswan to 4.6-3.el9_0.3
  Dockerfile
Labels: approved, lgtm, qe-approved, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#2377 OCPBUGS-45343: Dockerfile: Update OVN to the 24.03.2-32.el9fdp minor release.
  Dockerfile.base
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#2384 [release-4.17] OCPBUGS-45312: pin libreswan to 4.6-3.el9_0.3
  Dockerfile
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#2368 [release-4.14] OCPBUGS-45096: pin libreswan to 4.6-3.el9_0.3
  Dockerfile
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#2387 OCPBUGS-45951: bump OVS version to 3.4.0-18
  Dockerfile.base
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#2393 [release-4.17] OCPBUGS-45953: bump OVS version to 3.4.0-18
  Dockerfile.base
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#2346 [release-4.16] OCPBUGS-44457: Add static route to the hairpin masquerade IPs to pod
  go-controller/pkg/allocator/pod/pod_annotation_test.go
  go-controller/pkg/ovn/pods_test.go
  go-controller/pkg/util/pod_annotation.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#2388 OCPBUGS-45958: bump OVS to 3.3.0-62.el9fdp for OCP 4.16
  Dockerfile.base
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#2374 [release-4.15] OCPBUGS-45097: pin libreswan to 4.6-3.el9_0.3
  Dockerfile
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#2404 OCPBUGS-47506: Let OVN-northd bind remote ports
  go-controller/pkg/ovn/base_network_controller_secondary.go
  go-controller/pkg/ovn/zone_interconnect/zone_ic_handler.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference
