Repository openshift/ovn-kubernetes, pull requests merged in 2024-06, with the labels that each got.

#2131 OCPBUGS-31814: ipv6+all protocols conntrack flush
  go-controller/go.mod
  go-controller/go.sum
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/ovn/controller/apbroute/network_client.go
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/util/external_gw_conntrack.go
  go-controller/vendor/github.com/mdlayher/ndp/.gitignore
  go-controller/vendor/github.com/mdlayher/ndp/CHANGELOG.md
  go-controller/vendor/github.com/mdlayher/ndp/LICENSE.md
  go-controller/vendor/github.com/mdlayher/ndp/README.md
  go-controller/vendor/github.com/mdlayher/ndp/addr.go
  go-controller/vendor/github.com/mdlayher/ndp/conn.go
  go-controller/vendor/github.com/mdlayher/ndp/doc.go
  go-controller/vendor/github.com/mdlayher/ndp/fuzz.go
  go-controller/vendor/github.com/mdlayher/ndp/gofuzz.go
  go-controller/vendor/github.com/mdlayher/ndp/message.go
  go-controller/vendor/github.com/mdlayher/ndp/option.go
  go-controller/vendor/github.com/mdlayher/ndp/string.go
  go-controller/vendor/golang.org/x/net/icmp/dstunreach.go
  go-controller/vendor/golang.org/x/net/icmp/echo.go
  go-controller/vendor/golang.org/x/net/icmp/endpoint.go
  go-controller/vendor/golang.org/x/net/icmp/extension.go
  go-controller/vendor/golang.org/x/net/icmp/helper_posix.go
  go-controller/vendor/golang.org/x/net/icmp/interface.go
  go-controller/vendor/golang.org/x/net/icmp/ipv4.go
  go-controller/vendor/golang.org/x/net/icmp/ipv6.go
  go-controller/vendor/golang.org/x/net/icmp/listen_posix.go
  go-controller/vendor/golang.org/x/net/icmp/listen_stub.go
  go-controller/vendor/golang.org/x/net/icmp/message.go
  go-controller/vendor/golang.org/x/net/icmp/messagebody.go
  go-controller/vendor/golang.org/x/net/icmp/mpls.go
  go-controller/vendor/golang.org/x/net/icmp/multipart.go
  go-controller/vendor/golang.org/x/net/icmp/packettoobig.go
  go-controller/vendor/golang.org/x/net/icmp/paramprob.go
  go-controller/vendor/golang.org/x/net/icmp/sys_freebsd.go
  go-controller/vendor/golang.org/x/net/icmp/timeexceeded.go
  go-controller/vendor/modules.txt
  test/e2e/external_gateways.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#2168 OCPBUGS-33623,OCPBUGS-33624: Improve CI signal by removing/suppressing signals
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/types/errors.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#2199 [release-4.14] OCPBUGS-35009: ipv6+all protocols conntrack flush
  go-controller/go.mod
  go-controller/go.sum
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/ovn/controller/apbroute/network_client.go
  go-controller/pkg/ovn/egressgw.go
  go-controller/pkg/util/external_gw_conntrack.go
  go-controller/vendor/github.com/mdlayher/ndp/.gitignore
  go-controller/vendor/github.com/mdlayher/ndp/CHANGELOG.md
  go-controller/vendor/github.com/mdlayher/ndp/LICENSE.md
  go-controller/vendor/github.com/mdlayher/ndp/README.md
  go-controller/vendor/github.com/mdlayher/ndp/addr.go
  go-controller/vendor/github.com/mdlayher/ndp/conn.go
  go-controller/vendor/github.com/mdlayher/ndp/doc.go
  go-controller/vendor/github.com/mdlayher/ndp/fuzz.go
  go-controller/vendor/github.com/mdlayher/ndp/gofuzz.go
  go-controller/vendor/github.com/mdlayher/ndp/message.go
  go-controller/vendor/github.com/mdlayher/ndp/option.go
  go-controller/vendor/github.com/mdlayher/ndp/string.go
  go-controller/vendor/golang.org/x/net/icmp/dstunreach.go
  go-controller/vendor/golang.org/x/net/icmp/echo.go
  go-controller/vendor/golang.org/x/net/icmp/endpoint.go
  go-controller/vendor/golang.org/x/net/icmp/extension.go
  go-controller/vendor/golang.org/x/net/icmp/helper_posix.go
  go-controller/vendor/golang.org/x/net/icmp/interface.go
  go-controller/vendor/golang.org/x/net/icmp/ipv4.go
  go-controller/vendor/golang.org/x/net/icmp/ipv6.go
  go-controller/vendor/golang.org/x/net/icmp/listen_posix.go
  go-controller/vendor/golang.org/x/net/icmp/listen_stub.go
  go-controller/vendor/golang.org/x/net/icmp/message.go
  go-controller/vendor/golang.org/x/net/icmp/messagebody.go
  go-controller/vendor/golang.org/x/net/icmp/mpls.go
  go-controller/vendor/golang.org/x/net/icmp/multipart.go
  go-controller/vendor/golang.org/x/net/icmp/packettoobig.go
  go-controller/vendor/golang.org/x/net/icmp/paramprob.go
  go-controller/vendor/golang.org/x/net/icmp/sys_freebsd.go
  go-controller/vendor/golang.org/x/net/icmp/timeexceeded.go
  go-controller/vendor/modules.txt
  test/e2e/external_gateways.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#2206 OCPBUGS-33005: Downstream Merge June 17th
  .github/workflows/docker.yml
  README.md
  dist/images/ovndb-raft-functions.sh
  dist/images/ovnkube.sh
  dist/images/run-ovn-dpu.sh
  dist/images/run-ovnkube-node-dpu.sh
  dist/templates/ovnkube-control-plane.yaml.j2
  dist/templates/ovnkube-db-raft.yaml.j2
  dist/templates/ovnkube-db.yaml.j2
  dist/templates/ovnkube-identity.yaml.j2
  dist/templates/ovnkube-master.yaml.j2
  dist/templates/ovnkube-node.yaml.j2
  dist/templates/ovnkube-single-node-zone.yaml.j2
  dist/templates/ovnkube-zone-controller.yaml.j2
  dist/templates/ovs-node.yaml.j2
  docs/developer-guide/local_testing_guide.md
  docs/developer-guide/release.md
  docs/features/hardware-offload/ovs-doca.md
  docs/features/hardware-offload/ovs_acceleration.md
  docs/features/multiple-networks/multi-homing.md
  docs/getting-started/configuration.md
  docs/governance/CONTRIBUTING.md
  docs/index.md
  docs/installation/config.md
  docs/installation/helm.md
  docs/installation/launching-ovn-kubernetes-on-kind.md
  docs/installation/launching-ovn-kubernetes-with-helm.md
  docs/observability/sdn-dashboard.md
  go-controller/pkg/cni/cniserver_test.go
  go-controller/pkg/config/config.go
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/controller/admin_network_policy/admin_network_policy.go
  helm/ovn-kubernetes/Chart.yaml
  helm/ovn-kubernetes/charts/ovn-ipsec/Chart.yaml
  helm/ovn-kubernetes/charts/ovnkube-control-plane/Chart.yaml
  helm/ovn-kubernetes/charts/ovnkube-control-plane/templates/ovnkube-control-plane.yaml
  helm/ovn-kubernetes/charts/ovnkube-db-raft/Chart.yaml
  helm/ovn-kubernetes/charts/ovnkube-db-raft/templates/statefulset.yaml
  helm/ovn-kubernetes/charts/ovnkube-db/Chart.yaml
  helm/ovn-kubernetes/charts/ovnkube-db/templates/deployment.yaml
  helm/ovn-kubernetes/charts/ovnkube-identity/Chart.yaml
  helm/ovn-kubernetes/charts/ovnkube-identity/templates/ovnkube-identity.yaml
  helm/ovn-kubernetes/charts/ovnkube-master/Chart.yaml
  helm/ovn-kubernetes/charts/ovnkube-master/templates/deployment-ovnkube-master.yaml
  helm/ovn-kubernetes/charts/ovnkube-node-dpu-host/Chart.yaml
  helm/ovn-kubernetes/charts/ovnkube-node-dpu-host/templates/ovnkube-node-dpu-host.yaml
  helm/ovn-kubernetes/charts/ovnkube-node-dpu/Chart.yaml
  helm/ovn-kubernetes/charts/ovnkube-node-dpu/templates/ovnkube-node-dpu.yaml
  helm/ovn-kubernetes/charts/ovnkube-node/Chart.yaml
  helm/ovn-kubernetes/charts/ovnkube-node/templates/ovnkube-node.yaml
  helm/ovn-kubernetes/charts/ovnkube-single-node-zone/Chart.yaml
  helm/ovn-kubernetes/charts/ovnkube-single-node-zone/templates/ovnkube-single-node-zone.yaml
  helm/ovn-kubernetes/charts/ovnkube-zone-controller/Chart.yaml
  helm/ovn-kubernetes/charts/ovnkube-zone-controller/templates/ovnkube-zone-controller.yaml
  helm/ovn-kubernetes/charts/ovs-node/Chart.yaml
  helm/ovn-kubernetes/charts/ovs-node/templates/ovs-node.yaml
  mkdocs.yml
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference

#2210 OCPBUGS-34778: bump OVN to fix multicast bug
  Dockerfile.base
Labels: approved, lgtm, staff-eng-approved, jira/valid-bug, jira/severity-important, jira/valid-reference

#2209 OCPBUGS-35835: [release-4.16] bump OVN to ovn24.03-24.03.2-19.el9fdp
  Dockerfile.base
Labels: approved, lgtm, cherry-pick-approved, staff-eng-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference
