Repository openshift/ovn-kubernetes, pull requests merged in 2024-05, with the labels that each got.

#2118 OCPBUGS-29397: 4.14 High CPU usage with APB CRD
  go-controller/pkg/ovn/controller/apbroute/master_controller.go
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#2065 OCPBUGS-29316: [release-4.15] Ignore missing live migratable pod annotation on AddNode
  go-controller/pkg/ovn/base_network_controller.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#2123 OCPBUGS-32247: [release-4.14] OVN bump to 23.09.0-139
  Dockerfile.base
  dist/images/Dockerfile.fedora
  test/e2e/service.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#2025 OCPBUGS-27852: [release-4.15] Full implementation of KEP-1669 ProxyTerminatingEndpoints + ETP=local fix
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/ovn/controller/services/lb_config.go
  go-controller/pkg/ovn/controller/services/lb_config_test.go
  go-controller/pkg/ovn/controller/services/load_balancer_ocphack_test.go
  go-controller/pkg/ovn/controller/services/node_tracker.go
  go-controller/pkg/ovn/controller/services/services_controller.go
  go-controller/pkg/ovn/controller/services/services_controller_test.go
  go-controller/pkg/testing/kube.go
  go-controller/pkg/util/kube.go
  go-controller/pkg/util/kube_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#2153 OCPBUGS-33218: [release-4.13] OVN bump to 23.06.1-112
  Dockerfile.base
  dist/images/Dockerfile.fedora
  test/e2e/service.go
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#2147 [Release 4.15] OCPBUGS-32986: Bump OVS
  Dockerfile.base
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#2154 OCPBUGS-25889: [release-4.12] OVN bump to 23.06.1-112
  Dockerfile.base
  test/e2e/service.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#2156 OCPBUGS-32426: [release-4.15] Improves service iptables efficiency on start up
  go-controller/go.mod
  go-controller/go.sum
  go-controller/pkg/node/gateway.go
  go-controller/pkg/node/gateway_iptables.go
  go-controller/pkg/node/gateway_localnet.go
  go-controller/pkg/node/gateway_localnet_linux_test.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/iptables/iptables.go
  go-controller/pkg/util/iptables.go
  go-controller/vendor/github.com/coreos/go-iptables/iptables/iptables.go
  go-controller/vendor/modules.txt
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#2148 [Release 4.14] OCPBUGS-32987: Bump OVS
  Dockerfile.base
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#2128 OCPBUGS-32319: [release-4.14] Full implementation of KEP-1669 ProxyTerminatingEndpoints + ETP=local fix
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/ovn/controller/services/lb_config.go
  go-controller/pkg/ovn/controller/services/lb_config_test.go
  go-controller/pkg/ovn/controller/services/load_balancer_ocphack_test.go
  go-controller/pkg/ovn/controller/services/node_tracker.go
  go-controller/pkg/ovn/controller/services/services_controller.go
  go-controller/pkg/ovn/controller/services/services_controller_test.go
  go-controller/pkg/testing/kube.go
  go-controller/pkg/util/kube.go
  go-controller/pkg/util/kube_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#2130 OCPBUGS-33421: [release-4.13] Full implementation of KEP-1669 ProxyTerminatingEndpoints + ETP=local fix
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/node/gateway_localnet_linux_test.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/gateway_shared_intf_linux.go
  go-controller/pkg/node/healthcheck_service.go
  go-controller/pkg/ovn/controller/services/lb_config.go
  go-controller/pkg/ovn/controller/services/lb_config_test.go
  go-controller/pkg/ovn/controller/services/load_balancer_ocphack_test.go
  go-controller/pkg/ovn/controller/services/node_tracker.go
  go-controller/pkg/ovn/controller/services/services_controller.go
  go-controller/pkg/ovn/controller/services/services_controller_test.go
  go-controller/pkg/testing/kube.go
  go-controller/pkg/util/kube.go
  go-controller/pkg/util/kube_test.go
  go-controller/pkg/util/util.go
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#2105 [release-4.15] OCPBUGS-30899: use a forked version of j-keck/arping that fixes a threading issue
  go-controller/go.mod
  go-controller/go.sum
  go-controller/vendor/github.com/j-keck/arping/arping.go
  go-controller/vendor/github.com/j-keck/arping/arping_bsd.go
  go-controller/vendor/github.com/j-keck/arping/arping_linux.go
  go-controller/vendor/github.com/j-keck/arping/arping_windows.go
  go-controller/vendor/modules.txt
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#2143 [release-4.13] OCPBUGS-32988: Bumping OVS
  Dockerfile.base
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#2161 OKD-40: Add ovnver_okd and ovsver_okd to Dockerfile.base
  Dockerfile.base
Labels: approved, lgtm, jira/valid-reference, acknowledge-critical-fixes-only

#2135 OCPBUGS-33422: [release-4.12] Full implementation of KEP-1669 ProxyTerminatingEndpoints + ETP=local fix
  go-controller/pkg/node/gateway_localnet_linux_test.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/gateway_shared_intf_linux.go
  go-controller/pkg/node/healthcheck_service.go
  go-controller/pkg/node/node.go
  go-controller/pkg/ovn/controller/services/load_balancer.go
  go-controller/pkg/ovn/controller/services/load_balancer_ocphack_test.go
  go-controller/pkg/ovn/controller/services/load_balancer_test.go
  go-controller/pkg/ovn/controller/services/node_tracker.go
  go-controller/pkg/ovn/controller/services/services_controller.go
  go-controller/pkg/ovn/controller/services/services_controller_test.go
  go-controller/pkg/testing/kube.go
  go-controller/pkg/util/kube.go
  go-controller/pkg/util/kube_test.go
  go-controller/pkg/util/util.go
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#2172 [release-4.13] OCPBUGS-33730: Improves service iptables efficiency on start up
  go-controller/go.mod
  go-controller/go.sum
  go-controller/pkg/node/OCP_HACKS.go
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/node/gateway.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_iptables.go
  go-controller/pkg/node/gateway_localnet.go
  go-controller/pkg/node/gateway_localnet_linux_test.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/gateway_shared_intf_linux.go
  go-controller/pkg/node/iptables/iptables.go
  go-controller/pkg/util/iptables.go
  go-controller/vendor/github.com/coreos/go-iptables/iptables/iptables.go
  go-controller/vendor/modules.txt
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#2175 OCPBUGS-33960: Egressip garp fix 4.15
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/gateway_init.go
  go-controller/pkg/ovn/gateway_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#2163 OCPBUGS-33294: Reuse node-subnet from cache if exists
  go-controller/pkg/clustermanager/node/subnet_allocator.go
  go-controller/pkg/clustermanager/node/subnet_allocator_test.go
Labels: approved, lgtm, ok-to-test, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#2144 [release-4.12] OCPBUGS-32990: Bump OVS
  Dockerfile.base
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#2160 OCPBUGS-33469: drop-forwarding: Add ClusterSubnets to allowed forwarding CIDRs
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_iptables.go
  go-controller/pkg/node/gateway_shared_intf.go
Labels: approved, lgtm, ok-to-test, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#2180 OCPBUGS-34331: [DownstreamMerge] 23 May 2024
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/ISSUE_TEMPLATE/flaking-test.yaml
  .github/workflows/test.yml
  README.md
  contrib/kind-common
  contrib/kind-helm.sh
  contrib/kind.sh
  dist/images/Dockerfile.ubuntu
  docs/design/architecture.md
  docs/design/external-ip-and-loadbalancer-ingress.md
  docs/design/topology.md
  docs/features/cluster-egress-controls/egress-ip.md
  docs/features/template.md
  docs/index.md
  docs/okeps/okep-4368-template.md
  go-controller/Makefile
  go-controller/pkg/clustermanager/network_cluster_controller.go
  go-controller/pkg/clustermanager/node/node_allocator.go
  go-controller/pkg/clustermanager/secondary_network_cluster_manager.go
  go-controller/pkg/metrics/ovn_northd.go
  go-controller/pkg/network-attach-def-controller/network_attach_def_controller.go
  go-controller/pkg/network-controller-manager/network_controller_manager.go
  go-controller/pkg/node/base_node_network_controller_dpu.go
  go-controller/pkg/node/secondary_node_network_controller.go
  go-controller/pkg/ovn/base_secondary_layer2_network_controller.go
  go-controller/pkg/ovn/controller/services/lb_config.go
  go-controller/pkg/ovn/controller/services/node_tracker.go
  go-controller/pkg/ovn/dns_name_resolver/dns.go
  go-controller/pkg/ovn/gateway_init.go
  go-controller/pkg/ovn/secondary_layer2_network_controller.go
  go-controller/pkg/ovn/secondary_layer3_network_controller.go
  go-controller/pkg/ovn/secondary_localnet_network_controller.go
  helm/ovn-kubernetes/values.yaml
  mkdocs.yml
  test/e2e/gateway_mtu.go
  test/e2e/go.mod
  test/e2e/go.sum
  test/e2e/kubevirt.go
  test/e2e/multihoming_utils.go
  test/e2e/util.go
  test/scripts/e2e-cp.sh
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference

#2184 [release-4.12] OCPBUGS-34273,OCPBUGS-34414: Improves service iptables efficiency on start up + ICMP error messages to pass through
  go-controller/go.mod
  go-controller/go.sum
  go-controller/pkg/node/OCP_HACKS.go
  go-controller/pkg/node/gateway.go
  go-controller/pkg/node/gateway_iptables.go
  go-controller/pkg/node/gateway_localnet.go
  go-controller/pkg/node/gateway_localnet_linux_test.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/gateway_shared_intf_linux.go
  go-controller/pkg/node/iptables/iptables.go
  go-controller/pkg/node/node.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/util/iptables.go
  go-controller/vendor/github.com/coreos/go-iptables/iptables/iptables.go
  go-controller/vendor/modules.txt
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#2183 OCPBUGS-34405: [release-4.14] dns: fix deadlock in case of error
  go-controller/pkg/ovn/egressfirewall_dns.go
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#2170 [release-4.14] OCPBUGS-33721: use a forked version of j-keck/arping that fixes a threading issue
  go-controller/go.mod
  go-controller/go.sum
  go-controller/vendor/github.com/j-keck/arping/arping.go
  go-controller/vendor/github.com/j-keck/arping/arping_bsd.go
  go-controller/vendor/github.com/j-keck/arping/arping_linux.go
  go-controller/vendor/github.com/j-keck/arping/arping_windows.go
  go-controller/vendor/modules.txt
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference
