Repository openshift/ovn-kubernetes, pull requests merged in 2024-09, with the labels that each got.

#2271 [release-4.16] OCPBUGS-38705: Delete EgressIP LRP stale nexthops when node is not found
  go-controller/pkg/libovsdb/ops/router.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#2276 SDN-4930,OCPBUGS-38949: Downstream Merge 28th August
  go-controller/pkg/network-attach-def-controller/network_manager.go
  go-controller/pkg/network-controller-manager/node_network_controller_manager.go
  go-controller/pkg/node/gateway_udn.go
  go-controller/pkg/node/gateway_udn_test.go
  go-controller/pkg/node/iprulemanager/ip_rule_manager.go
  go-controller/pkg/node/management-port_dpu_test.go
  go-controller/pkg/node/secondary_node_network_controller.go
  go-controller/pkg/node/secondary_node_network_controller_test.go
  go-controller/pkg/ovn/gatewayrouter/policybasedroutes.go
  go-controller/pkg/ovn/gatewayrouter/policybasedroutes_test.go
  go-controller/pkg/util/node_annotations.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#2275 OCPBUGS-38263: [release-4.14] Bump OVSDBTimeout and make it configurable
  go-controller/pkg/config/config.go
  go-controller/pkg/libovsdb/libovsdb.go
  go-controller/pkg/libovsdb/ops/acl.go
  go-controller/pkg/libovsdb/ops/address_set.go
  go-controller/pkg/libovsdb/ops/chassis.go
  go-controller/pkg/libovsdb/ops/lbgroup.go
  go-controller/pkg/libovsdb/ops/loadbalancer.go
  go-controller/pkg/libovsdb/ops/model_client.go
  go-controller/pkg/libovsdb/ops/portgroup.go
  go-controller/pkg/libovsdb/ops/qos.go
  go-controller/pkg/libovsdb/ops/router.go
  go-controller/pkg/libovsdb/ops/switch.go
  go-controller/pkg/libovsdb/ops/template_var.go
  go-controller/pkg/libovsdb/ops/transact.go
  go-controller/pkg/ovn/controller/unidling/unidle.go
  go-controller/pkg/ovn/controller/unidling/unidle_test.go
  go-controller/pkg/ovn/egressfirewall_test.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/pods_test.go
  go-controller/pkg/ovn/policy_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#2278 OCPBUGS-24386: [release-4.16] EgressService: Fix ETP=Local ingress reply for LGW
  go-controller/pkg/node/controllers/egressservice/egressservice_node.go
  go-controller/pkg/node/egress_service_test.go
  test/e2e/egress_services.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#2283 SDN-4919,OCPBUGS-39406: Downstream Merge 28th August
  go-controller/pkg/network-attach-def-controller/network_manager.go
  go-controller/pkg/network-controller-manager/node_network_controller_manager.go
  go-controller/pkg/node/gateway_udn.go
  go-controller/pkg/node/gateway_udn_test.go
  go-controller/pkg/node/iprulemanager/ip_rule_manager.go
  go-controller/pkg/node/management-port_dpu_test.go
  go-controller/pkg/node/secondary_node_network_controller.go
  go-controller/pkg/node/secondary_node_network_controller_test.go
  go-controller/pkg/ovn/gatewayrouter/policybasedroutes.go
  go-controller/pkg/ovn/gatewayrouter/policybasedroutes_test.go
  go-controller/pkg/util/node_annotations.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#2282 [release-4.16] OCPBUGS-38697: Use more exact name match when deleting static routes to HO nodes.
  go-controller/pkg/ovn/hybrid.go
  go-controller/pkg/ovn/hybrid_test.go
  go-controller/pkg/ovn/master.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#2289 OCPBUGS-38264: [release-4.13] Bump OVSDBTimeout and make it configurable
  go-controller/pkg/config/config.go
  go-controller/pkg/libovsdb/libovsdb.go
  go-controller/pkg/libovsdbops/acl.go
  go-controller/pkg/libovsdbops/address_set.go
  go-controller/pkg/libovsdbops/chassis.go
  go-controller/pkg/libovsdbops/lbgroup.go
  go-controller/pkg/libovsdbops/loadbalancer.go
  go-controller/pkg/libovsdbops/model_client.go
  go-controller/pkg/libovsdbops/portgroup.go
  go-controller/pkg/libovsdbops/qos.go
  go-controller/pkg/libovsdbops/router.go
  go-controller/pkg/libovsdbops/switch.go
  go-controller/pkg/libovsdbops/template_var.go
  go-controller/pkg/libovsdbops/transact.go
  go-controller/pkg/ovn/controller/unidling/unidle.go
  go-controller/pkg/ovn/controller/unidling/unidle_test.go
  go-controller/pkg/ovn/egressfirewall_test.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/pods_test.go
  go-controller/pkg/ovn/policy_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#2297 SDN-4930: Bump OVN to ovn24.09-24.09.0-beta.31.el9fdp
  Dockerfile.base
Labels: approved, lgtm, qe-approved, jira/valid-reference
