Repository openshift/ovn-kubernetes, pull requests merged in 2024-11, with the labels that each got.

#2334 SDN-4930, OCPBUGS-41499: Downstream Merge [10-31-2024]
  .github/workflows/test.yml
  docs/features/multiple-networks/multi-homing.md
  go-controller/hack/lint.sh
  go-controller/hack/test-go.sh
  go-controller/pkg/clustermanager/network_cluster_controller.go
  go-controller/pkg/clustermanager/node/node_allocator.go
  go-controller/pkg/clustermanager/pod/allocator.go
  go-controller/pkg/cni/types/types.go
  go-controller/pkg/network-controller-manager/node_network_controller_manager.go
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/node/gateway.go
  go-controller/pkg/node/gateway_init.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_localnet.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/gateway_udn.go
  go-controller/pkg/node/gateway_udn_test.go
  go-controller/pkg/node/openflow_manager.go
  go-controller/pkg/node/ovn_test.go
  go-controller/pkg/node/secondary_node_network_controller.go
  go-controller/pkg/node/secondary_node_network_controller_test.go
  go-controller/pkg/node/vrfmanager/vrf_manager.go
  go-controller/pkg/node/vrfmanager/vrf_manager_test.go
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/base_network_controller_secondary.go
  go-controller/pkg/ovn/base_network_controller_secondary_test.go
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/ovn/gateway.go
  go-controller/pkg/ovn/multihoming_test.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods_test.go
  go-controller/pkg/ovn/secondary_layer2_network_controller.go
  go-controller/pkg/ovn/secondary_layer2_network_controller_test.go
  go-controller/pkg/ovn/secondary_layer3_network_controller_test.go
  go-controller/pkg/ovn/secondary_localnet_network_controller.go
  go-controller/pkg/ovn/zone_interconnect/zone_ic_handler.go
  go-controller/pkg/testing/nad/netattach.go
  go-controller/pkg/types/const.go
  go-controller/pkg/util/multi_network.go
  go-controller/pkg/util/node_annotations.go
  go-controller/pkg/util/node_annotations_unit_test.go
  test/e2e/e2e.go
  test/e2e/egressip.go
  test/e2e/external_gateways.go
  test/e2e/localnet-underlay.go
  test/e2e/multi_node_zones_interconnect.go
  test/e2e/multicast.go
  test/e2e/multihoming.go
  test/e2e/multihoming_utils.go
  test/e2e/network_segmentation.go
  test/e2e/network_segmentation_services.go
  test/e2e/node_ip_mac_migration.go
  test/e2e/pod.go
  test/e2e/service.go
  test/e2e/util.go
  test/scripts/e2e-kind.sh
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference

#2327 OKD-227: bump ovn version to 24.09.0-41 for OKD
  Dockerfile.base
Labels: approved, lgtm, jira/valid-reference

#2316 OCPBUGS-42940: Fix egress gateway pod cleanup for remote zone pods.
  go-controller/pkg/ovn/ovn.go
  test/e2e/external_gateways.go
  test/scripts/e2e-cp.sh
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#2315 [release-4.17] OCPBUGS-42931: Add static route to the hairpin masquerade IPs to pod
  go-controller/pkg/allocator/pod/pod_annotation_test.go
  go-controller/pkg/ovn/pods_test.go
  go-controller/pkg/util/pod_annotation.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#2344 OCPBUGS-44379: Revert "Pin libreswan to the known working version 4.5"
  Dockerfile
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#2328 [release-4.16] OCPBUGS-43344: Add SDN node subnet gateway IP to host-network address_set
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/namespace_test.go
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#2340 [release-4.17] OCPBUGS-44303: Add hybird overlay pod IPs to the namespace address_set
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#2350 [sandbox-release-4.17] SDN-5297: 4.17 sandbox merge 11-12-2024
  Dockerfile.base
  go-controller/pkg/allocator/pod/pod_annotation_test.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods_test.go
  go-controller/pkg/util/pod_annotation.go
  test/e2e/external_gateways.go
  test/scripts/e2e-cp.sh
Labels: approved, lgtm, jira/valid-reference

#2356 OCPBUGS-42944: Fix egress gateway pod cleanup for remote zone pods.
  go-controller/pkg/ovn/ovn.go
  test/e2e/external_gateways.go
  test/scripts/e2e-cp.sh
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#2359 OCPBUGS-44782: Bump ovs to 3.1.0-137
  Dockerfile.base
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#2362 [release-4.17] OCPBUGS-43454: Ignore cluster manager topology not managed errors for localnet with no subnets
  go-controller/pkg/clustermanager/secondary_network_cluster_manager.go
  go-controller/pkg/network-attach-def-controller/network_manager.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#2361 [release-4.14] OCPBUGS-44793: Delete EgressIP LRP stale nexthops when node is not found
  go-controller/pkg/libovsdb/ops/router.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#2360 OCPBUGS-44784: Bump ovs to 3.1.0-137
  Dockerfile.base
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference
