Repository openshift/ovn-kubernetes, pull requests merged in 2024-03, with the labels that each got.

#2074 OCPBUGS-29599: Update HostNetworkNamespace address_set for remote zone nodes
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/namespace.go
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#2090 OCPBUGS-29851: Egress IP, Services: use all node IP addresses
  go-controller/pkg/ovn/controller/egress_services/egress_services_controller.go
  go-controller/pkg/ovn/controller/egress_services/egress_services_node.go
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/egressservices_test.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/util/node_annotations.go
  go-controller/pkg/util/util.go
  test/e2e/egress_services.go
  test/e2e/egressip.go
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#2093 OCPBUGS-27821: [DownstreamMerge] 3-8-24
  README.md
  contrib/kind.sh
  dist/images/daemonset.sh
  dist/images/ovnkube.sh
  dist/templates/ovnkube-db-raft.yaml.j2
  dist/templates/ovnkube-db.yaml.j2
  dist/templates/ovnkube-single-node-zone.yaml.j2
  dist/templates/ovnkube-zone-controller.yaml.j2
  go-controller/pkg/cni/helper_linux.go
  go-controller/pkg/cni/helper_linux_test.go
  go-controller/pkg/config/config.go
  go-controller/pkg/libovsdb/util/acl.go
  go-controller/pkg/libovsdb/util/acl_test.go
  go-controller/pkg/node/controllers/egressip/egressip.go
  go-controller/pkg/node/gateway_init.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/iptables/iptables_manager.go
  go-controller/pkg/node/management-port_linux.go
  go-controller/pkg/ovn/baseline_admin_network_policy_test.go
  go-controller/pkg/ovn/controller/admin_network_policy/admin_network_policy.go
  go-controller/pkg/ovn/controller/admin_network_policy/baseline_admin_network_policy.go
  go-controller/pkg/ovn/controller/admin_network_policy/types.go
  go-controller/pkg/ovn/controller/admin_network_policy/utils.go
  go-controller/pkg/ovn/egressfirewall_test.go
  go-controller/pkg/ovn/egressqos.go
  go-controller/pkg/ovn/egressqos_test.go
  go-controller/pkg/ovn/external_ids_syncer/acl/acl_sync.go
  go-controller/pkg/ovn/external_ids_syncer/acl/acl_sync_test.go
  go-controller/pkg/ovn/gress_policy.go
  go-controller/pkg/ovn/gress_policy_test.go
  go-controller/pkg/ovn/policy_stale_test.go
  go-controller/pkg/ovn/policy_test.go
  go-controller/pkg/util/kube.go
  go-controller/pkg/util/net_linux.go
  test/e2e/egress_firewall.go
  test/e2e/egress_services.go
  test/e2e/kubevirt.go
  test/e2e/kubevirt/echoserver/main.go
  test/scripts/e2e-cp.sh
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference

#2091 [release-4.14] OCPBUGS-29606: Update HostNetworkNamespace address_set for remote zone nodes
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/namespace.go
Labels: approved, lgtm, ok-to-test, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#2076 [release-4.14] OCPBUGS-29342: AdminPolicyBasedExternalRoute CRD failing to watch and reconcile routes for later pods
  go-controller/pkg/ovn/controller/apbroute/external_controller_namespace_test.go
  go-controller/pkg/ovn/controller/apbroute/external_controller_pod_test.go
  go-controller/pkg/ovn/controller/apbroute/external_controller_policy.go
  go-controller/pkg/ovn/controller/apbroute/external_controller_policy_test.go
  go-controller/pkg/ovn/controller/apbroute/gateway_info/gateway_info.go
  go-controller/pkg/ovn/controller/apbroute/master_controller.go
  go-controller/pkg/ovn/controller/apbroute/network_client.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#2097 [release-4.13] OCPBUGS-28983,OCPBUGS-30920: Update netpol namespace address sets usage to the old ways
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#2083 OCPBUGS-24007: Remove unnecessary rhel8 build layer
  Dockerfile
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference
