Repository openshift/ovn-kubernetes, pull requests merged in 2024-01, with the labels that each got.

#2010 OCPBUGS-18716: [DownstreamMerge] 1-5-24
  .github/workflows/test.yml
  CODEOWNERS
  dist/images/Dockerfile.fedora
  go-controller/pkg/config/config.go
  go-controller/pkg/informer/informer_test.go
  go-controller/pkg/node/controllers/egressip/egressip.go
  go-controller/pkg/node/controllers/egressip/egressip_test.go
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/node/egress_service_test.go
  go-controller/pkg/node/gateway.go
  go-controller/pkg/node/gateway_init.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_localnet.go
  go-controller/pkg/node/gateway_localnet_linux_test.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/linkmanager/link_network_manager.go
  go-controller/pkg/node/linkmanager/link_network_manager_test.go
  go-controller/pkg/node/openflow_manager.go
  go-controller/pkg/util/ovs.go
  test/e2e/go.mod
  test/e2e/node_ip_mac_migration.go
  test/e2e/service.go
  test/scripts/e2e-cp.sh
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference

#2004 [release-4.13] OCPBUGS-25923: Forward ICMP packets to OVN loadbalancer
  go-controller/pkg/node/gateway_localnet_linux_test.go
  go-controller/pkg/node/gateway_shared_intf.go
  test/e2e/service.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#2011 [release-4.13] OCPBUGS-26242: Fix Egress IP Deletion Handler to Prevent OVN Policy Leaks
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#2006 [release-4.12] OCPBUGS-26243: Fix Egress IP Deletion Handler to Prevent OVN Policy Leaks
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1967 [release-4.14] OCPBUGS-24326: APB External Route: Add IPv4 and IPv6 validation in CRD schema for static hop IP field
  dist/templates/k8s.ovn.org_adminpolicybasedexternalroutes.yaml.j2
  go-controller/pkg/crd/adminpolicybasedroute/v1/types.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#1977 [release-4.12] OCPBUGS-23981: Netpol retryFramework cleanup
  go-controller/pkg/factory/factory.go
  go-controller/pkg/ovn/obj_retry_master.go
  go-controller/pkg/ovn/policy.go
  go-controller/pkg/ovn/policy_test.go
  go-controller/pkg/retry/obj_retry.go
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#1998 OCPBUGS-25395: [release-4.15] Update namespace-owned port group (that used to be managed by multicast)
  go-controller/pkg/libovsdb/ops/portgroup.go
  go-controller/pkg/ovn/base_network_controller_namespace.go
  go-controller/pkg/ovn/base_network_controller_pods.go
  go-controller/pkg/ovn/namespace_test.go
  go-controller/pkg/ovn/pods_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#1981 OCPBUGS-25081: Update ACL syncer: make default deny acls filter more strict,
  go-controller/pkg/libovsdb/ops/portgroup.go
  go-controller/pkg/ovn/external_ids_syncer/acl/acl_sync.go
  go-controller/pkg/ovn/external_ids_syncer/acl/acl_sync_test.go
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1995 OCPBUGS-27285: Dockerfile: Bump OVS to openvswitch3.1-3.1.0-73.el9fdp
  Dockerfile.base
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#1971 OCPBUGS-24419: OVNK/GW: Ignore headless services in syncServices
  go-controller/pkg/node/gateway_shared_intf.go
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#1972 OCPBUGS-24420: OVNK/GW: Ignore headless services in syncServices
  go-controller/pkg/node/gateway_shared_intf.go
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#2018 OCPBUGS-23430,OCPBUGS-24363,OCPBUGS-27211,OCPBUGS-26023: [DownstreamMerge] Merge 1-16-24
  .github/workflows/test.yml
  Dockerfile.base
  README.md
  community-meeting-info.md
  contrib/kind.sh
  dist/images/Dockerfile.fedora
  dist/images/daemonset.sh
  dist/templates/ovnkube-single-node-zone.yaml.j2
  docs/multi-homing.md
  go-controller/pkg/clustermanager/egressip_controller.go
  go-controller/pkg/clustermanager/egressip_controller_test.go
  go-controller/pkg/clustermanager/egressip_event_handler.go
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_iptables.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/ovn/controller/services/lb_config.go
  go-controller/pkg/ovn/egressqos.go
  go-controller/pkg/ovn/egressqos_test.go
  go-controller/pkg/ovn/hybrid.go
  go-controller/pkg/util/kube.go
  go-controller/pkg/util/kube_test.go
  tasks.md
  test/e2e/egressip.go
  test/e2e/service.go
Labels: approved, lgtm, qe-approved, jira/valid-bug, jira/severity-critical, jira/valid-reference

#2020 [release-4.15] OCPBUGS-27255: Ensure session affinity cleanup on backend removal
  Dockerfile.base
  test/e2e/service.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#2015 OCPBUGS-26700: [release-4.12] fixes MTU configuration on gateway router
  go-controller/pkg/ovn/gateway_init.go
  go-controller/pkg/ovn/gateway_test.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/util/util.go
  test/e2e/service.go
  test/e2e/util.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#1956 [release-4.14] OCPBUGS-23395: Egressfirewall use port groups
  go-controller/pkg/libovsdb/ops/portgroup.go
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/base_network_controller_multicast.go
  go-controller/pkg/ovn/base_network_controller_namespace.go
  go-controller/pkg/ovn/base_network_controller_pods.go
  go-controller/pkg/ovn/base_network_controller_secondary.go
  go-controller/pkg/ovn/egressfirewall.go
  go-controller/pkg/ovn/egressfirewall_test.go
  go-controller/pkg/ovn/multicast_test.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/namespace_test.go
  go-controller/pkg/ovn/ovn_test.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/pods_test.go
  go-controller/pkg/util/batching/batch.go
  go-controller/pkg/util/batching/batch_test.go
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#2021 [release-4.14] OCPBUGS-27256: Ensure session affinity cleanup on backend removal
  Dockerfile.base
  test/e2e/service.go
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#2028 OCPBUGS-27947: [release-4.15] Fix LGW ETP=Local on IPv6
  go-controller/pkg/ovn/controller/services/lb_config.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference
