Repository openshift/ovn-kubernetes, pull requests merged in 2025-08, with the labels that each got.

#2690 [release-4.18] OCPBUGS-59531: EgressIP: fix startup syncer
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/external_ids_syncer/logical_router_policy/logical_router_policy_sync.go
  go-controller/pkg/ovn/external_ids_syncer/logical_router_policy/logical_router_policy_sync_test.go
  go-controller/pkg/ovn/external_ids_syncer/nat/nat_sync.go
  go-controller/pkg/ovn/external_ids_syncer/nat/nat_sync_test.go
Labels: approved, lgtm, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#2697 OCPBUGS-59934: Dockerfile: Remove ovs version pinning
  Dockerfile.base
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#2698 OCPBUGS-59935: Dockerfile: Remove ovs version pinning
  Dockerfile.base
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#2701 NO-JIRA: Bump OVN to 25.03
  Dockerfile.base
Labels: approved, lgtm, qe-approved, jira/valid-reference

#2700 OCPBUGS-48710: Update OWNERS file: Add Patryk/Martin as approvers
  OWNERS
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference
