Repository openshift/ovn-kubernetes, pull requests merged in 2025-03, with the labels that each got.

#2456 [release-4.16] OCPBUGS-50594: fixes overzealous deletion of SNAT in egressIP
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/pods_test.go
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#2476 [release-4.17] OCPBUGS-52409: Change dynamic_neigh_routers to false for the Interconnect topology.
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/gateway.go
  go-controller/pkg/ovn/gateway_test.go
  go-controller/pkg/ovn/secondary_layer3_network_controller_test.go
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#2469 [release-4.16] OCPBUGS-50595: kubevirt, localnet: Reduce live migration downtime
  go-controller/pkg/kubevirt/pod.go
  go-controller/pkg/kubevirt/pod_test.go
  go-controller/pkg/libovsdb/ops/model.go
  go-controller/pkg/libovsdb/ops/switch.go
  go-controller/pkg/ovn/base_network_controller_pods.go
  go-controller/pkg/ovn/base_network_controller_secondary.go
  go-controller/pkg/ovn/multihoming_test.go
  go-controller/pkg/ovn/multipolicy_test.go
  go-controller/pkg/ovn/ovn_test.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/pods_test.go
  go-controller/pkg/ovn/secondary_layer2_network_controller_test.go
  go-controller/pkg/ovn/secondary_layer3_network_controller_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#2493 OCPBUGS-48678: Update OVN to FDP25.A.1 24.09.2-41
  Dockerfile.base
Labels: approved, lgtm, qe-approved, jira/valid-bug, jira/severity-critical, jira/valid-reference, acknowledge-critical-fixes-only

#2497 [release-4.16] OCPBUGS-54204: Update OVN to FDP25.A.1 24.03.5-40.
  Dockerfile.base
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference
