Repository openshift/ovn-kubernetes, pull requests merged in 2025-04, with the labels that each got.

#2509 OCPBUGS-49994: [DownstreamMerge] 7th april
  .github/workflows/docker.yml
  .github/workflows/test.yml
  contrib/kind-common
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference

#2492 OCPBUGS-53384: [release-4.15] Dockerfile.base: bump OVS version to 3.3
  Dockerfile.base
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#2498 CORENET-5382: unpin libreswan version
  Dockerfile
Labels: approved, lgtm, jira/valid-reference

#2510 OCPBUGS-54671: EIP no reroute: allow multiple entries for pod to pod and pod to join
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#2472 CORENET-5371: Dockerfile: Bump OVS version to 3.5.0-0.9
  Dockerfile.base
Labels: approved, lgtm, jira/valid-reference

#2503 crds,cudn: Support localnet topology
  dist/templates/k8s.ovn.org_clusteruserdefinednetworks.yaml.j2
  dist/templates/k8s.ovn.org_userdefinednetworks.yaml.j2
  docs/api-reference/userdefinednetwork-api-spec.md
  go-controller/pkg/clustermanager/userdefinednetwork/template/net-attach-def-template.go
  go-controller/pkg/clustermanager/userdefinednetwork/template/net-attach-def-template_test.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/applyconfiguration/userdefinednetwork/v1/accessvlanconfig.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/applyconfiguration/userdefinednetwork/v1/localnetconfig.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/applyconfiguration/userdefinednetwork/v1/networkspec.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/applyconfiguration/userdefinednetwork/v1/vlanconfig.go
  go-controller/pkg/crd/userdefinednetwork/v1/apis/applyconfiguration/utils.go
  go-controller/pkg/crd/userdefinednetwork/v1/cudn.go
  go-controller/pkg/crd/userdefinednetwork/v1/shared.go
  go-controller/pkg/crd/userdefinednetwork/v1/spec.go
  go-controller/pkg/crd/userdefinednetwork/v1/udn.go
  go-controller/pkg/crd/userdefinednetwork/v1/zz_generated.deepcopy.go
  test/e2e/network_segmentation_api_validations.go
  test/e2e/network_segmentation_localnet.go
  test/e2e/testdata/cudn/invalid-scenarios-localnet-mtu.go
  test/e2e/testdata/cudn/invalid-scenarios-localnet-phynetname.go
  test/e2e/testdata/cudn/invalid-scenarios-localnet-role.go
  test/e2e/testdata/cudn/invalid-scenarios-localnet-subnets.go
  test/e2e/testdata/cudn/invalid-scenarios-localnet-vlan.go
  test/e2e/testdata/cudn/invalid-scenarios-mismatch-topo-conf.go
  test/e2e/testdata/cudn/valid-scenarios-localnet.go
  test/e2e/testdata/scenario.go
Labels: do-not-merge/work-in-progress

#2454 OCPBUGS-50583: Bump OVN to 23.09.6-12 to consume fix for FDP-905
  Dockerfile.base
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#2455 OCPBUGS-50584: Bump OVN to 23.09.6-12 to consume fix for FDP-905
  Dockerfile.base
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#2521 CORENET-5786: Downstream merge 2025-04-25
  .github/workflows/docs.yml
  dist/READMEcontainer.md
  docs/developer-guide/image-build.md
  docs/images/ovn-inside-k8s-stacked.png
  docs/images/ovn-inside-k8s.png
  docs/index.md
  docs/installation/launching-ovn-kubernetes-on-kind.md
  docs/installation/launching-ovn-kubernetes-with-helm.md
  docs/observability/ovn-observability.md
  go-controller/cmd/ovnkube/ovnkube.go
  go-controller/pkg/cni/cni.go
  go-controller/pkg/cni/cni_test.go
  go-controller/pkg/cni/cniserver.go
  go-controller/pkg/cni/cniserver_test.go
  go-controller/pkg/cni/types.go
  go-controller/pkg/controllermanager/node_controller_manager.go
  go-controller/pkg/controllermanager/node_controller_manager_test.go
  go-controller/pkg/node/base_node_network_controller_dpu_test.go
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/gateway_udn.go
  go-controller/pkg/node/gateway_udn_test.go
  go-controller/pkg/node/ovn_test.go
  helm/basic-deploy.sh
  helm/ovn-kubernetes/README.md
  helm/ovn-kubernetes/README.md.gotmpl
  mkdocs.yml
  requirements.txt
  test/e2e/multihoming.go
  test/e2e/route_advertisements.go
Labels: approved, lgtm, jira/valid-reference

#2522 OCPBUGS-52278, OCPBUGS-51165: Downstream Merge 28th april 2025
  go-controller/pkg/node/gateway.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/gateway_udn.go
  go-controller/pkg/node/gateway_udn_test.go
  test/e2e/route_advertisements.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, acknowledge-critical-fixes-only
