Repository openshift/ovn-kubernetes, pull requests merged in 2025-01, with the labels that each got.

#2399 [release-4.15] OCPBUGS-44708: Add hybird overlay pod IPs to the namespace address_set
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#2390 OCPBUGS-42707: Bump OVN to ovn24.09-24.09.1-10.el9fdp
  Dockerfile.base
Labels: approved, lgtm, qe-approved, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#2427 SDN-4930: Downstream Merge [01-28-2025]
  contrib/kind-helm.sh
  docs/developer-guide/image-build.md
  docs/installation/launching-ovn-kubernetes-with-helm.md
  go-controller/pkg/clustermanager/network_cluster_controller.go
  go-controller/pkg/factory/factory.go
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/retry/obj_retry.go
  go-controller/pkg/util/multi_network.go
  helm/ovn-kubernetes/Chart.yaml
  helm/ovn-kubernetes/README.md
  helm/ovn-kubernetes/README.md.gotmpl
  helm/ovn-kubernetes/values-multi-node-zone.yaml
  helm/ovn-kubernetes/values-no-ic.yaml
  helm/ovn-kubernetes/values-single-node-zone.yaml
  test/e2e/multihoming.go
Labels: approved, lgtm, jira/valid-reference, acknowledge-critical-fixes-only

#2429 SDN-4930: [DownstreamMerge] 1-29-25
  go-controller/pkg/clustermanager/egressip_event_handler.go
  go-controller/pkg/clustermanager/network_cluster_controller.go
  go-controller/pkg/clustermanager/pod/allocator.go
  go-controller/pkg/clustermanager/userdefinednetwork/controller_test.go
  go-controller/pkg/clustermanager/zone_cluster_controller.go
  go-controller/pkg/node/obj_retry_gateway.go
  go-controller/pkg/node/obj_retry_node.go
  go-controller/pkg/node/obj_retry_test_helper.go
  go-controller/pkg/node/secondary_node_network_controller.go
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/base_network_controller_pods.go
  go-controller/pkg/ovn/base_network_controller_secondary.go
  go-controller/pkg/ovn/base_secondary_layer2_network_controller.go
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/ovn/multicast_test.go
  go-controller/pkg/ovn/multipolicy_test.go
  go-controller/pkg/ovn/network_controller_policy_event_handler.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/secondary_layer2_network_controller.go
  go-controller/pkg/ovn/secondary_layer3_network_controller.go
  go-controller/pkg/ovn/secondary_localnet_network_controller.go
  go-controller/pkg/ovn/zone_interconnect/zone_ic_handler.go
  go-controller/pkg/retry/obj_retry.go
  go-controller/pkg/types/const.go
  go-controller/pkg/util/multi_network.go
  go-controller/pkg/util/node_annotations.go
  go-controller/pkg/util/subnet_annotations.go
Labels: approved, lgtm, jira/valid-reference, acknowledge-critical-fixes-only
