Repository openshift/ovn-kubernetes, pull requests merged in 2025-06, with the labels that each got.

#2591 OCPBUGS-56812: egressfirewall: avoid nil dereference on node delete
  go-controller/pkg/ovn/egressfirewall.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#2627 OCPBUGS-44481: DownStream Merge [06-10-2025]
  .github/workflows/test.yml
  contrib/kind-common
  go-controller/pkg/clustermanager/userdefinednetwork/template/net-attach-def-template.go
  go-controller/pkg/clustermanager/userdefinednetwork/template/net-attach-def-template_test.go
  go-controller/pkg/kubevirt/router.go
  go-controller/pkg/libovsdb/util/router.go
  go-controller/pkg/libovsdb/util/router_test.go
  go-controller/pkg/node/default_node_network_controller_test.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_shared_intf.go
  go-controller/pkg/node/managementport/port_linux.go
  go-controller/pkg/node/managementport/port_linux_test.go
  go-controller/pkg/node/obj_retry_node.go
  go-controller/pkg/ovn/controller/egressservice/egressservice_zone.go
  go-controller/pkg/ovn/controller/egressservice/egressservice_zone_node.go
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/egressip_udn_l2_test.go
  go-controller/pkg/ovn/egressip_udn_l3_test.go
  go-controller/pkg/ovn/egressservices_test.go
  go-controller/pkg/ovn/hybrid.go
  go-controller/pkg/ovn/hybrid_test.go
  go-controller/pkg/ovn/kubevirt_test.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/master_test.go
  go-controller/pkg/ovn/ovn.go
  go-controller/pkg/ovn/secondary_layer2_network_controller.go
  go-controller/pkg/ovn/secondary_layer3_network_controller.go
  go-controller/pkg/ovn/zone_interconnect/zone_ic_handler.go
  go-controller/pkg/ovnwebhook/nodeadmission.go
  go-controller/pkg/types/const.go
  go-controller/pkg/util/node_annotations.go
  go-controller/pkg/util/node_annotations_unit_test.go
  mkdocs.yml
  test/scripts/e2e-cp.sh
  test/scripts/e2e-kind.sh
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference

#2624 [release-4.16] OCPBUGS-48121: Increase InformerSyncTimeout to 60s
  go-controller/pkg/types/const.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#2620 [release-4.17] OCPBUGS-57109: Fix hybrid overlay node subnets collision with cluster subnets
  go-controller/pkg/clustermanager/node/node_allocator.go
  go-controller/pkg/clustermanager/node/node_allocator_test.go
  go-controller/pkg/clustermanager/node/subnet_allocator.go
  go-controller/pkg/clustermanager/node/subnet_allocator_test.go
  go-controller/pkg/util/net.go
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#2621 [release-4.16] OCPBUGS-55282: Fix hybrid overlay node subnets collision with cluster subnets
  go-controller/pkg/clustermanager/node/node_allocator.go
  go-controller/pkg/clustermanager/node/node_allocator_test.go
  go-controller/pkg/clustermanager/node/subnet_allocator.go
  go-controller/pkg/clustermanager/node/subnet_allocator_test.go
  go-controller/pkg/util/net.go
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#2645 [release-4.16] OCPBUGS-57396: Fix predicate for cluster subnet route to gateway router
  go-controller/pkg/libovsdb/util/router.go
  go-controller/pkg/libovsdb/util/router_test.go
  go-controller/pkg/util/kube.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference
