Repository openshift/ovn-kubernetes, pull requests merged in 2025-10, with the labels that each got.

#2770 [release-4.20] OCPBUGS-62336: Fix EgressIP controller deadlock by sorting node locks lexicographically
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
Labels: approved, lgtm, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference, verified

#2751 OCPBUGS-61453: [4.20] allow default network -> localnet on the same node for any localnet subnet
  .github/workflows/test.yml
  go-controller/pkg/node/bridgeconfig/bridgeflows.go
  test/e2e/multihoming.go
  test/e2e/multihoming_external_router_utils.go
  test/e2e/multihoming_utils.go
  test/e2e/util.go
Labels: approved, lgtm, cherry-pick-approved, staff-eng-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference, verified

#2753 OCPBUGS-61454: [4.19] allow default network -> localnet on the same node for any localnet subnet
  .github/workflows/test.yml
  go-controller/pkg/node/bridgeconfig/bridgeflows.go
  test/e2e/multihoming.go
  test/e2e/multihoming_external_router_utils.go
  test/e2e/multihoming_utils.go
  test/e2e/util.go
Labels: approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/invalid-bug, jira/valid-reference, verified
