Repository openshift/ovn-kubernetes, pull requests merged in 2025-02, with the labels that each got.

#2431 OCPBUGS-49727, OCPBUGS-49621: [DownstreamMerge] 1-31-25
  dist/templates/k8s.ovn.org_clusteruserdefinednetworks.yaml.j2
  dist/templates/k8s.ovn.org_userdefinednetworks.yaml.j2
  go-controller/pkg/crd/userdefinednetwork/v1/shared.go
  go-controller/pkg/ovn/base_network_controller_secondary.go
  go-controller/pkg/ovn/base_network_controller_secondary_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, acknowledge-critical-fixes-only

#2434 OCPBUGS-45893: [DownstreamMerge] 2-4-25
  .github/workflows/test.yml
  CONTRIBUTING.md
  README.md
  REVIEWING.md
  dist/templates/k8s.ovn.org_clusteruserdefinednetworks.yaml.j2
  docs/governance/CONTRIBUTING.md
  docs/governance/REVIEWING.md
  go-controller/observability-lib/sampledecoder/sample_decoder.go
  go-controller/pkg/clustermanager/routeadvertisements/controller_test.go
  go-controller/pkg/clustermanager/userdefinednetwork/controller.go
  go-controller/pkg/clustermanager/userdefinednetwork/controller_test.go
  go-controller/pkg/clustermanager/userdefinednetwork/template/net-attach-def-template.go
  go-controller/pkg/clustermanager/userdefinednetwork/template/net-attach-def-template_test.go
  go-controller/pkg/crd/userdefinednetwork/v1/cudn.go
  go-controller/pkg/factory/handler.go
  go-controller/pkg/util/multi_network.go
  test/e2e/go.mod
  test/e2e/go.sum
  test/e2e/images/crictl.go
  test/e2e/kubevirt.go
  test/e2e/kubevirt/ip.go
  test/e2e/kubevirt/pod.go
  test/e2e/kubevirt/types.go
  test/e2e/multihoming_utils.go
  test/e2e/network_segmentation.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#2441 OCPBUGS-45469, OCPBUGS-49337: [DownstreamMerge] 2-6-25
  go-controller/pkg/kubevirt/pod.go
  go-controller/pkg/node/linkmanager/link_network_manager.go
  go-controller/pkg/ovn/base_network_controller_pods.go
  go-controller/pkg/ovn/base_network_controller_secondary.go
  go-controller/pkg/ovn/multihoming_test.go
  go-controller/pkg/ovn/ovn_test.go
  go-controller/pkg/ovn/secondary_layer2_network_controller.go
  go-controller/pkg/ovn/secondary_layer2_network_controller_test.go
  go-controller/pkg/ovn/secondary_layer3_network_controller_test.go
  go-controller/pkg/util/arp.go
  test/e2e/kubevirt.go
  test/e2e/kubevirt/net.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, acknowledge-critical-fixes-only

#2435 OCPBUGS-49840: Bump OVN to 24.09.2-14 for FDP-1131
  Dockerfile.base
Labels: approved, lgtm, qe-approved, jira/valid-bug, jira/severity-important, jira/valid-reference, acknowledge-critical-fixes-only

#2447 [release-4.18] OCPBUGS-49821,OCPBUGS-49856,OCPBUGS-48337,OCPBUGS-49857: [DownstreamMerge] 2-4-25
  .github/workflows/test.yml
  CONTRIBUTING.md
  README.md
  REVIEWING.md
  dist/templates/k8s.ovn.org_clusteruserdefinednetworks.yaml.j2
  docs/governance/CONTRIBUTING.md
  docs/governance/REVIEWING.md
  go-controller/observability-lib/sampledecoder/sample_decoder.go
  go-controller/pkg/clustermanager/routeadvertisements/controller_test.go
  go-controller/pkg/clustermanager/userdefinednetwork/controller.go
  go-controller/pkg/clustermanager/userdefinednetwork/controller_test.go
  go-controller/pkg/clustermanager/userdefinednetwork/template/net-attach-def-template.go
  go-controller/pkg/clustermanager/userdefinednetwork/template/net-attach-def-template_test.go
  go-controller/pkg/crd/userdefinednetwork/v1/cudn.go
  go-controller/pkg/factory/handler.go
  go-controller/pkg/kubevirt/pod.go
  go-controller/pkg/node/linkmanager/link_network_manager.go
  go-controller/pkg/ovn/base_network_controller_pods.go
  go-controller/pkg/ovn/base_network_controller_secondary.go
  go-controller/pkg/ovn/multihoming_test.go
  go-controller/pkg/ovn/ovn_test.go
  go-controller/pkg/ovn/secondary_layer2_network_controller.go
  go-controller/pkg/ovn/secondary_layer2_network_controller_test.go
  go-controller/pkg/ovn/secondary_layer3_network_controller_test.go
  go-controller/pkg/util/arp.go
  go-controller/pkg/util/multi_network.go
  test/e2e/go.mod
  test/e2e/go.sum
  test/e2e/images/crictl.go
  test/e2e/kubevirt.go
  test/e2e/kubevirt/ip.go
  test/e2e/kubevirt/net.go
  test/e2e/kubevirt/pod.go
  test/e2e/kubevirt/types.go
  test/e2e/multihoming_utils.go
  test/e2e/network_segmentation.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#2446 OCPBUGS-49933,OCPBUGS-49613: Downstream Merge 7th Feb 2025
  go-controller/go.mod
  go-controller/go.sum
  go-controller/pkg/factory/factory.go
  go-controller/pkg/factory/handler.go
  go-controller/pkg/node/default_node_network_controller.go
  go-controller/pkg/node/udn_isolation.go
  go-controller/pkg/node/udn_isolation_test.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/vendor/github.com/coreos/go-systemd/v22/LICENSE
  go-controller/vendor/github.com/coreos/go-systemd/v22/NOTICE
  go-controller/vendor/github.com/coreos/go-systemd/v22/dbus/dbus.go
  go-controller/vendor/github.com/coreos/go-systemd/v22/dbus/methods.go
  go-controller/vendor/github.com/coreos/go-systemd/v22/dbus/properties.go
  go-controller/vendor/github.com/coreos/go-systemd/v22/dbus/set.go
  go-controller/vendor/github.com/coreos/go-systemd/v22/dbus/subscription.go
  go-controller/vendor/github.com/coreos/go-systemd/v22/dbus/subscription_set.go
  go-controller/vendor/github.com/moby/sys/userns/LICENSE
  go-controller/vendor/github.com/moby/sys/userns/userns.go
  go-controller/vendor/github.com/moby/sys/userns/userns_linux.go
  go-controller/vendor/github.com/moby/sys/userns/userns_linux_fuzzer.go
  go-controller/vendor/github.com/moby/sys/userns/userns_unsupported.go
  go-controller/vendor/modules.txt
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, acknowledge-critical-fixes-only

#2425 [release-4.17] OCPBUGS-48828: fixes overzealous deletion of SNAT in egressIP
  go-controller/pkg/ovn/egressip.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/pods_test.go
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#2423 OCPBUGS-48777: Fixes unexpected mp0 route removal during start up
  go-controller/pkg/node/management-port_linux.go
  go-controller/pkg/util/net_linux.go
  go-controller/pkg/util/net_linux_unit_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#2459 OCPBUGS-49598, OCPBUGS-49393: [DownstreamMerge] 13 feb 2025
  contrib/kind.sh
  docs/features/multiple-networks/micro-segmentation-layer2-use-case.png
  docs/features/multiple-networks/micro-segmentation-localnet-use-case.png
  docs/features/multiple-networks/multi-homing-use-case-layer2.png
  docs/features/multiple-networks/multi-homing-use-case-localnet.png
  docs/features/multiple-networks/multi-homing.md
  docs/features/multiple-networks/multi-network-policies.md
  go-controller/observability-lib/model/network_event.go
  go-controller/observability-lib/model/network_event_test.go
  go-controller/pkg/clustermanager/egressip_controller_test.go
  go-controller/pkg/cni/cni.go
  go-controller/pkg/node/gateway_init_linux_test.go
  go-controller/pkg/node/gateway_iptables.go
  go-controller/pkg/node/gateway_localnet_linux_test.go
  go-controller/pkg/node/udn_isolation.go
  go-controller/pkg/node/udn_isolation_test.go
  go-controller/pkg/ovn/egressip_test.go
  go-controller/pkg/ovn/gateway.go
  go-controller/pkg/ovn/gateway_test.go
  go-controller/pkg/ovn/gress_policy.go
  go-controller/pkg/ovn/policy_test.go
  go-controller/pkg/ovn/secondary_layer3_network_controller_test.go
  test/e2e/e2e.go
  test/e2e/egress_firewall.go
  test/e2e/external_gateways.go
  test/e2e/multi_node_zones_interconnect.go
  test/e2e/node_ip_mac_migration.go
  test/e2e/util.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, acknowledge-critical-fixes-only

#2458 [release-4.17] OCPBUGS-50519: kubevirt, localnet: Reduce live migration downtime
  go-controller/pkg/kubevirt/pod.go
  go-controller/pkg/kubevirt/pod_test.go
  go-controller/pkg/libovsdb/ops/model.go
  go-controller/pkg/libovsdb/ops/switch.go
  go-controller/pkg/ovn/base_network_controller_pods.go
  go-controller/pkg/ovn/base_network_controller_secondary.go
  go-controller/pkg/ovn/multihoming_test.go
  go-controller/pkg/ovn/ovn_test.go
  go-controller/pkg/ovn/pods.go
  go-controller/pkg/ovn/secondary_layer2_network_controller_test.go
  go-controller/pkg/ovn/secondary_layer3_network_controller_test.go
  test/e2e/go.mod
  test/e2e/images/crictl.go
  test/e2e/kubevirt.go
  test/e2e/kubevirt/ip.go
  test/e2e/kubevirt/types.go
  test/e2e/multihoming_utils.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#2419 [release-4.15] OCPBUGS-43605: Add SDN node subnet gateway IP to host-network address_set
  go-controller/pkg/ovn/base_network_controller.go
  go-controller/pkg/ovn/default_network_controller.go
  go-controller/pkg/ovn/master.go
  go-controller/pkg/ovn/namespace.go
  go-controller/pkg/ovn/namespace_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference
